
@font-face {
	font-family: "FontVisShift";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/FontVisShift.svg') format("svg"),
	url('../fonts/FontVisShift.woff') format("woff"),
	url('../fonts/FontVisShift.ttf') format("truetype")
;
}

html, body {
	margin: 0;
	height: 100%;
}
#vis-container {
	position: relative;
	/*background: #ccc;*/
	height: 660px;
}

#graph-wrapper{
	margin: 5px 0px 0px;

	height: 630px;
	position: relative;
	background: #fff;
	overflow: hidden;
}
#graph-container{
	width: 100%;
	height: 100%;
	position: relative;

}
#graph-hover{
	position: absolute;
	display: none;

}
.graph-info-baloon{
	position: absolute;
	display: none;
	background-color: #dbffce;
	border: 1px solid green;
	border-radius: 3px;
	min-width: 150px;
}

.graph-info-more{
	margin: 5px;
}
#graph-info-user:after,
#graph-info-project:after
{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid #f00;
}

#graph-button-show,
#graph-button-load{
	position: absolute;
	width: 30px;
	height: 30px;
	display: none;
}

#graph-button-show{
	background-image: url("/img/graph/plus-show.png");
}
#graph-button-load{
	background-image: url("/img/graph/plus-load.png");
}


#graph-curtain{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
}
#graph-loader-wrap{
	margin: 20% auto 0;
	width: 128px;
}
#graph-curtain-text{
	text-align: center;
}

#graph-control-wrap{
	height: 32px;
}

#graph-control-close{
	background-image: url("/img/graph/close.png");
	width: 32px;
	height: 32px;
	float: right;
}

.graph-ctrl-item{
	display: inline-block;
	padding-right: 20px;
}
.graph-ctrl-item input{position: relative; top: 2px;}
.graph-ctrl-item label{
	padding-left: 4px;
}
.graph-ctrl-info{
	display: inline-block;
	padding: 7px 0 4px 0px;
}