
#wrapGEOL-tooltip {
	position: absolute;
	visibility: hidden;
	padding: 5px;
	white-space: nowrap;

	font-family: verdana;
	font-size:14px;
	color:#000000;
	background-color: #f5f4ed;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #808074;

	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	pointer-events: none;
}
#wrapGEOL div.GL-navigation div.GL-button {
	width:34px;
	height:34px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	position:absolute;
	display:inline-block;
	background-color: #fff;
	background-position: 2px 2px;
	background-repeat:no-repeat;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


}

#wrapGEOL div.GL-navigation div.GL-button:hover {
	box-shadow: 0 0 3px 3px rgba(56, 207, 21, 0.30);
}

#wrapGEOL div.GL-navigation div.GL-button:active {
	box-shadow: 0 0 1px 3px rgba(56, 207, 21, 0.95);
}

#wrapGEOL div.GL-navigation div.GL-button.GL-up {
	background-image: url("../img/uparrow.png");
	bottom:50px;
	left:55px;
}
#wrapGEOL div.GL-navigation div.GL-button.GL-down {
	background-image: url("../img/downarrow.png");
	bottom:10px;
	left:55px;
}
#wrapGEOL div.GL-navigation div.GL-button.GL-left {
	background-image: url("../img/leftarrow.png");
	bottom:10px;
	left:15px;
}
#wrapGEOL div.GL-navigation div.GL-button.GL-right {
	background-image: url("../img/rightarrow.png");
	bottom:10px;
	left:95px;
}
#wrapGEOL div.GL-navigation div.GL-button.GL-zoomIn {
	background-image: url("../img/plus.png");
	bottom:10px;
	right:15px;
}
#wrapGEOL div.GL-navigation div.GL-button.GL-zoomOut {
	background-image: url("../img/minus.png");
	bottom:10px;
	right:55px;
}
#wrapGEOL div.GL-navigation div.GL-button.GL-zoomExtends {
	background-image: url("../img/zoomextends.png");
	bottom:50px;
	right:15px;
}


#wrapGEOL div.GL-navigation div.GL-button.touch {
	width:94px;
	height:94px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	position:absolute;
	display:inline-block;
	background-position: 2px 2px;
	background-repeat:no-repeat;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#wrapGEOL div.GL-navigation div.GL-button.touch:hover {
	box-shadow: 0 0 3px 3px rgba(56, 207, 21, 0.30);
}

#wrapGEOL div.GL-navigation div.GL-button.touch:active {
	box-shadow: 0 0 1px 3px rgba(56, 207, 21, 0.95);
}

#wrapGEOL div.GL-navigation div.GL-button.touch.GL-up {
	background-image: url("../img/uparrow.png");
	bottom:115px;
	left:115px;
}
#wrapGEOL div.GL-navigation div.GL-button.touch.GL-down {
	background-image: url("../img/downarrow.png");
	bottom:10px;
	left:115px;
}
#wrapGEOL div.GL-navigation div.GL-button.touch.GL-left {
	background-image: url("../img/leftarrow.png");
	bottom:10px;
	left:15px;
}
#wrapGEOL div.GL-navigation div.GL-button.touch.GL-right {
	background-image: url("../img/rightarrow.png");
	bottom:10px;
	left:215px;
}
#wrapGEOL div.GL-navigation div.GL-button.touch.GL-zoomIn {
	background-image: url("../img/plus.png");
	bottom:10px;
	right:15px;
}
#wrapGEOL div.GL-navigation div.GL-button.touch.GL-zoomOut {
	background-image: url("../img/minus.png");
	bottom:10px;
	right:115px;
}


