

<style>
	#txtCnv{
		background-color: #566534;
	}
	#body88 {
		/* set margin to 0 and overflow to hidden, to go fullscreen*/
		margin: 0;
		overflow: hidden;
	}
	#wrapGEOL{
		margin: 0px;
		height: 800px;
		position: relative;
	}
	#GL-output{
		height: 100%;
		position: relative;
		top: -664px;
		z-index: 1;
	}


	#GL-controls-wrap{
		position: absolute;
		right: 10px;
		top:10px;
		background-color: #1f5d16;
		color: #ffffff;
	}
	#GL_cnv_glow{
		display: none;
	}
	#GL-controls-wrap{
		display: none;
	}
	#GL-info-wrap{
		display: none;
	}
	#fps{
		display: none!important;
	}

	#GL-controls-wrap > div{
		margin: 5px;
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
		border: 2px solid #ffffff;
		background-color: #1f5d16;
		color: #00ff00;
		cursor: pointer;
	}

	#GL-controls-wrap div:hover{
		background-color: #2f8e1f;
	}
	#GL-info-wrap{
		position: absolute;
		width: 200px;
		min-height: 200px;
		top: 100px;
		right: 60px;
		background-color: #FFFFFF;
		border-radius: 5px;
		-webkit-box-shadow: 0px 0px 17px 2px rgba(0,0,0,1);
		-moz-box-shadow: 0px 0px 17px 2px rgba(0,0,0,1);
		box-shadow: 0px 0px 17px 2px rgba(0,0,0,1);
	}
	.btn{
		font-size: 10px;
	}

	#canvas-wrap { position:relative; z-index: 2}
	#overlay     { position:absolute; top:20px; left:30px; }

</style>

<div class="col-xs-5 col-md-5 col-lg-5" id="canvas-wrap">
	<p class="left-text-planet">Скетч карта твоих добрых дел.</p>
	<p class="green-text-planet">Землю вращай и помогай!</p>
	<img style="margin-left: 353px;margin-top: -20px;" src="<?=WWWHOST?>promo/globe/images/arrow-min.png" width="30" height="60">
</div>
<div class="col-xs-7 col-md-7 col-lg-7" id="canvas-wrap">
	<canvas class="canvas-fix" width="700" height="600"></canvas>
	<div id="overlay">
		<div class="col-md-12 col-xs-12 col-lg-12 table-project" style="margin-top: -24px;">
			<div class="col-md-8 col-xs-8 col-lg-8" style="margin-bottom: 5px;"><p class="right-text-table">Закрась шарик добрыми делами</p></div>
			<div class="col-md-4 col-xs-4 col-lg-4 cabdon reico">
				<!--<div class="cab-soc-width" style="border-radius: 8px;width: 161px;display: inline-table;padding-left: 24px;margin-left: 15px;">
                    <div class="socline-pop">
                        <a onclick="Share.facebook('<?=WWWHOST?>users/viewrev/<?=$uinfo['id']?>/?utm_source=facebook&utm_medium=social&utm_campaign=ShareDerevoizProfil&utm_content=<?=$uinfo['id']?>','<?=$share_title?>', '<?=$share_descr?>')"><div class="line-ico-tree cab-share-ico cab-soc-img proj-ico-fb"></div></a>
                    </div>
                    <div class="socline-pop">
                        <a onclick="Share.vkontakte('<?=WWWHOST?>users/viewrev/<?=$uinfo['id']?>/?utm_source=vk&utm_medium=social&utm_campaign=ShareDerevoizProfil&utm_content=<?=$uinfo['id']?>', '<?=$share_title?>', '<?=$share_descr?>');yaCounter34223620.reachGoal('PushButton_ShareVK'); return true;"><div class="line-ico-tree cab-share-ico cab-soc-img proj-ico-vk"></div></a>
                    </div>
                    <div class="socline-pop">
                        <a onclick="Share.odnoklassniki('<?=WWWHOST?>users/viewrev/<?=$uinfo['id']?>/?utm_source=ok&utm_medium=social&utm_campaign=ShareDerevoizProfil&utm_content=<?=$uinfo['id']?>');yaCounter34223620.reachGoal('PushButton_ShareOK'); return true;"><div class="line-ico-tree cab-share-ico cab-soc-img proj-ico-ok"></div></a>
                    </div>
                    <div class="socline-pop">
                        <a onclick="Share.googleplus('<?=WWWHOST?>users/viewrev/<?=$uinfo['id']?>/?utm_source=google&utm_medium=social&utm_campaign=ShareDerevoizProfil&utm_content=<?=$uinfo['id']?>', '<?=$share_title?>', '<?=$share_descr?>');yaCounter34223620.reachGoal('PushButton_ShareGP'); return true;"><div class="line-ico-tree cab-share-ico cab-soc-img proj-ico-gp cab-img-tw-gp"></div></a>
                    </div>
                    <div class="socline-pop">
                        <a onclick="Share.twitter('<?=WWWHOST?>users/viewrev/<?=$uinfo['id']?>/?utm_source=twitter&utm_medium=social&utm_campaign=ShareDerevoizProfil&utm_content=<?=$uinfo['id']?>', '<?=$share_title?>');yaCounter34223620.reachGoal('PushButton_ShareTW'); return true;"><div class="line-ico-tree cab-share-ico cab-soc-img proj-ico-tw cab-img-tw-gp"></div></a>
                    </div>
                </div>--></div>

			<div id="pr_block" class="col-xs-12 col-md-12 col-lg-12">
				<?php
                $timeline = '<span class="cabinet-timeline" style="width:203px;height: 12px;" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"><img src="'.WWWHOST.'img/cat-progress-act.png" width="'.(ceil(3 * 2.45)).'" height="10" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"></span>';

				//1 proj

				echo '<div class="col-xs-4 col-md-4 col-lg-4 cat-mobil">
				<div class="proj-it cat-borders cattit" style="width:205px;padding-bottom: 0px;">
					<a href="'.WWWHOST.'proj/view/3418/"><img class="cat-avatar" style="object-position: 0px 0px;" src="'.WWWHOST.'promo/globe/images/3418_31962.jpg" alt="Крик души. Спасите моего кота!" title="Крик души. Спасите моего кота!" width="202" height="90"></a>
					<div class="proj-tm-progress catfix">
						'.$timeline.'
						<div class="col-xs-3 col-md-3 col-lg-3">

							<a href="'.WWWHOST.'users/viewrev/5540/"><div class="proj-upic-block"><img src="'.WWWHOST.'promo/globe/images/5540_583.jpg" width="43" height="43" alt="Галина Михайловна" title="Галина Михайловна" class="proj-upic-img"></div></a>
						</div>
						<div class="col-xs-3 col-md-3 col-lg-3">
							<p class="cat-persent woh-color">'.mb_substr(3, 0, 4).'%'.'</p>
						</div>
						<div class="col-xs-6 col-md-6 col-lg-6">
							<div class="cat-moneybar">2000 грн.</div>
						</div>
					</div>
					<div class="re-proj-tit"><a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/3418/" alt="Крик души. Спасите моего кота!" title="Крик души. Спасите моего кота!">Крик души. Спасите моего кота!</a></div>




					<!--<div class="proj-review">
                        gggg
                    </div>-->

					<a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/3418/" class="btn btn-success cat-bnt-clr"><span class="glyphicon glyphicon-thumbs-up"></span> Оказать помощь</a>
					<div class="fixp">
						<div class="proj-subs">
							Украина, Харьковская обл., Песочин<br>
							6 человек уже оказали помощь
						</div>

					</div>
					<div class="col-xs-9 col-md-10">
						<div class="check">

						</div>

					</div>
				</div>
			</div>';
				$timeline = '<span class="cabinet-timeline" style="width:203px;height: 12px;" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"><img src="'.WWWHOST.'img/cat-progress-act.png" width="'.(ceil(12.61 * 2.45)).'" height="10" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"></span>';

				//2 proj
				echo '<div class="col-xs-4 col-md-4 col-lg-4 cat-mobil">
				<div class="proj-it cat-borders cattit" style="width:205px;padding-bottom: 0px;">
					<a href="'.WWWHOST.'proj/view/2955/"><img class="cat-avatar" style="object-position: 0px 0px;" src="'.WWWHOST.'promo/globe/images/2955_27627.jpg" alt="Помогите на содержание домашнего приюта для животных" title="Помогите на содержание домашнего приюта для животных" width="202" height="90"></a>
					<div class="proj-tm-progress catfix">
						'.$timeline.'
						<div class="col-xs-3 col-md-3 col-lg-3">

							<a href="'.WWWHOST.'users/viewrev/4746/"><div class="proj-upic-block"><img src="'.WWWHOST.'promo/globe/images/4746_861.jpg" width="43" height="43" alt="Неля Игнатенко" title="Неля Игнатенко" class="proj-upic-img"></div></a>
						</div>
						<div class="col-xs-3 col-md-3 col-lg-3">
							<p class="cat-persent woh-color">'.mb_substr(12.61, 0, 4).'%'.'</p>
						</div>
						<div class="col-xs-6 col-md-6 col-lg-6">
							<div class="cat-moneybar">3000 грн.</div>
						</div>
					</div>
					<div class="re-proj-tit"><a class="animals" onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/2955/" alt="Помогите на содержание домашнего приюта для животных" title="Помогите на содержание домашнего приюта для животных">Помогите на содержание домашнего приюта для животных</a></div>




					<!--<div class="proj-review">
                        gggg
                    </div>-->
					<a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/2955/" class="btn btn-success cat-bnt-clr"><span class="glyphicon glyphicon-thumbs-up"></span> Оказать помощь</a>
					<div class="fixp">
						<div class="proj-subs">
							Украина, Киевская обл., Киев
							<br>
							37 человек уже оказали помощь
						</div>

					</div>
					<div class="col-xs-9 col-md-10">
						<div class="check">

						</div>

					</div>
				</div>
			</div>';
				//3 proj
				$timeline = '<span class="cabinet-timeline" style="width:203px;height: 12px;" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"><img src="'.WWWHOST.'img/cat-progress-act.png" width="'.(ceil(4.6 * 2.45)).'" height="10" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"></span>';

				echo '<div class="col-xs-4 col-md-4 col-lg-4 cat-mobil">
				<div class="proj-it cat-borders cattit" style="width:205px;padding-bottom: 0px;">
					<a href="'.WWWHOST.'proj/view/1994/"><img class="cat-avatar" style="object-position: 0px 0px;" src="'.WWWHOST.'promo/globe/images/1994_14604.jpg" alt="Элине всего 15 лет. Она очень любит аниме. И очень хочет жить!" title="Элине всего 15 лет. Она очень любит аниме. И очень хочет жить!" width="202" height="90"></a>
					<div class="proj-tm-progress catfix">
						'.$timeline.'
						<div class="col-xs-3 col-md-3 col-lg-3">

							<a href="'.WWWHOST.'users/viewrev/3242/"><div class="proj-upic-block"><img src="'.WWWHOST.'promo/globe/images/3242_452.jpg" width="43" height="43" alt="Рая Абдрашитова" title="Рая Абдрашитова" class="proj-upic-img"></div></a>
						</div>
						<div class="col-xs-3 col-md-3 col-lg-3">
							<p class="cat-persent woh-color">'.mb_substr(4.6, 0, 4).'%'.'</p>
						</div>
						<div class="col-xs-6 col-md-6 col-lg-6">
							<div class="cat-moneybar">100000 руб.</div>
						</div>
					</div>
					<div class="re-proj-tit"><a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/1994/" alt="Элине всего 15 лет. Она очень любит аниме. И очень хочет жить!" title="Элине всего 15 лет. Она очень любит аниме. И очень хочет жить!">Элине всего 15 лет. Она очень любит аниме...</a></div>




					<!--<div class="proj-review">
                        gggg
                    </div>-->
					<a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/1994/" class="btn btn-success cat-bnt-clr"><span class="glyphicon glyphicon-thumbs-up"></span> Оказать помощь</a>
					<div class="fixp">
						<div class="proj-subs">
							Россия, Татарстан, Казань<br>
							41 человек уже оказали помощь
						</div>

					</div>
					<div class="col-xs-9 col-md-10">
						<div class="check">

						</div>

					</div>
				</div>
			</div>';
				//4 proj
				$timeline = '<span class="cabinet-timeline" style="width:203px;height: 12px;" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"><img src="'.WWWHOST.'img/cat-progress-act.png" width="'.(ceil(0 * 2.45)).'" height="10" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"></span>';


				echo '<div class="col-xs-4 col-md-4 col-lg-4 cat-mobil">
				<div class="proj-it cat-borders cattit" style="width:205px;padding-bottom: 0px;">
					<a href="'.WWWHOST.'proj/view/3781/"><img class="cat-avatar" style="object-position: 0px -35px;" src="'.WWWHOST.'promo/globe/images/2628_34206.jpg" alt="Айше необходима операция!" title="Айше необходима операция!" width="202" height="90"></a>
					<div class="proj-tm-progress catfix">
						'.$timeline.'
						<div class="col-xs-3 col-md-3 col-lg-3">

							<a href="'.WWWHOST.'users/viewrev/6139/"><div class="proj-upic-block"><img src="'.WWWHOST.'promo/globe/images/4150_195.jpg" width="43" height="43" alt="Dauren Dimisan" title="Dauren Dimisan" class="proj-upic-img"></div></a>
						</div>
						<div class="col-xs-3 col-md-3 col-lg-3">
							<p class="cat-persent woh-color">'.mb_substr(0, 0, 4).'%'.'</p>
						</div>
						<div class="col-xs-6 col-md-6 col-lg-6">
							<div class="cat-moneybar">19500 руб.</div>
						</div>
					</div>
					<div class="re-proj-tit"><a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/3781/" alt="Айше необходима операция!" title="Айше необходима операция!">Айше необходима операция!</a></div>




					<!--<div class="proj-review">
                        gggg
                    </div>-->
					<a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/3781/" class="btn btn-success cat-bnt-clr"><span class="glyphicon glyphicon-thumbs-up"></span> Оказать помощь</a>
					<div class="fixp">
						<div class="proj-subs">
							Россия, Казанская обл., Казань<br>
							0 человек уже оказали помощь
						</div>

					</div>
					<div class="col-xs-9 col-md-10">
						<div class="check">

						</div>

					</div>
				</div>
			</div>';
				//5 proj
				$timeline = '<span class="cabinet-timeline" style="width:203px;height: 12px;display:none" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"><img src="'.WWWHOST.'img/cat-progress-act.png" width="'.(ceil(4.6 * 2.45)).'" height="10" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"></span>';

				echo '<div class="col-xs-4 col-md-4 col-lg-4 cat-mobil">
				<div class="proj-it cat-borders cattit" style="width:205px;padding-bottom: 0px;">
					<a href="'.WWWHOST.'proj/view/2611/?cat=1"><img class="cat-avatar" style="object-position: 0px 0px;" src="'.WWWHOST.'promo/globe/images/2611_28293.jpg" alt="Отдам женские вещи 42-44 размера" title="Отдам женские вещи 42-44 размера" width="202" height="90"></a>
					<div class="proj-tm-progress catfix">
						'.$timeline.'
						<div class="col-xs-3 col-md-3 col-lg-3" style="margin-top: 17px;">

							<a href="'.WWWHOST.'users/viewrev/4102/"><div class="proj-upic-block"><img src="'.WWWHOST.'promo/globe/images/4102_400.jpg" width="43" height="43" alt="Анастасия Домарева" title="Анастасия Домарева" class="proj-upic-img"></div></a>
						</div>
						<div class="col-xs-3 col-md-3 col-lg-3" style="margin-top: 14px;">
							<p class="cat-persent woh-color">'.mb_substr(0, 0, 4).''.'</p>
						</div>
						<div class="col-xs-6 col-md-6 col-lg-6" style="margin-top: 14px;">
							<div class="proj-tm-txt">Запущен:29.08.16<br>Осталось 65 дней</div>
						</div>
					</div>
					<div class="re-proj-tit"><a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/2611/?cat=1" alt="Отдам женские вещи 42-44 размера" title="Отдам женские вещи 42-44 размера">Отдам женские вещи 42-44 размера</a></div>




					<!--<div class="proj-review">
                        gggg
                    </div>-->
					<a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/2611/?cat=1" class="btn btn-success cat-bnt-clr"><span class="glyphicon glyphicon-thumbs-up"></span> Забрать вещь</a>
					<div class="fixp">
						<div class="proj-subs">
							Украина, Крымская обл., Симферополь<br>
							11 человек уже попросили вещь
						</div>

					</div>
					<div class="col-xs-9 col-md-10">
						<div class="check">

						</div>

					</div>
				</div>
			</div>';
				//6 proj
				$timeline = '<span class="cabinet-timeline" style="width:203px;height: 12px;" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"><img src="'.WWWHOST.'img/cat-progress-act.png" width="'.(ceil(0.45 * 2.45)).'" height="10" alt="'.$this->localize->get("catalog", "collected-money").'" title="'.$this->localize->get("catalog", "collected-money").'"></span>';

				echo '<div id="last" class="col-xs-4 col-md-4 col-lg-4 cat-mobil">
				<div class="proj-it cat-borders cattit" style="width:205px;padding-bottom: 0px;">
					<a href="'.WWWHOST.'proj/view/3223/"><img class="cat-avatar" style="object-position: 0px 0px;" src="'.WWWHOST.'promo/globe/images/3223_20494.jpg" alt="Пожалуйста, помогите записать альбом." title="Пожалуйста, помогите записать альбом." width="202" height="90"></a>
					<div class="proj-tm-progress catfix">
						'.$timeline.'
						<div class="col-xs-3 col-md-3 col-lg-3">

							<a href="'.WWWHOST.'users/viewrev/5246/"><div class="proj-upic-block"><img src="'.WWWHOST.'promo/globe/images/5246_315.jpg" width="43" height="43" alt="Веста Гордиенко" title="Веста Гордиенко" class="proj-upic-img"></div></a>
						</div>
						<div class="col-xs-3 col-md-3 col-lg-3">
							<p class="cat-persent woh-color">'.mb_substr(0.45, 0, 4).'%'.'</p>
						</div>
						<div class="col-xs-6 col-md-6 col-lg-6">
							<div class="cat-moneybar">15000 грн.</div>
						</div>
					</div>
					<div class="re-proj-tit"><a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/3223/" alt="Пожалуйста, помогите записать альбом." title="Пожалуйста, помогите записать альбом.">Пожалуйста, помогите записать альбом.</a></div>




					<!--<div class="proj-review">
                        gggg
                    </div>-->
					<a onmousedown="rwt(this)" href="'.WWWHOST.'proj/view/3223/" class="btn btn-success cat-bnt-clr"><span class="glyphicon glyphicon-thumbs-up"></span> Оказать помощь</a>
					<div class="fixp">
						<div class="proj-subs">
							Украина, Харьковская обл., Песочин<br>
							4 человек уже оказали помощь
						</div>

					</div>
					<div class="col-xs-9 col-md-10">
						<div class="check">

						</div>

					</div>
				</div>
			</div>';
				?>

			</div>

		</div>


	</div>
</div>


<div id="body" class="blackground-stars">

	<div id="Stats-output">
	</div>

	<div id="WebGL-output">
	</div>

	<div id="wrapGEOL">
	</div>


	<script type="text/javascript" src="<?=WWWHOST?>globe/libs/three1.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/libs/jquery-2.1.3.min.js"></script>

	<script type="text/javascript" src="<?=WWWHOST?>globe/libs/stats.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/libs/dat.gui.js"></script>

	<script type="text/javascript" src="<?=WWWHOST?>globe/sets.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/libs/jquery.easyswitch.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/libs/GeocamControls.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/libs/OrbitControls.js"></script>
	<!--script type="text/javascript" src="libs/ThreeBSP.js"></script-->
	<script type="text/javascript" src="<?=WWWHOST?>globe/libs/atmospherematerial.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/icon_gex.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/slct_user.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/link.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/country.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/mn_user.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/hlp_user.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/project.js"></script>
	<script type="text/javascript" src="<?=WWWHOST?>globe/piramide.js"></script>
	<link href="<?=WWWHOST?>promo/globe/css/style.css" rel="stylesheet">
	<!--script type="text/javascript" src="user_aura.js"></script-->


	<script type="text/javascript" src="<?=WWWHOST?>globe/stars.js"></script>

	<script type="text/javascript" src="<?=WWWHOST?>globe/request.js"></script>

	<script type="text/javascript" src="<?=WWWHOST?>globe/GEOL.js"></script>

	<script type="text/javascript">
		//var g = new Link(90,90,90);

		GEOL.init("wrapGEOL", 3456, {show_stats: true, debug:false,
			debug_apiurl:"<?=WWWHOST?>globe/api-static.php",
			center_position: {shift_x: -400}});
		var REQAJXURL_data = "<?=WWWHOST?>globe/data/map.json";


		var BASE_RAD = 40;
		var HEIGHT_LINK_COEFF = 0.15;
		var COAST_HEIGHT_COEFF = 0.01;

		var dtCntrs = {	countries:[],	verts_crd_ll:[],	verts_crd_3d:[]};
		var objIso2Contry = {};

		var scene;

		var meshRu;

		var TEXTURE_COUNTRY_WIDTH = 3;
		var TEXTURE_COUNTRY_JOIN = "round";
		var TEXTURE_COUNTRY_STYLE="#00FF00";

		var t, objGraph = {edgesFromTo:{},
			edgesToFrom:{},
			links:{}
		};


		function init() {

			askMainUserData(45);

			var txtCanvas, txtCntxt;
			var textLoader = new THREE.TextureLoader();


			var stats = initStats();

			// add the output of the renderer to the html element
			var container = document.getElementById("WebGL-output");
			//var  elmHeight = container.clientHeight, elmWidth = container.clientWidth;
			var  elmHeight = window.innerHeight, elmWidth = window.innerWidth;

			// create a scene, that will hold all our elements such as objects, cameras and lights.
			scene = new THREE.Scene();


			// create a camera, which defines where we're looking at.
			var camera = new THREE.PerspectiveCamera(45,elmWidth  / elmHeight, 0.1, 2000);

			// create a render and set the size
			var webGLRenderer = new THREE.WebGLRenderer();
			webGLRenderer.setSize(elmWidth, elmHeight);
			webGLRenderer.shadowMap.enabled = true;

			var grpCountryCap = new THREE.Object3D();
			var grpCountryBoaders = new THREE.Object3D();

			scene.add(grpCountryCap);
			scene.add(grpCountryBoaders);





			meshRu = buildRus();

			function buildRus() {



				var geomCap = new THREE.Geometry();
				geomCap.vertices = dtCntrs.verts_crd_3d;

				var ixRu = 22;

				for (var i = dtCntrs.countries.length; --i;)
					if(dtCntrs.countries[i].iso2 == "RU")
					{
						ixRu = i;
						break;
					}

				var fcCnt = dtCntrs.countries[ ixRu].face_count/3,
						fcOfst = dtCntrs.countries[ ixRu].face_offset;
				var faces = [];

				faces.length = fcCnt;
				for(var i = 0; i <fcCnt; i++)
				{
					var fc = new THREE.Face3(dtCntrs.faces[fcOfst+i*3], dtCntrs.faces[fcOfst+i*3+1], dtCntrs.faces[fcOfst+i*3+2]);

					fc.vertexNormals[0] = dtCntrs.verts_crd_3d[dtCntrs.faces[fcOfst+i*3]].clone();
					fc.vertexNormals[1] = dtCntrs.verts_crd_3d[dtCntrs.faces[fcOfst+i*3+1]].clone();
					fc.vertexNormals[2] = dtCntrs.verts_crd_3d[dtCntrs.faces[fcOfst+i*3 +2]].clone();

					faces[i] = fc;
				}


				geomCap.faces = faces;


				var uvRu = [];


				var latMin = 9999, lngMin = 999,
						latMax = -999, lngMax = -999;



				for (var i = faces.length; --i;){
					if (latMin > dtCntrs.verts_crd_ll[faces[i].a].lat) latMin = dtCntrs.verts_crd_ll[faces[i].a].lat;
					if (lngMin > dtCntrs.verts_crd_ll[faces[i].a].lng) lngMin = dtCntrs.verts_crd_ll[faces[i].a].lng;

					if (latMax < dtCntrs.verts_crd_ll[faces[i].a].lat) latMax = dtCntrs.verts_crd_ll[faces[i].a].lat;
					if (lngMax < dtCntrs.verts_crd_ll[faces[i].a].lng) lngMax = dtCntrs.verts_crd_ll[faces[i].a].lng;

					if (latMin > dtCntrs.verts_crd_ll[faces[i].b].lat) latMin = dtCntrs.verts_crd_ll[faces[i].b].lat;
					if (lngMin > dtCntrs.verts_crd_ll[faces[i].b].lng) lngMin = dtCntrs.verts_crd_ll[faces[i].b].lng;

					if (latMax < dtCntrs.verts_crd_ll[faces[i].b].lat) latMax = dtCntrs.verts_crd_ll[faces[i].b].lat;
					if (lngMax < dtCntrs.verts_crd_ll[faces[i].b].lng) lngMax = dtCntrs.verts_crd_ll[faces[i].b].lng;

					if (latMin > dtCntrs.verts_crd_ll[faces[i].c].lat) latMin = dtCntrs.verts_crd_ll[faces[i].c].lat;
					if (lngMin > dtCntrs.verts_crd_ll[faces[i].c].lng) lngMin = dtCntrs.verts_crd_ll[faces[i].c].lng;

					if (latMax < dtCntrs.verts_crd_ll[faces[i].c].lat) latMax = dtCntrs.verts_crd_ll[faces[i].c].lat;
					if (lngMax < dtCntrs.verts_crd_ll[faces[i].c].lng) lngMax = dtCntrs.verts_crd_ll[faces[i].c].lng;
				}





				var dstLng = lngMax - lngMin;
				var dstLat = latMax - latMin;

				for (var i = 0; i < faces.length; i++){
					uvRu[i] = [
						new THREE.Vector2(
								(dtCntrs.verts_crd_ll[faces[i].a].lng - lngMin)/ dstLng
								,
								(dtCntrs.verts_crd_ll[faces[i].a].lat - latMin)/ dstLat
						),
						new THREE.Vector2(
								(dtCntrs.verts_crd_ll[faces[i].b].lng - lngMin)/ dstLng
								,
								(dtCntrs.verts_crd_ll[faces[i].b].lat - latMin)/ dstLat
						),
						new THREE.Vector2(
								(dtCntrs.verts_crd_ll[faces[i].c].lng - lngMin)/ dstLng
								,
								(dtCntrs.verts_crd_ll[faces[i].c].lat - latMin)/ dstLat
						)
					]
					/*
					 uvRu[i] = [
					 new THREE.Vector2(
					 (dtCntrs.verts_crd_ll[faces[i].a].lat - latMin)/ dstLat
					 ,
					 (dtCntrs.verts_crd_ll[faces[i].a].lng - lngMin)/ dstLng
					 ),
					 new THREE.Vector2(
					 (dtCntrs.verts_crd_ll[faces[i].b].lat - latMin)/ dstLat
					 ,
					 (dtCntrs.verts_crd_ll[faces[i].b].lng - lngMin)/ dstLng
					 ),
					 new THREE.Vector2(
					 (dtCntrs.verts_crd_ll[faces[i].c].lat - latMin)/ dstLat
					 ,
					 (dtCntrs.verts_crd_ll[faces[i].c].lng - lngMin)/ dstLng
					 )
					 ]
					 */
					//var vMerc = project_mercator_deg();
					//console.log("lng  " + dtCntrs.verts_crd_ll[faces[i].a].lng + ", lat " + dtCntrs.verts_crd_ll[faces[i].a].lat);

					//console.log("merc lng  " + vMerc.x  + ", lat " + vMerc.y + "\n");
				}




				geomCap.faceVertexUvs[0] = uvRu;
				/*/		{"x":0,"y":1},{"x":0,"y":0},{"x":1,"y":1}],
				 for (var i = 0; i < faces.length; i++){
				 geomCap.faceVertexUvs[0].push(Array(
				 new THREE.Vector2(	0,	1),
				 new THREE.Vector2(0,0	),
				 new THREE.Vector2(1,1	)));

				 //var vMerc = project_mercator_deg();
				 //console.log("lng  " + dtCntrs.verts_crd_ll[faces[i].a].lng + ", lat " + dtCntrs.verts_crd_ll[faces[i].a].lat);

				 //console.log("merc lng  " + vMerc.x  + ", lat " + vMerc.y + "\n");
				 }
				 */
				//	geomCap.faceVertexUvs[0] = uvRu ;

				//	geomCap.computeFaceNormals();
				//	geomCap.computeVertexNormals();


				//var matCap = new THREE.MeshLambertMaterial({
				var matCap = new THREE.MeshPhongMaterial({
							color: 0xffffff
							//,						map: txRu
							// , transparent: true

						})
						;
				//	matCap.map = txRu;
				var meshCap = new THREE.Mesh(geomCap, matCap);

				meshCap.name = "cap Russian Flyes";

				meshCap.translateY(5);
				meshCap.translateZ(5);

				return meshCap;

			}



			var im = new Image();
			im.onload = function() {


				var txtCanvas1 = document.createElement('canvas');

				txtCanvas1.id = "txtCnv1_909999999999999999";
				document.getElementById("body").appendChild(txtCanvas1 );


				var txtCntxt1 = txtCanvas1.getContext('2d');

				txtCanvas1.width = im.width;
				txtCanvas1.height = im.height;

				txtCntxt1.clearRect(0,0, im.width, im.height);

				txtCntxt1.drawImage(im, 0, 0);



				var tx = new THREE.Texture(txtCanvas1);
				var txRu = new THREE.Texture(txtCanvas1);


				tx.needsUpdate = true;
				txRu.needsUpdate = true;
				var pG1;
				var bg = 1;
				if (bg)				pG1 = new THREE.Geometry();
				else			pG1= new THREE.PlaneGeometry(100,100);

				var v = [{"x":-50,"y":50,"z":0},{"x":50,"y":50,"z":0},{"x":-50,"y":-50,"z":0},{"x":50,"y":-50,"z":0}];
				var f = [	{	"a":0,	"b":2,	"c":1		},	{		"a":2,	"b":3,		"c":1		}	] ;

				if (bg)
				{
					for (var i = 0; i < v.length; i++){  pG1.vertices.push(new THREE.Vector3(v[i].x,v[i].y,v[i].z)); }
					for (var i = 0; i < f.length; i++){		pG1.faces.push(new THREE.Face3(f[i].a,f[i].b,f[i].c));	}
					var uv = [
						[	{"x":0,"y":1},{"x":0,"y":0},{"x":1,"y":1}],			[{"x":0,"y":0},{"x":1,"y":0},{"x":1,"y":1}]		];
					pG1.faceVertexUvs [0] = [];

					for (var i = 0; i < uv.length; i++){
						pG1.faceVertexUvs [0].push(	Array(
								new THREE.Vector2(uv[i][0].x, uv[i][0].y),
								new THREE.Vector2(uv[i][1].x, uv[i][1].y),
								new THREE.Vector2(uv[i][2].x, uv[i][2].y))
						);
					}
				}


				pG1.faceVertexUvs [0] = uv;






				var pM1 = new THREE.MeshPhongMaterial({
					color: 0xffffff,
					map: tx
					, transparent: true
//				, wireframe: true
				});
				var plane1 = new THREE.Mesh( pG1, pM1 );

				//		plane1.material.map = tx;
				plane1.translateX(-100);







				meshRu.material.map = txRu;
				meshRu.material.needsUpdate = true;


				scene.add( plane1 );


			}
			im.src = "<?=WWWHOST?>globe/textures/flags/rs.svg";



			var cnvTextCountrs = document.createElement('canvas');;
			cnvTextCountrs.id = "cnvTextCountrs";
			var txtCntxt2 = cnvTextCountrs.getContext('2d');

			var szTxCntW = 2048;
			var szTxCntH = 1024;

			cnvTextCountrs.width = szTxCntW;
			cnvTextCountrs.height = szTxCntH;


			var arCntrs = [];
			arCntrs.length = dtCntrs.countries.length;



			txtCntxt2.strokeStyle = TEXTURE_COUNTRY_STYLE;
			txtCntxt2.lineJoin = TEXTURE_COUNTRY_JOIN;
			txtCntxt2.lineWidth= TEXTURE_COUNTRY_WIDTH;


			txtCntxt2.fillStyle = 'rgba(0,255,0,0.01)';
			txtCntxt2.fillRect(0,0,szTxCntW, szTxCntH);

			txtCntxt2.beginPath();

			for(var x = 0; x > cnvTextCountrs.width * 2 ; x+= 55)
			{
				txtCntxt2.moveTo(x, 0);
				txtCntxt2.lineTo(x - cnvTextCountrs.width , cnvTextCountrs.width);

			}
			txtCntxt2.stroke();

			var txtCntr = new THREE.Texture(cnvTextCountrs);
			txtCntr.needsUpdate = true;

			for(var i = dtCntrs.countries.length; i--;)
			{
				arCntrs[i] = new CountryObject(dtCntrs, i, txtCntr, cnvTextCountrs, txtCntxt2);
				grpCountryCap.add(arCntrs[i].meshCap);
				grpCountryBoaders.add(arCntrs[i].grpBdrs);
				arCntrs[i].grpShines.renderOrder = 10000999;
				scene.add(arCntrs[i].grpShines);
			}

			document.getElementById("body").appendChild(cnvTextCountrs  );
			/*		for(var i = dtCntrs.countries.length; i--;)
			 {
			 var rnd = 0.1 + Math.random()/2;
			 copyCountryMesh(i, new THREE.Color(rnd, rnd,1));//Mesh(new THREE.SphereGeometry(20, 40, 40));

			 }


			 */
			var planetTexture = textLoader.load("<?=WWWHOST?>globe/textures/earth.jpg");

			var sphereOcean = new THREE.Mesh(new THREE.SphereGeometry(BASE_RAD *0.99, 60, 60),
					new THREE.MeshLambertMaterial({map: planetTexture
						, polygonOffset:  true,
						polygonOffsetFactor : +10
					})//, //color: new THREE.Color(0x63aaC63)})//olor clr//0x7777ff//, side:THREE.DoubleSide
			);

			//MeshPhongMaterial({bumpMap: normalTexture});

			sphereOcean.name = "sphereOcean";
			sphereOcean.objType = "geo_text";


			sphereOcean.rotateOnAxis(new THREE.Vector3(0,1,0), Math.PI);


			// add the sphere to the scene
			scene.add(sphereOcean);










			var sphereColor = new THREE.Mesh(new THREE.SphereGeometry(BASE_RAD *0.99, 60, 60),
					new THREE.MeshLambertMaterial({map: txtCntr
						,					transparent: true

					})//, //color: new THREE.Color(0x63aaC63)})//olor clr//0x7777ff//, side:THREE.DoubleSide
			);
//		txtCntr.flipY = false;

			//MeshPhongMaterial({bumpMap: normalTexture});

			sphereColor.name = "sphereColor";
			sphereColor.objType = "geo_color";


			sphereColor.rotateOnAxis(new THREE.Vector3(0,1,0), Math.PI);


			// add the sphere to the scene
			scene.add(sphereColor);










			var b_ = {lat: 45, lng: 90};
			var b_0 = {lat: 10, lng: -90};


			var objLink = new Link(b_, b_0, new THREE.Color(0xffff00));

			scene.add(objLink.mesh);

			var tm = 0;
			window.GeoTmrNow = ( performance || Date ).now();
			window.GeoTmrPrev = ( performance || Date ).now() - 30;

			function render() {
				window.GeoTmrNow = ( performance || Date ).now();

///			stats.update();

				//sphere.rotation.y=step+=0.01;
				var delta = clock.getDelta();
				orbitControls.update();

				// render using requestAnimationFrame
				requestAnimationFrame(render);
				// update the picking ray with the camera and mouse position

				//obj_stars && obj_stars.update();
				webGLRenderer.render(scene, camera);


				window.GeoTmrPrev = window.GeoTmrNow ;

				tm++;
			}

			var cloudStars;


			textLoader.load("<?=WWWHOST?>globe/textures/star_sprite.png", createStars);





			// position and point the camera to the center of the scene
			camera.position.x = -20;
			camera.position.y = 30;
			camera.position.z = 40;
			camera.lookAt(new THREE.Vector3(00, 0, 0));

			var orbitControls = new THREE.GeocamControls(camera, container);
			//var orbitControls = new THREE.OrbitControls(camera, container);
			orbitControls .minDistance = 41;
			orbitControls .maxDistance = 2000;
			//orbitControls.scale = 1;

			orbitControls.autoRotate = false;

			var clock = new THREE.Clock();

			var ambiLight = new THREE.AmbientLight(0xaaaaaa);
			scene.add(ambiLight);
			var spotLight = new THREE.DirectionalLight(0x555555);
			spotLight.position.set(-20, 30, 40);
			spotLight.intensity = 1.0;
			scene.add(spotLight);



			//textLoader.crossOrigin = "";
			var pG = new THREE.PlaneGeometry(100, 100, 2,2);




			//THREE.
			//(dtCntrs.faces[fcOfst+i*3], dtCntrs.faces[fcOfst+i*3+1], dtCntrs.faces[fcOfst+i*3+2]);

			var pM = new THREE.MeshBasicMaterial({//color: 0xffffff,
				map: textLoader.load("<?=WWWHOST?>globe/textures/zz.png")});
			var plane = new THREE.Mesh( pG, pM );

			plane.translateX(100);

			scene.add( plane );













			container.appendChild(webGLRenderer.domElement);

			// call the render function
			var step = 0;

			//dtCntrs.coast  = Base64.decode(dtCntrs.coast, Uint16Array);


			var coast3D = createCost(0x777777);
			scene.add(coast3D);

			function createCost(clr, dtC ) {


				var arCst = dtCntrs.coast,
						faces = [], l = arCst.length, verts = [];
				verts.length = l*2;
				faces.length = l;


				var e0,	e1, f0, f1;

				for (var i = 0, v=0; i < l; i += 2) {
					var e0 = arCst[i + 0];
					var e1 = arCst[i + 1];


					//f0
					f0 = i*2;
					verts[f0] = dtCntrs.verts_crd_3d[e0].clone().multiplyScalar(0.98);
					f1 = f0+1;
					//f1
					verts[f1] = dtCntrs.verts_crd_3d[e1].clone().multiplyScalar(0.98);

					//e0
					verts[f0+2] = dtCntrs.verts_crd_3d[e0].clone();
					e0 = f0+2;

					//e1
					verts[f0+3] = dtCntrs.verts_crd_3d[e1].clone();
					e1 = f0+3;



					/*				var f0 = push_vert(e0, -SEA_DEPTH);
					 var f1 = push_vert(e1, -SEA_DEPTH);

					 var e0 = push_vert(e0, 0);
					 var e1 = push_vert(e1, 0);
					 */
					faces[i] = new THREE.Face3(e0, e1, f0);
					faces[i+1] = new THREE.Face3(e1, f1, f0);
				}


				var geomCst = new THREE.Geometry();
				geomCst.vertices = verts;
				geomCst.faces = faces;


				//geom.computeVertexNormals();
				//geomCst.computeFaceNormals();

				var matCst = new THREE.MeshPhongMaterial({color: clr//0x7777ff//
					, side:THREE.DoubleSide
				});
				var meshCst = new THREE.Mesh(geomCst, matCst);

				meshCst.name = "coast3D";
				return meshCst;
			}

			var raycaster = new THREE.Raycaster();
			var mouse = new THREE.Vector2();
			var mouseDown = new THREE.Vector2();


			function onMouseDown( event ) {
				mouseDown.x =  event.offsetX == undefined ? event.layerX : event.offsetX ;
				mouseDown.y = - event.offsetY == undefined ? event.layerY : event.offsetY ;
			}

			var mouseClickDist = 3;
			function onMouseUp( event ) {


				// calculate mouse position in normalized device coordinates
				// (-1 to +1) for both components

				mouse.x =  event.offsetX == undefined ? event.layerX : event.offsetX ;
				mouse.y =  event.offsetY == undefined ? event.layerY : event.offsetY ;

				if (Math.abs(mouse.x - mouseDown.x) > mouseClickDist ||
						Math.abs(mouse.y - mouseDown.y) > mouseClickDist)
					return;
				mouse.x = ( mouse.x / container.clientWidth) * 2 - 1;
				mouse.y = - ( mouse.y / container.clientHeight ) * 2 + 1;

				raycaster.setFromCamera( mouse, camera );

				// calculate objects intersecting the picking ray
				var intersects = raycaster.intersectObjects( grpCountryCap.children, true );

				for ( var i = 0; i < intersects.length; i++ ) {

					intersects[ i ].object.material.color.set( 0xff0000 );


					console.log(intersects[ i ].object.name);
				}
				if (intersects.length>0){
					orbitControls.locate_ll(intersects[ 0 ].object.objParent.center_ll)
				}

			}


			container.addEventListener( 'mousedown', onMouseDown, false );
			container.addEventListener( 'mouseup', onMouseUp, false );


			window.addEventListener('resize', onWindowResize, false);

			function onWindowResize( event ) {
				var  height = container.clientHeight - 4, width = container.clientWidth;
				camera.aspect = width / height;
				camera.updateProjectionMatrix();
				webGLRenderer.setSize( width, height );
			}



			var mapGlow = createTextGlow('#00dd00');
			var matGlow = new THREE.SpriteMaterial( { map: mapGlow, color: 0xffffff, fog: true } );
			var spriteGlow = new THREE.Sprite( matGlow );
			spriteGlow.name = "sprite glow";
			spriteGlow.scale.multiplyScalar(160);
			scene.add( spriteGlow );

			render();

			//setInterval(render, 20);

			function createTextGlow(clr){

				//Создаем канвас в ширину и в высоту равный диаметру круга

				var szSqr = 1024;
				if (txtCanvas === undefined)
				{
					txtCanvas = document.createElement('canvas');
					txtCanvas.id = "txtCnv";
					// Append the text to <li>
					document.getElementById("body").appendChild(txtCanvas );
				}
				txtCanvas.width = szSqr;
				txtCanvas.height = szSqr;
				//Задаем хар-ки круга и рисуем
				if (txtCntxt  === undefined)

					txtCntxt = txtCanvas.getContext('2d');

				txtCntxt.clearRect(0, 0, szSqr, szSqr);
				txtCntxt.shadowBlur=szSqr/4;
				txtCntxt.shadowColor=clr;

				txtCntxt.beginPath();
				txtCntxt.arc(szSqr/2, szSqr/2, szSqr/4, 0, 2 * Math.PI, false);
				txtCntxt.fillStyle = 'white';
				txtCntxt.fill();

				var texture = new THREE.Texture(txtCanvas);
				texture.needsUpdate = true;

				return texture;
			}


			function initStats() {

				var stats = new Stats();
				stats.setMode(0); // 0: fps, 1: ms

				// Align top-left
				stats.domElement.style.position = 'absolute';
				stats.domElement.style.left = '0px';
				stats.domElement.style.top = '0px';

				document.getElementById("Stats-output").appendChild(stats.domElement);

				return stats;
			}

			function createStars(texture) {
				var geom = new THREE.Geometry();
				var material = new THREE.PointsMaterial({
					transparent: true,
					// color: color, // — Points color in hexadecimal. Default is 0xffffff.
					map:texture, // — a texture.If defined, then a point has the data from texture as colors. Default is null.
					size:5,// — Define size of points. Default is 1.0.
					sizeAttenuation: true, //sizeAttenuation, // — Enable/disable size attenuation with distance.
					//vertexColors:vertexColors ? THREE.VertexColors : THREE.NoColors	, // — Define whether the material uses vertex colors, or not. Default is false.
					fog:false //— Define whether the material color is affected by global fog settings. Default is true.
				});

				var color = new THREE.Color(0xff0000);
				var range = 500;
				var m = new THREE.Matrix4();
				var angZ, angY;
				var vaxY = new THREE. Vector3(0,1,0);
				var vaxZ = new THREE. Vector3(0,0,1);

				var nPrtcl = 3000;
				geom.vertices.length =nPrtcl;
				for (var i = 0; i < nPrtcl; i++) {

					m.identity();
					var vcPos = new THREE.Vector3(400+Math.random()*600,0,0);

					angZ = Math.PI * (-0.5+Math.random()) * Math.cos(Math.PI/2 * Math.random());
					angY = Math.PI*2*Math.random();

					m.makeRotationZ(angZ);

					m.makeRotationY(Math.PI*2*Math.random());

					vcPos.applyAxisAngle( vaxZ, angZ );
					vcPos.applyAxisAngle( vaxY, angY );

					geom.vertices[i] = vcPos;

					var clr = new THREE.Color(0x00ff00);
					var h = color.getHSL().h,	s = color.getHSL().s,	l = color.getHSL().l;
					clr.setHSL(	h,	s,	Math.random() * l);

					geom.colors.push(clr);
				}

				cloudStars = new THREE.Points(geom, material);
				cloudStars.name = "cloudStars";
				scene.add(cloudStars);
			}
		}
		function deg2rad(deg) {
			return Math.PI * deg / 180;
		}

		//var

		function findFaceNormal(vA,vB,vC){

			var cb = new THREE.Vector3(), ab = new THREE.Vector3();

			cb.subVectors( vC, vB );
			ab.subVectors( vA, vB );
			cb.cross( ab );

			cb.normalize();

			return cb;
		}

		function findDtrm3(vA,vB,vC){

			var m = new THREE.Matrix3();

			m.set(vA.x, vA.y, vA.z,
					vB.x, vB.y, vB.z,
					vC.x, vC.y, vC.z
			)

			return m.determinant();
		}



		//window.onload = loadData;


		function createMeshSolid(geom) {

			// assign two materials
			var meshMaterial = new THREE.MeshNormalMaterial();
			meshMaterial.side = THREE.DoubleSide;
			var wireFrameMat = new THREE.MeshBasicMaterial({transparency: true, opacity: 0.5, wireframeLinewidth: 0.5});
			wireFrameMat.wireframe = true;

			// create a multimaterial
			var mesh = new THREE.Mesh(geom, wireFrameMat);

			return mesh;
		}


		function loadData(){

			jQuery.ajax({
				method: "POST",
				url: REQAJXURL_data,
				//data: postDat,
				dataType: "json",
				success: function(data){
					if (!data)
					{	alert("Returned empty data-object");	return;		}
					readCountries(data);
				},
				error: function( jqXHR, textStatus, errorThrown )
				{
					alert("Error: " + textStatus + "\n" + errorThrown);
				}
			})
		}
		function readCountries(data){
			dtCntrs.verts = Base64.decode(data.geom.verts, Int16Array);
			dtCntrs.faces = Base64.decode(data.geom.faces, Uint16Array);
			dtCntrs.coast = Base64.decode(data.geom.coast, Uint16Array);

			dtCntrs.verts_crd_3d.length = dtCntrs.verts.length/2;

			for (var i = 0; i < dtCntrs.verts.length/2; ++i)
			{
				var ps = {lng: 180.0 * dtCntrs.verts[2*i  + 0]/32768.0,
					lat: 90.0 * dtCntrs.verts[2*i + 1]/32768.0};
				dtCntrs.verts_crd_ll[i] = ps;
				dtCntrs.verts_crd_3d[i] = project_ecef_deg(ps.lng,
						ps.lat, BASE_RAD);
			}

			for(var i = 0; i < data.countries.length; i++){
				var cnt = data.countries[i];

				cnt.borders = Base64.decode(cnt.borders, Uint16Array);

				var abdr = cnt.borders;
				var l = abdr.length;

				var cntAr = 0;
				cnt.areas = [new Array()];

				for(var b = 0; b<l; b++ ){
					if (abdr[b] > 60000)
					{
						cnt.areas.push(new Array());
						cntAr++;
					}
					else
					{
						cnt.areas[cntAr].push(abdr[b]);
					}
				}

				dtCntrs.countries.push(cnt);
			}
//	init();
		}

		// base64 functions
		var Base64 = {
			decode: function(src, type) {
				var raw = atob(src);
				var len = raw.length;
				var buf = new ArrayBuffer(len);
				var dst = new Uint8Array(buf);
				for (var i = 0; i < len; ++i)
					dst[i] = raw.charCodeAt(i);

				return type ? new type(buf) : buf;
			},

			encode: function(src) {
				var src = new Uint8Array(src.buffer, src.byteOffset, src.byteLength);
				var len = src.length;
				var dst = '';
				for (var i = 0; i < len; ++i)
					dst += String.fromCharCode(src[i]);

				return btoa(dst);
			}
		};


		function project_ecef_deg (lng, lat, scale) {
			// LLA to ECEF
			// http://stackoverflow.com/questions/10473852/convert-latitude-and-longitude-to-point-in-3d-space

			if (scale === undefined){
				scale = 1;
			}
			var v3 = new THREE.Vector3();// .scale(out, out, SCALE);


			lng =   deg2rad(lng);
			lat = deg2rad(lat);

			var f = 1/298.257223563;    // flattening
			var ff = (1 - f) * (1 - f);
			//var R = 1;                  // equitorial radius

			var lc = Math.cos(lat);
//	var ls = Math.sin(lat);

			//var C = 1 / Math.sqrt(lc*lc + ff*ls*ls);
			//var S = C * ff;

			v3.x = - scale*lc * Math.cos(lng);
			v3.z =   scale*lc * Math.sin(lng);
			v3.y =   scale*Math.sin(lat);//ls;

			return v3;
		}

		function project_mercator_deg (lat, lng) {

			return  new THREE.Vector2(	-lat/360 + 0.5, lng/180 + 0.5);

			/*
			 var lon = p[0];
			 var lat = p[1];

			 var phi = Math.PI * lat/180;
			 var ly = 90/Math.PI * Math.log(Math.tan(0.25*Math.PI + 0.5*phi));

			 out[0] = -lon/180;
			 out[1] = clamp(ly/90, -1, 1);
			 out[2] = -ALT_SCALE * p[2];
			 vec3.scale(out, out, SCALE);

			 */

			var lon = ll.lng;
			var lat = ll.lat;

			var phi = Math.PI * lat/180;
			var ly = 90/Math.PI * Math.log(Math.tan(0.25*Math.PI + 0.5*phi));

			/*	out[0] = -lon/180;
			 out[1] = clamp(ly/90, -1, 1);
			 out[2] = -ALT_SCALE * p[2];
			 vec3.scale(out, out, SCALE);
			 */
//	var lon = p[0];
//	var lat = p[1];

			var phi = Math.PI * ll.lat/180;
//	var ly = 90/Math.PI * Math.log(Math.tan(0.25*Math.PI + 0.5*phi));
//	lat = 8100/Math.PI * Math.log(Math.tan(0.25*Math.PI + 0.5*phi));

			lat = 1/Math.PI * Math.log(Math.tan(0.25*Math.PI + 0.5*phi)) ;

			lat = lat < 0 ?  0: lat > 1? 1 : lat;

			return  new THREE.Vector2(	-ll.lng/180, lat );
		}


		//document.getElementById(/ava_u[0-9]+/).style.display = "none";





		var q_string = '<?=isset($_SERVER['QUERY_STRING']) ? $_SERVER['QUERY_STRING'] : ''?>';

		if(q_string) {

			rwt = function (e) {

				//e.href = 'http://wayofhelp.com/';1
				var url = e.href;



				var regex = /\?/gi;
				var match = regex.exec(url);

				if (match != null) {
					e.href = url + '&' + q_string;

				} else {
					e.href = url + '?' + q_string;
				}


				// alert(n);
			}
		}
	</script>
	<div>

	</div>
</div>