/* Ubuntu ---------------------------------------------------------------- */
@font-face {
    font-family: 'UbuntuRegular';
    src: url('../fonts/UbuntuRegular.eot');
    src: url('../fonts/UbuntuRegular?#iefix') format('embedded-opentype'),
         url('../fonts/UbuntuRegular.woff') format('woff'),
         url('../fonts/UbuntuRegular.ttf') format('truetype'),
         url('../fonts/UbuntuRegular.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/UbuntuBold.eot');
    src: url('../fonts/UbuntuBold?#iefix') format('embedded-opentype'),
         url('../fonts/UbuntuBold.woff') format('woff'),
         url('../fonts/UbuntuBold.ttf') format('truetype'),
         url('../fonts/UbuntuBold.svg#UbuntuBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Noteworthy ------------------------------------------------------------ */
@font-face {
    font-family: 'NoteworthyBold';
    src: url('../fonts/NoteworthyBold.eot');
    src: url('../fonts/NoteworthyBold?#iefix') format('embedded-opentype'),
         url('../fonts/NoteworthyBold.woff') format('woff'),
         url('../fonts/NoteworthyBold.ttf') format('truetype'),
         url('../fonts/NoteworthyBold.svg#NoteworthyBold') format('svg');
    font-weight: normal;
    font-style: normal;
}










