<!-- campaign_tracking_codes_filter -->

<div class="CampaignTrackingCodesFilter">
    <fieldset class="Filter FilterStatus">
        <legend>##Campaign##</legend> 
        {widget id="campaignid"}
    </fieldset>
    <fieldset class="Filter FilterStatus">
        <legend>##Status##</legend>
        {widget id="status"}
    </fieldset>
</div>       
<div style="clear: both;"></div>
   
