<!-- send_to_friend -->
<fieldset class="SendToFriend">
    <legend>##Send to a friend##</legend>
    {widget id="recipients" class="ContactUsText"}
    {widget id="from" class="ContactUsText"}
    {widget id="subject" class="ContactUsText"}
    {widget id="message" class="message" class="ContactUsText"}
    {widget id="bannerId"}
</fieldset>

{widget id="FormMessage"}
{widget id="SaveButton"}
{widget id="CloseButton"}
<div class="clear"></div>
