<!-- account_info_data -->

{widget id="id"}
{widget id="name"}
{widget id="email"}
{widget id="data1"}
{widget id="data2"}
{widget id="data3"}
{widget id="data4"}
{widget id="data5"}
{widget id="data6"}
{widget id="data7"}
{widget id="data8"}
{widget id="data9"}
{widget id="data10"}
{widget id="data11"}
{widget id="data12"}
{widget id="data13"}
{widget id="data14"}
{widget id="data15"}
{widget id="data16"}
{widget id="data17"}
{widget id="data18"}
{widget id="data19"}
{widget id="data20"}
{widget id="data21"}
{widget id="data22"}
{widget id="data23"}
{widget id="data24"}
{widget id="data25"}
<div class="Inliner DataField">{widget id="edit"}</div>
<div class="DataField">{widget id="commissions"}</div>
<div class="clear"></div>
