<!-- affiliate_tree_filter_edit -->
<div>
    <div class="ColumnFieldset">
        <fieldset class="Filter">
            <legend>##Affiliate Status##</legend>
            {widget id="rstatus"}
        </fieldset>
    </div>
    <div class="clear"></div>
</div>
