<!-- banner_parameters_html -->

<div class="BannerHtml">
	{widget id="wrapperid"}
	{widget id="data3"}
	{widget id="data6"}
    {widget id="unConfirmedWarning"}{widget id="confirmBannerButton"}
	{widget id="data2" class="HtmlCode"}
    {widget id="uploadedFiles"}
    {widget id="data7"}
	<div class="ClearLeft"></div>
</div>
