<!-- pending_tasks_data  -->
<table>
<tr>
  <td colspan="3" style="color: orange; text-align: center;">##Tasks waiting for your approval:##</td>
</tr><tr>
  <td>##Affiliates##</td><td>&nbsp;</td><td nowrap class="TextAlignRight">{widget id="pendingAffiliates"}</td>
</tr><tr>
  <td>##DirectLink URLs##</td><td>&nbsp;</td><td nowrap class="TextAlignRight">{widget id="pendingDirectLinks"}</td>
</tr><tr>
  <td>##Commissions##</td><td>&nbsp;</td><td nowrap class="TextAlignRight">{widget id="pendingCommissions"}</td>
</tr><tr>
  <td>&nbsp;&nbsp;##of total sales value##</td><td>&nbsp;</td><td nowrap class="TextAlignRight">{widget id="totalCommissions"}</td>
</tr><tr>
  <td>##Unsent emails##</td><td>&nbsp;</td><td nowrap class="TextAlignRight">{widget id="unsentEmails"}</td>
</tr><tr>
  <td>##Affiliates in campaigns##</td><td>&nbsp;</td><td nowrap class="TextAlignRight">{widget id="pendingAffiliatesInCampaigns"}</td>
</tr>
<tr>
  <td>{widget id="unconfirmedBannersLabel"}</td><td>&nbsp;</td><td nowrap class="TextAlignRight">{widget id="unconfirmedBanners"}</td>
</tr>
</table>
