<!-- tracking_tab -->

<div class="TrackingSettingsForm">

<fieldset>
    <legend>##URLs##</legend>
    {widget id="mainSiteUrl" class="MainSiteUrl"}
    <div class="FormField MainSiteUrl">
        <div class="FormFieldLabel"><div class="Inliner"><div class="Label Inliner Label-mandatory">##Declined site URL##</div></div></div>
        <div class="FormFieldBigInline">{widget id="declineSiteUrl"}</div>
        <div class="Inliner">{widget id="checkStoppedCampaigns"}</div>
    </div>
    <div class="clear"></div>
</fieldset>

<fieldset>
    <legend>##CallBack tracking (server side)##</legend>
    {widget id="salesCallbackUrl" class="MainSiteUrl"}
    {widget id="isCallbackIgnoredForDeclinedCommission"}
</fieldset>

<fieldset>
    <legend>##Clicks##</legend>
    <div class="FormField">
        <div class="Inliner"><div class="Label">##Delete click records older than##</div></div>
        <div class="FormFieldSmallInline">{widget id="deleterawclicks"}</div><div class="Inliner"><div class="Label">##days##</div></div>
        <div class="Inliner">{widget id="deleteRawClicksInfo"}</div>
    </div>
    {widget id="deleterawclickshour"}
    <div class="clear"></div>
</fieldset>

<fieldset>
    <legend>##Statistics data##</legend>
    {widget id="salesStatsProcessorInterval" class="StatsProcessorInterval"}
    {widget id="impressions_clicks_hours_stats_max_days" class="StatsProcessorInterval"}
    <div class="clear"></div>
</fieldset>

<fieldset>
    <legend>##Tracking levels##</legend>
    {widget id="track_by_cookie"}
    {widget id="track_by_htmlstoragecookie"}
    {widget id="track_by_flashcookie"}
    {widget id="track_by_ip_ua"}
    {widget id="track_by_ip"}
    {widget id="ip_validity" class="IpValidity"}
    {widget id="ip_validity_format" class="Validity"}
    <div class="Line"></div>
    {widget id="save_unrefered_sale_lead" class="SaveUnrefered"}
    {widget id="default_affiliate" class="SaveUnrefered UnreferedPadding"}
    {widget id="save_unrefered_click" class="SaveUnrefered UnreferedPadding"}
    {widget id="ignored_referrer_urls_for_nonref_click" class="SaveUnrefered UnreferedClicksPadding"}
    <div class="Line"></div>
    {widget id="declined_affiliate" class="SaveUnrefered"}
    <div class="Line"></div>
    {widget id="force_choosing_productid" class="SaveUnrefered"}
    {widget id="force_choosing_productid_use_default_campaign" class="SaveUnrefered UnreferedPadding"}
    <div class="Line"></div>
    {widget id="deleteExpiredVisitors"}
    <div class="Line"></div>
    {widget id="allowComputeNegativeCommission"}
    <div class="Line"></div>
    {widget id="createChannelsAutomatically"}
</fieldset>

<fieldset>
    <legend>##Affiliate linking method##</legend>
    ##This will set the style of affiliate link URL that your affiliates will put to their pages. You can choose from the methods below.<br/>Note that some methods have different requirements##
    
    {widget id="linking_method" class="LinkingMethod"}
    
    
    <div class="Line"></div>
    <div class="HintText">##You can choose to support DirectLink linking as an addition to your standard affiliate links.<br/>The links chosen above will work, plus your affiliates will have option to use DirectLinks. All affiliate DirectLink URLs require merchant's approval.##</div>
    <div class="Line"></div>
    
    {widget id="support_direct_linking" class="SupportDirect"}
    
    {widget id="support_short_anchor_linking"}
</fieldset>
{widget id="FormMessage"}
</div>
{widget id="SaveButton"}

<div class="clear"></div>
