body {
	/*padding-top: 90px;*/
	padding-top: 90px;
	transition: padding 1s ease;
}
a{color: #337ab7;}


.ta_left{text-align: left;}
.ta_right{text-align: right;}
.ta_center{text-align: center;}
.both{clear: both;}

.form-horizontal .form-control{
	width: 98%;
	margin-left: 4px;
}

.regform .alert{
	display: none;
	margin: 4px 6px 4px 4px;
	padding: 4px 8px;
	transition: display ease 0.5s;
}
.regform .has-error .alert{display: block;}
/*
.form-horizontal .control-label{
	text-align: left;
}
*/
.doplabel{
	font-weight: normal;
	color: #a0a0a0;
}

header{
	position: fixed;
	left: 0;
	top: 0;
	/*height: 90px;*/
	width: 100%;
	z-index: 50;
	background: #fff;
	box-shadow: 0px 0px 3px 3px rgba(200, 200, 200, 0.3);
	/*transition: height 1s ease;
	transition: border 1s ease;
	transition: box-shadow 1px ease;*/
}

.navbar{
	min-height: 90px;
	transition: min-height 1s ease;
}
.navbar-brand{
	height: 90px;
	padding: 8px 50px 0px 0px;
	transition: height 1s ease, padding 1s ease;
}
.navbar-brand img{
	height: 74px;
	transition: height 1s ease;
}
.navbar-cust{
	margin: 0;
	border-radius: 0;
}
.navbar-cust button.navbar-toggle{
	border: 1px solid #e0e0e0;
}
.navbar-cust button.navbar-toggle .icon-bar{
	background: #333;
}
.navbar-cust button.navbar-toggle:hover .icon-bar{
	background: #666;
}


.top-btn{
	float: left;
	margin-top: 4px;
	transition: margin 1s ease;
}
.btn-dohelp {
  color: #ffffff;
  background-color: #38b348;
  border-color: #30a23f;
}
.btn-dohelp:hover,
.btn-dohelp:focus,
.btn-dohelp.focus,
.btn-dohelp:active,
.btn-dohelp.active{
  color: #ffffff;
  background-color: #2e9d3c;
  border-color: #268f33;
}

.btn-needhelp {
  color: #ffffff;
  background-color: #f36624;
  border-color: #ec611f;
}
.btn-needhelp:hover,
.btn-needhelp:focus,
.btn-needhelp.focus,
.btn-needhelp:active,
.btn-needhelp.active{
  color: #ffffff;
  background-color: #e55d1d;
  border-color: #df591a;
}


.btn-border {
  color: #337ab7;
  background-color: #fff;
  border-color: #337ab7;
  border-width: 2px;
}
.btn-border:hover,
.btn-border:focus,
.btn-border.focus,
.btn-border:active,
.btn-border.active{
  color: #539ad7;
  background-color: #fff;
  border-color: #539ad7;
}

.btn-big1{
	font-weight: bold;
	padding: 8px 14px;
}


.navbar-nav > li > a{
	transition: padding 1s ease;
}

ul.navbar-custul{
	margin-top: 2px;
}
ul.navbar-custul li{
	font-size: 18px;
}
ul.navbar-custul li a{
	color: #000;
}
ul.navbar-custul ul li{
	font-size: 14px;
}

.navbar-login{
	margin-top: 4px;
}
.navbar-login li a span{
	border-bottom: 1px dotted #000;
}

.top-usr-name{
	font-size: 12px;
	color: 808080;
	padding: 4px 16px 8px 0px;
	text-align: right;
	transition: padding 1s ease;
}


body.minhead{ padding-top: 50px; }
body.minhead header{
	/*height: 50px;*/
	/*border-bottom: 1px solid #f0f0f0;	*/
}
body.minhead .navbar{
	min-height: 50px;
}
body.minhead .navbar-brand{
	height: 50px;
	padding-top: 4px;
}
body.minhead .navbar-brand img{
	height: 40px;
}
body.minhead .top-btn{
	margin-top: -7px;
}
body.minhead .top-usr-name{
	padding: 1px 16px 0px 0px;
}
body.minhead .navbar-nav > li > a{
	padding-top: 0px;
	padding-bottom: 2px;
}


.index-molecul{
	background: url(../img/ind-bg1.jpg) repeat-x 50% 0;
	padding: 20px 0;
}
.splash-molecula{
	width: 100%;
}
.splash{
	padding: 30px 0px 0px 20px;
	color: #484747;
}
.splash-tit{
	font-size: 60px;
	line-height: 64px;
	text-transform: uppercase;
}
.splash-txt{
	font-size: 18px;
	line-height: 22px;
	padding: 12px 0 30px 0px
}
.splash-btn{
	padding: 8px 0px 20px 0px;
}
.splash-btn a{padding-right: 12px;}

#video iframe, #video object, #video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.index-resp{
	margin: 3px 0;
	background: url(../img/rline-bg.png) repeat 50% 0;
	padding: 20px 0 30px 0;
}
.iresp{
	padding: 0 4px 20px 0;
}
.iresp-pic{
	border-radius: 130px;
	width: 264px;
	padding: 4px;
	border: 2px solid #e7e8da;
	margin: 0 auto;
}
.iresp-pic span{
	display: block;
	width: 100%;
	height: 254px;
	background: #fff url(../img/spacer.gif) no-repeat 50% 50%;
	border-radius: 127px;
	border: 4px solid #fff;
	box-shadow: 0px 0px 2px 2px rgba(200,200,200,0.2);
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.iresp-pic img{
	width: 100%;
	height: auto;
	margin: 0;
}
.iresp-txt{
	margin: 10px 0px 8px 0px;
	background: url(../img/ico-quot.png) no-repeat 2px 0;
	padding: 10px 8px 0px 38px;
	font-size: 18px;
	line-height: 24px;
	font-style: italic;
	height: 140px;
	color: #6d6d6d;
}
.iresp-auth{
	font-weight: bold;
	font-size: 16px;
	font-style: normal;
	text-align: right;
}
.iresp-auth a{color: #6d6d6d;}
.iresp-auth a:hover{ color: #9e9e9e; }
.iresp-lnk{
	color: #6d6d6d;
	font-size: 0.9em;
}
.iresp-lnk span{
	font-weight: bold;
}
.iresp-lnk p{
	padding: 2px 0px 0px 0px;
	font-size: 0.9em;
	line-height: 1.1em;
}


.row-sects{
	background: url(../img/ind-bg2.jpg) repeat 50% 0;
	padding: 20px 0px 20px 0px;
}
.sect-it{
	text-align: center;
	padding: 20px 0px 20px 0px;
}
.sect-inf{
	transform: translate(40px,20px);
}
.sect-inf span{
	display: inline-block;
	border-radius: 14px;
	width: 28px;
	padding: 6px 0px 5px 0px;
	text-align: center;
	font-size: 11px;
	color: #fff;
}
.sect-inf span.circ-green{background: #38b348;}
.sect-inf span.circ-org{background: #f36624;}
.sect-ico{}
.sect-name{
	padding: 8px 0px 0px 0px;
	color: #fff;
	font-size: 28px;
	line-height: 24px;
}
.sect-name a{
	color: #fff;
}



.row-head{
	background: #faf5eb;
	padding: 0 0 10px 0;
}

.breadcrumb{
	background-color: transparent;
}

.h1{
	color: #333333;
}

.fbAsyncInit-gray{
	background-color: #f8f8f8;
	padding: 20px 0 20px 0;
}

.info{
	padding-top: 18px;
	padding-bottom: 20px;
}

.info-minheight{
	min-height: 300px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

footer{
	padding: 136px 0 4px 0;
	background: #faf5eb url(../img/bg-foot.gif) repeat-x 50% 0;
}
.foot-sc{
	text-align: center;
}
.foot-sc a{
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 4px;
	opacity: 0.8;
}
.foot-sc a:hover{opacity: 1;}
.foot-sc a.sc-fb{background: url(../img/fb.png) no-repeat 0 0;}
.foot-sc a.sc-vk{background: url(../img/vk.png) no-repeat 0 0;}
.foot-sc a.sc-ok{background: url(../img/ok.png) no-repeat 0 0;}
.foot-copyright{}
.foot-wm{}

/* popup social window */
.social-wnd{
	display: none;
	position: fixed;
	z-index: 999;
	width: 320px;
	right: 8px;
	bottom: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background: #fff;
}
.social-wnd-tit{
	background: #3a5897;
	padding: 8px 8px 8px 20px;
}
.social-wnd-tit span{
	display: block;
	background: url(../img/fb-dialog-logo.png) no-repeat 0 0;
	height: 28px;
}
.social-wnd-liketxt{
	clear: both;
	border-top: 1px solid #fff;
	background: #3a5897;
	color: #fff;
	padding: 14px 10px 14px 20px;
	font: 18px/18px 'Roboto Condensed';
}
.social-wnd-close{
	float: right;
	width: 28px;
	height: 28px;
}
.social-wnd-close a{
	display: block;
	width: 28px;
	height: 28px;
	opacity: 0.8;
	background: url(../img/a-close-w.png) no-repeat 0 0;
}
.social-wnd-close a:hover{opacity: 1;}
.social-wnd-widget{
	clear: both;
	padding: 20px 0 20px 20px;
	overflow: hidden;
}
.social-wnd-bot{
	background: #dededd;
	text-align: center;
	padding: 14px 0 14px 0;
	color: #333;
	font-size: 12px;
}

/* popup windows for actions */
.wnd-bg{
	display: none;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(100,100,100,0.5);
}
.wnd-wnd{
	display: none;
	position: absolute;
	z-index: 1001;
	top: 100px;
	left: 20%;
	width: 60%;
	min-height: 200px;
	background: #fff;
	box-shadow: 0 0 8px 3px rgba(100,100,100,0.3);
	border-radius: 5px;
}
.wnd-in{
	padding: 10px 40px 40px 40px;
	border-radius: 5px;
	background: url(../img/postreg-back.png) no-repeat 100% 100%;
}
.wnd-close{
	float: right;
}
.wnd-hdr{
	font-size: 32px;
	padding: 10px 0px 8px 0px;
}
.wnd-error{
	display: none;
	padding: 6px 0;
	color: red;
}

/* Reg window - step 1 */
.reg-col{ text-align: center; }
.reg-col-who{
	padding: 10px 0 20px 0;
}
.reg-col-pers{background: url(../img/ulog-person.png) no-repeat 50% 10px; height: 130px;}
.reg-col-firm{background: url(../img/ulog-company.png) no-repeat 50% 10px; height: 130px;}
.reg-col-org{background: url(../img/ulog-organ.png) no-repeat 50% 10px; height: 130px;}
.reg-col-tit{
	height: 42px;
	font-size: 18px;
	line-height: 20px;
}
.reg-col ul{
	text-align: left;
	margin: 10px 0 10px 0;
	font-size: 12px;
	padding: 0;
}
.reg-col ul li{
	margin: 0 0 0 6px;
	padding: 3px 0 3px 0px;
}
.reg-sc-login{
	padding: 18px 0px 10px 0px;
	text-align: center;
}
.reg-sc-login a{ display:inline-block; padding: 6px 10px; }
.reg-login{
	border-top: 1px solid #f0f0f0;
	text-align: center;
	padding: 18px 0 6px 0;
}
.reg-login div{
	padding: 12px 0 0 0;
}

/* cabinet */
.cab-nav{
	padding: 20px 0px;
}

.cab-uinfo{
	background: #faf7f0;
	border-radius: 7px;
	min-height: 400px;
	padding: 12px 8px 12px 16px;
	margin-bottom: 12px;
	margin-right: 8px;
}
.cab-utree{
	/*background: #e6f6e8 url(../img/bg-cabgrach-wcircle.png) no-repeat 50% 38px;*/
	background: #e6f6e8 url(../img/bg-cabgraph-wcircle-sm.png) no-repeat 50% 38px;
	border-radius: 7px;
	min-height: 400px;
	padding: 14px 8px 12px 12px;
	margin-bottom: 12px;
	margin-left: 6px;
}

.cab-uname{
	padding: 12px 0px 16px 0px;
	font-size: 22px;
}
.cab-upic{
	display: inline-block;
	padding: 4px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	background: #f8f8f8;
}
.cab-upic img{
	display: block;
	margin: 0;
}
.cab-uirow{padding: 3px 0px 3px 22px;}
.cab-iusr{background: url(../img/ico-usr.png) no-repeat 0 3px;}
.cab-imap{background: url(../img/ico-map.png) no-repeat 0 5px;}
.cab-iage{background: url(../img/ico-age.png) no-repeat 0 6px;}
.cab-uwww{
	padding: 30px 0px 6px 0px;
}
.cab-uratetit{
	padding: 14px 0px 6px 0px;
	margin: 0;
	font-size: 14px;
}
.cab-urate{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.cab-urate tr td{font-size: 18px;}
.cab-urate tr td:first-child{padding-right: 16px;}

.cab-utree-tit{
	float: left;
	width: 200px;
	font-size: 18px;
	background: url(../img/ico-cabtree.png) no-repeat 0 6px;
	color: #587f5d;
	padding: 10px 0px 8px 42px;
}
.cab-utree-tit span{
	display: inline-block;
	margin-left: 8px;
	background: #f0fbf2;
	border-radius: 14px;
	color: #3077b5;
	font-size: 18px;
	padding: 3px 10px;
}
.cab-utree-tit a span{background: #fff;}
.cab-utree-msg{
	float: right;
	width: 130px;
	/*padding-top: 8px;*/
}
.cab-utree-msg div{
	padding: 0px 0px 6px 14px;
	line-height: 15px;
}
.cab-utree-msg div.cab-utmsg-in{background: url(../img/ico-sq-org.png) no-repeat 0 10px;}
.cab-utree-msg div.cab-utmsg-out{background: url(../img/ico-sq-green.png) no-repeat 0 10px;}
.cab-utree-msg div span{font-size: 18px; float: left; height: 20px; padding: 6px 6px 2px 0;}

.cab-utree-graph{text-align: center; padding: 0px 0px 10px 0px; clear: both;}
/*
.cab-rndmenu-row{
	position: relative;
	width: 350px;
	margin: 0 auto;
	height: 130px;
}
.cab-rndmenu{
	position: absolute;
	left: 0;
	top: -120px;
	width: 350px;
	height: 351px;
	background: url(../img/cab-menubg.png) no-repeat 0 0;
	z-index: 4;
}
.cab-rndmenu table{
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 14px;
}
.cab-rndmenu table td{text-align: center; vertical-align: top;}
.cab-rndmenu table tr td:first-child{width: 110px;}
.cab-rndmenu table tr td:last-child{width: 110px;}
.cab-rndmenu table td.cab-ahelpdo{padding-top: 86px;}
.cab-rndmenu table td.cab-ahelpget{padding-top: 86px;}
.cab-rndmenu table td.cab-astat{padding: 154px 0px 52px 0px;}
.cab-rndmenu table td.cab-amsg{padding-top: 20px;}

.cab-rndmenu table td.cab-ahelpdo a, .cab-rndmenu table td.cab-ahelpget a, .cab-rndmenu table td.cab-amsg a{
	display: inline-block;
	text-align: center;
	color: #fff;
}
.cab-rndmenu table td.cab-astat a{display: inline-block; text-align: center;}

.cab-rndmenu table td.cab-ahelpdo a{background: url(../img/ico-helpdo.png) no-repeat 50% 0; padding-top: 40px; margin-left: 20px;}
.cab-rndmenu table td.cab-ahelpget a{background: url(../img/ico-helpget.png) no-repeat 50% 0; padding-top: 40px; margin-right: 20px;}
.cab-rndmenu table td.cab-astat a{background: url(../img/ico-helpstat.png) no-repeat 50% 0; padding-top: 28px;}
.cab-rndmenu table td.cab-amsg a{background: url(../img/ico-helpmsg.png) no-repeat 50% 0; padding-top: 42px;}
*/

.cab-rndmenu-row{
	position: relative;
	width: 332px;
	margin: 0 auto;
	height: 50px;
}
.cab-rndmenu{
	position: absolute;
	left: 0;
	top: -130px;
	width: 332px;
	height: 118px;
	background: url(../img/rnd-menu-2.png) no-repeat 0 0;
	z-index: 4;
}
.cab-rndmenu table{
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 14px;
}
.cab-rndmenu table td{text-align: center; vertical-align: top;}
/*.cab-rndmenu table tr td:first-child{width: 110px;}
.cab-rndmenu table tr td:last-child{width: 110px;}*/
.cab-rndmenu table td.cab-ahelpdo{padding-top: 40px;}
.cab-rndmenu table td.cab-ahelpget{padding-top: 40px;}
.cab-rndmenu table td.cab-astat{padding: 154px 0px 52px 0px;}
.cab-rndmenu table td.cab-amsg{padding-top: 0px;}

.cab-rndmenu table td.cab-ahelpdo a, .cab-rndmenu table td.cab-ahelpget a{
	display: inline-block;
	text-align: center;
	color: #fff;
}
.cab-rndmenu table td.cab-amsg a{display: inline-block; text-align: center;}
.cab-rndmenu table td.cab-astat a{display: inline-block; text-align: center;}

.cab-rndmenu table td.cab-ahelpdo a{background: url(../img/ico-helpdo.png) no-repeat 50% 0; padding-top: 40px; margin-left: 20px;}
.cab-rndmenu table td.cab-ahelpget a{background: url(../img/ico-helpget.png) no-repeat 50% 0; padding-top: 40px; margin-right: 20px;}
.cab-rndmenu table td.cab-astat a{background: url(../img/ico-helpstat.png) no-repeat 50% 0; padding-top: 28px;}
.cab-rndmenu table td.cab-amsg a{background: url(../img/ico-msgdark.png) no-repeat 50% 0; padding-top: 32px;}


.cab-graph{
	border: 1px solid #f4f4f4;
	border-radius: 12px;
	padding: 10px;
}
.cab-graph-canv{
	background: #f7f7f7 url(../img/bg-sqlist.png) repeat 50% 50%;
	border-radius: 3px;
	height: 460px;
	text-align: center;
	position: relative;
	z-index: 2;
}
.cab-graph-canv img{
	margin-top: 60px;
}
.cab-graph-canv div{
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	display: inline-block;
	font-size: 12px;
}
.cab-graph-canv div a{
	background: url(../img/ico-usr.png) no-repeat 0 1px;
	padding-left: 16px;
}

/* messages */
.msg-conv{
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background: #f9f9f9;
	margin: 14px 0;
	padding: 12px 0px 12px 0px;
}
table.msglist{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	font-size: 12px;
}
table.msglist tr td{
	padding: 0px 10px;
	vertical-align: top;
}
table.msglist tr td:first-child{
	padding: 0px 30px;
	vertical-align: middle;
}
.msglist-a a{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/msg-plus.png) no-repeat 0 0;
}
.msg-proj{
	font-size: 18px;
	padding: 0px 0px 2px 0px;
}
.msg-proj-inf{
	padding: 0 0 4px 0;
}
.msg-author{
	padding: 0px 0px 0px 16px;
	background: url(../img/ico-usr-sm.png) no-repeat 0 2px;
}
.msg-proj-txt{
	padding: 2px 0px 3px 0px;
}
.msg-proj-tm{
	padding: 4px 0 0 0;
	font-size: 11px;
	color: #929292;
}
.msg-proj-tm span{
	background: #e0e0e0;
	display: inline-block;
	height: 8px;
	width: 120px;
}
.msg-proj-tm span img{
	display: block;
	margin: 0;
}

.msg-last-dt{
	font-size: 12px;
	color: #808080;
	padding: 12px 0 0 0;
}

.msg-item{
	margin: 8px 0px 12px 40px;
	border: 1px solid #d9d9d9;
	background: #f9f9f9;
	padding: 12px 20px 12px 20px;
}
.msg-item-out{
	background: #ffffff;
}
.msg-item-new{
	background: #f0ffdf;
}
.msg-item .row{
	color: #999999;
	font-size: 11px;
}
.msg-item-txt{
	clear: both;
	padding: 8px 0px 4px 0px;
}
.msg-item-rep a{
	font-size: 11px;
	color: #000;
	background: url(../img/a-edit.png) no-repeat 0 2px;
	padding: 0 0 0 16px;
}

/* catalog list */
.cat-list{
	padding: 10px 10px 40px 0;
}
.cat-it{
	padding: 12px 0px 0px 0px;
}
.cat-it table{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.cat-it table tr td{padding: 0 8px 0 0;}
.cat-it table a{
	font-size: 18px;
	text-decoration: none;
}
.cat-it table a span{border-bottom: 1px dotted #36b146 !important;}
.cat-color{color: #36b146;}
.cat-color:active{color: #3bc64b;}
.cat-color:hover{color: #3bc64b;}
.cat-it-open{
	background: url(../img/vert-bl.png) no-repeat 23px 20px;
}
.cat-lev div{
	padding: 8px 0px 0px 42px;
	font-size: 14px;
	background: url(../img/arr-1.png) no-repeat 14px 9px;
}
/*#387db9*/
.cat-lev div a span{border-bottom: 1px dotted #36b146 !important;}
.cat-lev div a:hover{ text-decoration: none; }
div.cat-lev-sel{font-weight: bold;}
.cat-lev-open ul{
	margin: 0;
	padding: 8px 0 4px 42px;
	list-style: none;
	font-size: 12px;
}
.cat-lev-open ul li{
	padding: 3px 0px 3px 16px;
	background: url(../img/arr-2.png) no-repeat 0 5px;
}
.cat-lev-open ul li a{text-decoration: underline;}
.cat-lev-open ul li.sel a{font-weight: bold; text-decoration: none; color: #333;}

.cat-filt{
	padding: 24px 0 12px 0;
}
.cat-addbtn{
	padding: 24px 0 12px 0;
	text-align: right;
}

.com-angel-status-day{
	background: url(../img/u-angel-day.png) no-repeat center;
	background-size: 80%;
	position: relative;
	z-index: 4;
	height: 27px;
	width: 47px;
	left: 40px;
	top: -88px;
	bottom: 100px;
}

.btn-form-pad{
	padding: 8px 0px 18px 0px;
}
.btn-form-pad-sm{
	padding: 6px 0px 0px 0px;
}

/* project listing */
.proj-list{
	padding: 12px 0px 24px 0px;
}
.proj-it{
	margin: 10px 0px 16px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
.proj-head{
	padding: 10px 0px 10px 0px;
	background: #f2f2f2;
}
.proj-head a{text-decoration: underline;}

.proj-head-bg1{background: #f9f1d2 url(../img/texture1.png) repeat 0 0;}
.proj-head-bg2{background: #e6fde8 url(../img/texture2.png) repeat 0 0;}
.proj-head-bg3{background: #eef8fe url(../img/texture3.png) repeat 0 0;}
.proj-head-bg4{background: #faf5ea url(../img/texture4.png) repeat 0 0;}

.proj-upic{
	padding: 0px 0px 8px 10px;
}
.proj-upic div{
	display: block;
	width: 80px;
	height: 80px;
	border: 3px solid #fff;
	border-radius: 4px;
	background: #fff;
	overflow: hidden;
}
.proj-upic div img{
	display: block;
	margin: 0;
}
.proj-author{
	padding: 0 0 0 18px;
	background: url(../img/ico-usr-sm.png) no-repeat 0 3px;
	margin-left: 10px;
	line-height: 16px;
}
.proj-tit{
	font-size: 28px;
	line-height: 28px;
	padding: 0 0 4px 0;
}
.proj-amount{
	font-size: 18px;
	padding: 6px 0px 6px 0px;
}
.proj-rate{
	font-size: 11px;
	color: #929292;
}
.proj-rate span{padding-left: 4px;}
.proj-tm{
	padding-top: 6px;
}
.proj-tm-progress{
	padding: 4px 0 0 0;
	font-size: 11px;
	color: #929292;
}
.proj-tm-progress span{
	background: #e0e0e0;
	display: inline-block;
	height: 8px;
	width: 120px;
}
.proj-tm-progress span img{
	display: block;
	margin: 0;
}

.hlpw-news>img{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 0 0 10px 10px;
}

.proj-review{
	padding: 12px 7px 14px 7px;
	font-size: 12px;
}
.proj-subs{
	padding: 8px 0px 0px 8px;
	color: #b1b1b1;
}
.proj-subs span{color: #4585bd;}
.proj-subs span span{font-weight: bold;}
.proj-help{
	text-align: right;
	padding: 0 7px 0 0;
}

/* bonus list */
.bonus-it{
	margin: 10px 0px 16px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
.bonus-head{ padding: 10px 0px 10px 0px; }
.bonus-pic{
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	background-color: #f8f8f8;
	width: 198px;
}
.bonus-pic div{
	background: #ffffff;
	margin: 5px;
	height: 190px;
}
.bonus-pic div img{
	display: block;
	margin: auto;
}
.bonus-tit{
	font-size: 28px;
	line-height: 28px;
	padding: 6px 0 10px 0;
}
.bonus-btn{
	padding-top: 12px;
}
.bonus-avail{
	font-size: 18px;
	color: #929292;
	padding-top: 20px;
}
.bonus-avail span{color: #000000;}
.bonus-review{
	padding: 10px 7px 14px 7px;
	font-size: 14px;
}

/* projects table in cabinet */
.proj-flt{padding: 4px 8px 4px 8px;}
.proj-flt-col{padding: 2px 0px 2px 0px;}

.proj-tbl{
	padding: 12px 8px 0px 8px;
}
.proj-tbl table{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
}
.proj-tbl table tr th{
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	padding: 30px 8px 10px 8px;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
}
.proj-tbl table tr th.name{
	text-align: left;
}
.proj-tbl table tr th:last-child{
	text-align: left;
}
.proj-tbl table tr td{
	border-bottom: 1px solid #dddddd;
	padding: 10px 8px 10px 8px;
	text-align: center;
}
.proj-tbl table tr td.name{
	text-align: left;
}
.proj-tbl table tr td:last-child{
	text-align: left;
}

.proj-tbl table tr:nth-child(even) td{
	background: #f9f9f9;
}

.proj-tbl table tr td.noitems{
	background: none;
	padding: 30px 0px 30px 0px;
}
.tbl-noitems{
	width: 100%;
	margin: 0 auto;
}
.tbl-noitems-txt{
	float: left;
	width: 70%;
	padding-top: 20px;
}
.tbl-noitems-txt>div{
	background: url(../img/baloon-mark-1.png) 100% 30px no-repeat;
}
.tree-main{
	margin-top: 10px;
}
.tbl-noitems-face{
	float: left;
	width: 30%;
	height: 97px;
	min-width: 158px;
	background: url(../img/face-baloon.png) no-repeat 20px 0;
	/*background-size: cover;*/
}

.proj-it-noitems{ clear: both; padding: 40px 0 50px 0; }
.proj-it-noitems .tbl-noitems{width: 100%;}
.proj-it-noitems .tbl-noitems-face{
	background-image: url(../img/face-noreviews.png);
	height: 136px;
	min-width: 156px;
}

.addproj-face{
	clear: both;
	padding: 20px 0px 32px 0px;
}
.addproj-face .tbl-noitems-txt{padding: 0;}
.addproj-face .tbl-noitems-face{
	background-image: url(../img/face-noreviews.png);
	height: 136px;
	min-width: 156px;
}

.pop-face .tbl-noitems{width: 100%;}


.p-tit{font-size: 18px; line-height: 20px;}
.p-tit a{text-decoration: underline;}
.p-comment{padding: 6px 0px 4px 0px; color: #808080; }
.p-sums{padding: 1px 0;}
.p-sums span{font-weight: bold; color: #268701;}
.p-progress{}
.p-newhelpreq{color: red;}
.p-newhelpreq a{color: red;}
.p-rev-dt{
	padding: 1px 0px 1px 0px;
	font-size: 11px;
	color: #a0a0a0;
}
a.aplnk-pause, .aplnk-pause{
	display: inline-block;
	width: 14px;
	height: 16px;
	background: url(../img/a-pause.png) no-repeat 0 0;
}
a.aplnk-start, .aplnk-start{
	display: inline-block;
	width: 14px;
	height: 16px;
	background: url(../img/a-start.png) no-repeat 0 0;
}
.p-stat-ok{
	font-weight: bold;
	background: url(../img/a-approved.png) no-repeat 0 0;
	display: inline-block;
	padding: 2px 0px 2px 24px;
}
.p-stat-new{
	color: #a0a0a0;
	display: inline-block;
	background: url(../img/status-wait.png) no-repeat 0 0;
	padding: 2px 0 2px 24px;
}
.p-stat-decl{
	color: red;
	display: inline-block;
	background: url(../img/status-reject.png) no-repeat 0 0;
	padding: 2px 0 2px 24px;
}
.p-stat-cancel{
	color: #808080;
	display: inline-block;
	background: url(../img/status-cancel.png) no-repeat 0 0;
	padding: 2px 0 2px 24px;
}
.p-reqdt{
	font-size: 11px;
	color: #707070;
	padding: 2px 0 0 0;
}
.proj-tbl table p{
	font-size: 14px;
	line-height: 18px;
}
.p-tm{
	padding: 4px 0 0 0;
	font-size: 11px;
	color: #929292;
}
.p-tm span{
	background: #e0e0e0;
	display: inline-block;
	height: 8px;
	width: 120px;
}
.p-tm span img{
	display: block;
	margin: 0;
}
a.aplnk-edit, a.aplnk-del, a.aplnk-run{
	display: inline-block;
	color: #000000;
	text-decoration: underline;
	padding: 3px 0px 3px 16px;
}
a.aplnk-edit{background: url(../img/a-edit.png) no-repeat 0px 6px;}
a.aplnk-del{background: url(../img/a-del.png) no-repeat 1px 6px;}
a.aplnk-run{background: url(../img/a-run.png) no-repeat 1px 6px;}

a.lnk-11{
	font-size: 11px;
	text-decoration: none;
}
a.lnk-11 span{border-bottom: 1px dotted #337ab7;}
a.lnk-11:hover{text-decoration: none;}

.proj-pages{
	padding: 0px 8px 0px 8px;
}


.review-tbl{
	padding: 12px 0px 0px 0px;
}
.review-tbl table{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
}
.review-tbl table tr th{
	padding: 5px 8px 10px 8px;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-align: left;
}
.review-tbl table tr th:last-child{
	text-align: center;
}
.review-tbl table tr td{
	padding: 10px 8px 10px 8px;
	text-align: left;
}
.review-tbl table tr td:last-child{
	text-align: center;
	border-radius: 10%;
}

.review-tbl table tr:nth-child(even) td{
	background: #ecfcee;
}
.review-tbl table tr td.noitems, .review-tbl table tr:nth-child(even) td.noitems{
	background: none;
	padding: 30px 0;
}

.review-tbl .p-tit{font-size: 12px;}
.review-tbl .p-date{
	color: #909090;
	font-size: 11px;
}
.r-comment{
	padding: 0 5px 2px 0;
}
.r-author{
	padding: 1px 0px 1px 18px;
	background: url(../img/ico-usr-pers.png) no-repeat 0 0;
}
.r-author a{font-weight: bold;}
.r-rate{text-align: center;}
.r-rate span{
	font-size: 22px;
}

.review-tbl .tbl-noitems{width: 100%;}
.review-tbl .tbl-noitems-face{
	background-image: url(../img/face-noreviews.png);
	height: 136px;
	min-width: 156px;
}


/* project page */
.pview-left{
	padding: 44px 20px 10px 0px;
}
.pview-right{
	padding: 44px 0px 10px 20px;
}

.pview-anons{line-height: 24px; text-align: justify;}
.pview-anons img{
	float: left;
	margin: 4px 14px 10px 0px;
}
.pview-dates{
	float: right;
	width: 186px;
	text-align: right;
	font-size: 11px;
	color: #b1b1b1;
	line-height: 16px;
	padding: 12px 0px 12px 0px;
}

/* social containers */
.jh-sclike-rows{
	padding: 14px 0px 10px 0px;
	float: left;
	width: 486px;
}

.jh-sclike{
	display: block;
	float: left;
	/*width: 120px;*/
	width: 110px;
}
.jh-sclike-fb{
	/*width: 128px;*/
}
.jh-sclike-gp{
	width: 80px;
}
.jh-sclike-vk{
	/*width: 100px;*/
}

.jh-sclike-od{
	width: 114px;
}

.jh-fb-share{
	display: block;
	float: left;
	/*width: 89px;
	height: 25px;
	background: url(../img/sc-btn-fb-share.png) no-repeat 0 0;
	*/
	width: 104px;
	height: 20px;
	background: url(../img/sc-btn-fb-share2.png) no-repeat 0 0;
}
.jh-vk-share{
	display: block;
	float: left;
	/*width: 89px;
	height: 25px;
	background: url(../img/sc-btn-vk-share.png) no-repeat 0 0;*/
	width: 104px;
	height: 20px;
	background: url(../img/sc-btn-vk-share2.png) no-repeat 0 0;
}
.jh-od-share{
	display: block;
	float: left;
	width: 89px;
	height: 25px;
	background: url(../img/sc-btn-ok-share.png) no-repeat 0 0;
}


.pview-actions{
	text-align: right;
	padding: 12px 0px 20px 0px;
}
.pview-actions button{
	margin-left: 12px;
}
.pview-actions-avail{
	float: left;
	width: 200px;
	font-size: 18px;
	color: #929292;
}
.pview-actions-avail span{color: #000;}

.pview-stats{
	background: #fcf8f1;
	padding: 22px 10px 30px 22px;
	border-radius: 5px;
	font-size: 14px;
}
.pview-target{
	padding: 0px 0px 14px 0px;
}
.pview-target span{ font-size: 24px; padding: 0 5px; }
.pview-stats p{
	padding: 4px 0px 0px 0px;
	font-size: 18px;
	margin: 0;
}

.pview-progr{
	margin: 0;
	background: url(../img/progress-bg.png) no-repeat 0 0;
	height: 13px;
	width: 229px;
}
.pview-progr span{
	display: block;
	width: 50%;
	height: 13px;
}
.pview-progr span.pview-progr-blue{
	background: url(../img/progress-blue.png) no-repeat 0 0;
}
.pview-progr span.pview-progr-org{
	background: url(../img/progress-org.png) no-repeat 0 0;
}
.pview-avg{padding: 12px 0 0 0;}
.pview-avg span{font-size: 18px;}

.pview-full{padding: 20px 0px 10px 0px;}
.pview-full-pic{padding: 4px 0px 12px 0px;}

.pview-details{
	background: #f3f3f3;
	border-radius: 5px;
	padding: 16px 18px 28px 18px;
}
table.pview-contacts{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	line-height: 18px;
}
table.pview-contacts tr td{
	padding: 3px 14px 8px 0px;
}
table.pview-contacts tr td:first-child{
	font-weight: bold;
}
table.pview-contacts tr:first-child td a{
	text-decoration: underline;
	font-weight: bold;
}
.pview-author-rate{
	padding: 22px 0 22px 0;
	float: left;
	width: 200px;
}
.pview-author-rtit{
	font-size: 11px;
	margin: 0;
	padding: 0;
}
.pview-urate{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.pview-urate tr td{font-size: 18px;}
.pview-urate tr td:first-child{padding-right: 16px;}
.pview-author-rate div{font-size: 12px; padding-top: 3px;}
.pview-author-rate div span{font-weight: bold;}

.pview-mytree{
	float: right;
	width: 150px;
	padding: 22px 0px 14px 0px;
	text-align: center;
}
.pview-mytree a{
	display: inline-block;
	padding: 2px 0px 6px 40px;
	background: url(../img/a-tree.png) no-repeat 0 0;
	text-align: left;
	line-height: 16px;
}
.pview-mytree-u{
	padding: 22px 0px 14px 0px;
	text-align: center;
}
/*.pview-user-details .pview-mytree{ float: none; width: auto; }*/


.pview-sects{
	padding: 4px 0 10px 0;
}
.pview-sects-tit{
	font-weight: bold;
	padding: 0 0 2px 0px;
}
.pview-sects table{
	margin: 0;
	padding: 0;
	border-collapse: 0;
}
.pview-sects table tr td{
	vertical-align: top;
	padding: 4px 12px 8px 0;
}
.pview-sects table tr td:last-child{
	padding-top: 4px;
}
.pview-sects table tr td p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.pview-sects ul{
	margin: 2px 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
	font-size: 11px;
}
.pview-sects ul li{
	background: url(../img/li-mark.png) no-repeat 1px 8px;
	padding: 1px 0px 1px 16px;
}


.pview-rel{padding: 40px 0px 20px 0px;}
.pview-rel-tit{padding: 0 0 8px 0; font-size: 18px;}
.pview-rel-it{
	border-radius: 10px;
	padding: 12px 12px 18px 12px;
	margin: 0 0 14px 0;
}

.pview-rel-it table{
	margin: 0;
	padding: 0;
	border-collapse: 0;
	font-size: 12px;
}

.pview-rel-it table tr td{
	vertical-align: top;
	padding: 0px 0px 0px 8px;
}
.pview-rel-it table tr td:first-child{
	padding: 0;
	width: 110px;
}
.pview-rel-usr{
	display: inline-block;
	background: url(../img/ico-usr-pers.png) no-repeat 0 0;
	padding: 1px 0px 2px 18px;
	font-weight: bold;
}
.pview-rel-cost{
	padding: 12px 0px 0px 0px;
	color: #acacac;
	font-weight: bold;
	font-size: 32px;
	line-height: 20px;
}
.pview-rel-cost span{
	font-size: 22px;
	font-weight: normal;
}
.pview-rel-it p{
	color: #808080;
	font-size: 11px;
	padding: 4px 0 3px 0 ;
}

.pview-more{
	text-align: right;
	font-weight: bold;
	padding-right: 4px;
	font-size: 12px;
}
.pview-more a{
	background: url(../img/a-more.gif) no-repeat 100% 5px;
	padding-right: 16px;
}


.pview-comments{
	clear: both;
	padding: 12px 0px 20px 0px;
}
.pview-comment-it{
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 16px 20px 20px 20px;
}
.pview-comment-msg{
	clear: both;
	padding: 4px 0px 0px 0px;
}
.pview-comment-dt{
	color: #9a9a9a;
	font-size: 12px;
	display: block;
	text-align: right;
}


/* form basic styles */
.col-btn-pad{
	padding-top: 8px;
}
.row-form-pad{
	padding-top: 24px;
	padding-bottom: 20px;
}

.frm-error-msg{
	margin: 8px 0;
	padding: 12px 16px;
	border: 1px solid #a94442;
	border-radius: 6px;
	color: #a94442;
}
.frm-notify-msg{
	padding: 12px 0px;
	color: red;
}

.txtcount{
	padding: 3px 0px 3px 5px;
}
.txtcount span{ font-weight: bold; }
.txtcount-last span{color: red;}

.starratebg10{background: #d0d0d0; text-align: center; padding-bottom: 5px; }
.starratebg9{background: #d4d4d4; text-align: center; padding-bottom: 5px;}
.starratebg8{background: #d8d8d8; text-align: center; padding-bottom: 5px;}
.starratebg7{background: #dadada; text-align: center; padding-bottom: 5px;}
.starratebg6{background: #e0e0e0; text-align: center; padding-bottom: 5px;}
.starratebg5{background: #e4e4e4; text-align: center; padding-bottom: 5px;}
.starratebg4{background: #e8e8e8; text-align: center; padding-bottom: 5px;}
.starratebg3{background: #f0f0f0; text-align: center; padding-bottom: 5px;}
.starratebg2{background: #f6f6f6; text-align: center; padding-bottom: 5px;}
.starratebg1{background: #ffffff; text-align: center; padding-bottom: 5px;}

.udescr{
	padding: 8px 0px 12px 0px;
}
.utabs{
	padding: 24px 0px 10px 0px;
}



.topic-it{
	padding: 20px 20px 30px 0px;
}
.topic-it table{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.topic-it table tr td:last-child{
	font-weight: bold;
	padding-left: 10px;
}
.topic-list{
	padding: 0px 0px 0px 56px;
}


/* project edit */
.proj-pic-del{
	text-align: center;
	padding: 2px 0px 4px 0px;
}
.proj-pic-del a{
	color: #333;
	padding-left: 15px;
	background: url(../img/a-del.png) no-repeat 0 4px;
}

/* background select */
.backpic-select{
	clear: left;
	padding: 10px 0px 10px 0px;
}
.backpic-list{

}
.backpic-it{
	float: left;
	width: 120px;
	height: 130px;
}
.backpic-it a{
	display: block;
	width: 110px;
	height: 110px;
	border: 1px solid #fff;
	border-radius: 5px;
}
.backpic-it-sel a{
	border: 1px solid #f36624;
}
.backpic-fon1{background: url(../img/texture1.png) repeat -20px -20px;}
.backpic-fon2{background: url(../img/texture2.png) repeat -20px -20px;}
.backpic-fon3{background: url(../img/texture3.png) repeat -20px -20px;}
.backpic-fon4{background: url(../img/texture4.png) repeat -20px -20px;}
.backpic-nofon{background: #fbfbfb;}


/* pop up login */
#goto-restorepass, #goto-loglnk{
	margin-right: 10px;
	margin-top: 3px;
}

.load-progress{
	padding: 20px 20px;
	text-align: center;
}
.load-progress img{
	display: block;
	margin: 0 auto;
}

/* popup tip */
.tip-notify{
	position: fixed;
	display: block;
	width: 300px;
	height: 0px;
	opacity: 0;
	margin: 0 auto;
	top: 50px;
	z-index: 1001;
	background: #fff url(../img/face-notify.png) no-repeat 87% 100%;
	box-shadow: 0px 0px 5px 5px rgba(220, 220, 220, 0.3);
	border-radius: 7px;
	border: 2px solid #2ac6f9;
	overflow: hidden;
	transition: height 1s ease 0s;
	transition: opacity 1s ease 0s;
}
.tip-notify-show{
	/*display: block;*/
	transition: height 2s ease 1s;
	transition: opacity 2s ease 1s;
	min-height: 100px;
	height: auto;
	opacity: 1;
}
.tip-notify div{
	padding: 12px 20px;
}
.tip-notify div p{
	margin: 0;
	padding: 2px 0px;
}
.popnotify-close{
	float: right;
	display: block;
	width: 15px;
	height: 15px;
	background: url(../img/a-close.png) no-repeat 50% 50%;
	position: relative;
	right: 7px;
	top: 7px;
	cursor: pointer;
}

/* popup help */
.poptip-promo{
	position: absolute;
	left: 10px;
	top: 70px;
	width: 594px;
	height: 316px;
	background: url(../img/pop-promo-tip.png) no-repeat 0 0;
	opacity: 0;
	transition: opacity 0.2s ease-out 0s;
	z-index:5;
}
.poptip-promo-show{transition: opacity 0.6s ease-out 0s; opacity: 1;}
.poptip-promo-cont{padding: 34px 276px 0px 44px; /*background: #d0e6f2;*/}
.poptip-close{float: right;}
.poptip-info{ text-align: center; padding: 15px 0 10px 0px; line-height: 20px;}
.poptip-next{ text-align: center; padding-top: 12px; }

.pophelp-cont{
	padding: 20px 0px 0px 0px;
}
.pophelp-cont-human{
	background: url(../img/face-fullheight.png) no-repeat 98% 0;
	padding: 0px 140px 30px 0px;
}
.pophelp-col{
	text-align: center;
}
.pophelp-col>span{
	display: block;
	height: 248px;
}
.pophelp-col-dream>span{ background: url(../img/face-dream.png) no-repeat 50% 50%; }
.pophelp-col-dohelp>span{ background: url(../img/face-help.png) no-repeat 50% 50%; }
.pophelp-col-needhelp>span{ background: url(../img/face-gethelp.png) no-repeat 50% 50%; }

.pophelp-next{
	clear: both;
	padding: 10px 0px 0px 0px;
	text-align: right;
}
.pophelp-next a{
	padding-right: 18px;
	background: url(../img/a-gonext.png) no-repeat 100% 5px;
}


.pophelp2-cont{
	padding: 0px 0px 0px 0px;
}
.pophelp2-cont-human{
	background: url(../img/face-fullheight-tree.png) no-repeat 98% 100%;
	padding: 0px 0px 20px 0px;
}
.pophelp2-txt{ padding: 0 0 20px 0; }
.pophelp2-txt img{ margin-top: 6px; }
.pophelp2-btns{
	clear: both;
	padding: 12px 0px 0px 0px;
}


.bonustree{
	width: 100%;
	height: 300px;
	position: relative;
	background: #fff;
}
.bonustree-msg-win{
	font-size: 22px;
	text-align: center;
	color: #2fa83f;
	padding-top: 100px;
}
.bonustree-msg-loose{
	font-size: 22px;
	text-align: center;
	color: #d43737;
	padding-top: 100px;
}
a.bonustree-point{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background: #fff200;
	border-radius: 16px;
	color: #fff;
	text-align: center;
	line-height: 22px;
	font-size: 22px;
	text-decoration: none;
}

a.bonustree-point32{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background: #fff200;
	border-radius: 16px;
	color: #fff;
	text-align: center;
	line-height: 22px;
	font-size: 22px;
	text-decoration: none;
}

a.bonustree-point64{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 17px;
	height: 17px;
	background: #fff200;
	border-radius: 16px;
	color: #fff;
	text-align: center;
	line-height: 22px;
	font-size: 22px;
	text-decoration: none;
}
a.bonustree-point:hover, a.bonustree-point32:hover, a.bonustree-point64:hover{
	background: #ffeb02;
}

a.bonustree-point-empty, a.bonustree-point-empty:hover{
	background: #616600;
}
a.bonustree-point-prize, a.bonustree-point-prize:hover{
	background: #ff8a00;
}
a.bonustree-point, a.bonustree-point32, a.bonustree-point64 span{
	padding: 6px 0 0 0;
	display: inline-block;
}

#parent{
	position: relative;
}

#child{
	position: absolute;
	width: 39%;
	height: 30%;
	margin: auto;
}

#child2{
	position: absolute;
	width: 95%;
	height: 30%;
	margin: auto;
}

.child-1{
	font-size: 36pt;
	font-family: 'Ubuntu-Light';
	top: 254px;
	left: 50px;
}

.child-1-loose{
	top: 60px;
	left: 260px;
}

.loose-center{
	text-align: center;
}

.child-2-loose{
	font-family: 'Ubuntu-Light';
	top: 288px;
	left: 22px;
	text-align: center;
	font-size: 15pt;
	line-height: 1.4;
}

.child-2{
	font-family: 'Ubuntu-Light';
	top: 344px;
	left: 50px;
}

.child-3{
	font-size: 12pt;
	font-family: 'Ubuntu-Light';
	top: 348px;
	left: 160px;
	line-height: 1.2;
	color: #fff;
}

.child-4{
	font-size: 14pt;
	font-family: 'Ubuntu-Light';
	top: 464px;
	left: 64px;
	line-height: 1.2;
	color: #fff;
}

.child-5{
	font-size: 12pt;
	font-family: 'Ubuntu-Light';
	top: 460px;
	left: 300px;
}

.bonustree-size-text{
	width: 305px;
}

.bonustree-try{
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #90ff00;
	border-radius: 16px;
	border-color: #fff;
	border: 2px solid #fff;
	line-height: 22px;
	font-size: 22px;
	text-decoration: none;
}
#bonustry1{
	left: -55px;
}

#bonustry2{
	left: -12px;
}

#bonustry3{
	left: 31px;
}

.bon-bonus-loose{
	height: 400px;
	width: 700px;
	background: #feffff;
	background-size: cover;
}

/*--------------------------------------------------------------------------------------*/
/* rating pages */
table.rateTbl{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}
table.rateTbl tr th{
	background: #f2f2f2;
	padding: 20px 10px 8px 10px;
}
table.rateTbl tr td{
	padding: 10px 10px;
	border-bottom: 1px solid #f2f2f2;
}


/* faq */
.faq-list{
	clear: both;
	padding: 0px 0 20px 0;
	text-align: left;
}

.faq-group{
	padding: 4px 0px 12px 0px;
}
.faq-group>span{
	font-size: 18px;
}
.faq-group ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.faq-group ul li{
	padding: 4px 0px 4px 0px;
}
.faq-it{
	font-size: 14px;
}
.faq-it-i{
	display: none;
	font-size: 12px;
	padding: 6px 0 12px 20px;
}
.faq-it-ivis{
	display: block;
}
/*OWN STYLE*/
.check{
	position: absolute;
	right: -10px;
	top: -20px;
}
.check-img{
	position: absolute;
	margin-top: 92px;
}
.tree-msg{
	text-align: center;
	font-size: 19px;
	color: rgba(125, 103, 54, 0.87);
	margin-left: 140px;
	height: 30px;
	background-color: #444b4e;
}
.ext-p{
	font-size: 19px;
}
.canvas-main{
	position: relative;
}
.overley-canvas{
	position:relative;
	z-index: 3;
}
.together{
	width: 100%;
}
.canvas-pict{
	height: 97px;
	width: 97px;
	background: url("../img/face-baloon.png") no-repeat;
}
.arr{
	display: block;
	position: relative;
	height: 70px;
	width: 70px;
	background: url("../img/arrow.png") no-repeat;
	background-size: 100%;
	z-index: 3;
	margin-top: 230px;
	margin-left: 570px;
	transform: rotate(148deg);
}
.utree{
	display: block;
	position: absolute;
	z-index: 3;
	font-size: 14px;
	width: 140px;
	margin-top: 245px;
	margin-left: 625px;
}

/* news */
.news-list{
	padding: 24px 0px 24px 0;
}
.news-it{
	clear: both;
	padding: 12px 0px 18px 0px; 
}
.news-tit{
	font-size: 18px;
	padding: 2px 0px 6px 0px;
}
.news-anons{
	padding: 0;
}
.news-item-inf{
	clear: both;
	padding: 28px 0px 34px 0px;
}
/* REDESIGNED CABINET STYLE */

.cab-bgi{
	height: 120px !important;
}

.cab-bgi h1{
	font-size: 22px;
	font-family: 'Ubuntu Light';
	margin: 0;
}

.cab-bgi .nav-tabs{
	color: #3b3b3b;
	font-family: 'UbuntuRegular';
	font-size: 12.5px;
}

.cab-bgi .nav-tabs .badge{
	background-color: #f36624;
	font-size: 10px;
	font-weight: normal;
	margin-left: 5px;
}

.cab-bgi .nav-tabs > li > a:hover{
	transition: .3s;
	background: rgba(250, 250, 250, 0.7);
	color: #3b3b3b;
}

.cab-bgi .nav-tabs > li > a{
	background: rgba(110, 122, 132, 0.75);
}

.cab-bgi .nav-tabs .active>a{
	background: #fff;
}

.cab-bgi .nav-tabs > li:not(:first-child){
	margin-left: 5px;
}

.cab-cont .left-usr-ground{
	margin-top: 10px;
	padding-left: 0;
	height: auto;
}

.cab-cont .block-photo{
	margin: 0;
	padding-bottom: 20px;
}

.cab-cont .user-name{
	top: 25px;
	color: #5e6b75;
}

/* ARTUR-info-work----------------------------------------------------------------------------- */
.background-info-work{
	background: rgba(212,250,217,1);
	background: -moz-linear-gradient(top, rgba(212,250,217,1) 0%, rgba(247,255,248,1) 49%, rgba(212,250,217,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,250,217,1)), color-stop(49%, rgba(247,255,248,1)), color-stop(100%, rgba(212,250,217,1)));
	background: -webkit-linear-gradient(top, rgba(212,250,217,1) 0%, rgba(247,255,248,1) 49%, rgba(212,250,217,1) 100%);
	background: -o-linear-gradient(top, rgba(212,250,217,1) 0%, rgba(247,255,248,1) 49%, rgba(212,250,217,1) 100%);
	background: -ms-linear-gradient(top, rgba(212,250,217,1) 0%, rgba(247,255,248,1) 49%, rgba(212,250,217,1) 100%);
	background: linear-gradient(to bottom, rgba(212,250,217,1) 0%, rgba(247,255,248,1) 49%, rgba(212,250,217,1) 100%);
}

.background-info-work-down{
	background: url("../img/work-background-white.png") repeat;
}

.text-work-makehelp{
	padding-top: 30px;
}

.work-line-l{
	text-align: center;
	width: 65%;
	margin: 0 auto;
}

.work-line-tv-l{
	text-align: center;
	margin: 0 auto;
}

.work-btn-def{
	height: 45px;
	width: 188px;
}

.work-btn-def img{
	padding-left: 30px;
}

.work-btn-def p{
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'UbuntuMedium';
	padding-right: 10px;
}

.info-work-ul-green{
	text-align: left;
	font-size: 11.8px;
	margin-left: 70px;
	margin-bottom: 45px;
}

.info-work-ul-red{
	text-align: left;
	font-size: 11.8px;
	margin-left: 70px;
}

.work-ang-img{
	position: relative;
	z-index: 2;
}


/*IMAGES-------------------------------------------------------------------------------------------------------------*/
.img-work-padding{
	margin: 0 auto;
	text-align: center;
}

.img-work-four-1 {
	background: url("../img/work-man-1.png") no-repeat;
	width: 68px;
}

.img-work-four-2 {
	background: url("../img/work-man-2.png") no-repeat;
	width: 70px;
}

.img-work-four-3 {
	background: url("../img/work-money-3.png") no-repeat;
	width: 45px;
}

.img-work-four-4 {
	background: url("../img/work-hand-4.png") no-repeat;
	width: 74px;
}

.img-work-arrows{
	background: url("../img/work-arrow-4.png") no-repeat;
	height: 100px;
	width: 549px;
	text-align: center;
	margin: 20px auto auto auto;
}

.img-work-four-size{
	height: 65px;
}

.img-work-four-position{
	margin-left: 275px;
	padding-top: 50px;
}

.img-work-arrow-left{
	background: url("../img/work-left-arrow.png") no-repeat;
	height: 209px;
	width: 179px;
	float: right;
	margin: 20px 20px auto 20px;
}

.img-work-arrow-right{
	background: url("../img/work-right-arrow.png") no-repeat;
	height: 209px;
	width: 182px;
	text-align: center;
	margin: 20px auto auto 20px;
	float: left;
}

.img-work-monitor{
	background: url("../img/work-monitor.png") no-repeat;
	height: 261px;
	width: 384px;
	text-align: center;
	margin: 20px auto 40px auto;
}

.img-work-triangle{
	background: url("../img/work-big-triangle.png") no-repeat;
	color: #d4fad9;
	height: 55px;
	width: 245px;
	text-align: center;
	margin: -3px auto auto auto;
}

.img-work-arrow-down{
	position: relative;
	background: url("../img/work-silver-arrow.png") no-repeat;
	height: 55px;
	width: 134px;
	text-align: center;
	left: 833px;
	top: -237px;
}

.img-work-tree-down {
	background: url("../img/work-tree.png") no-repeat;
	height: 423px;
	width: 532px;
	text-align: center;
	margin: 60px 205px  auto auto;
}

/*IMAGES-------------------------------------------------------------------------------------------------------------*/

/*TEXT-------------------------------------------------------------------------------------------------------------*/

.text-work-arrow-good{
	font-size: 11pt;
	text-align: left;
	color: #79848b;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;
	right: -85px;
	top: 50px;
}

.text-work-tree-me{
	font-size: 11pt;
	color: #79848b;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;
	right: 51px;
	top: 225px;
}

.text-work-tree-mytree{
	font-size: 30pt;
	text-align: left;
	color: #79848b;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;
	right: 196px;
	top: 113px;
}

.txt-work-tree-nvg{
	font-size: 15pt;
	color: #38b348;
	line-height: 1;
	margin-bottom: 65px;
	text-align: center;
}

/*-----------------*/
.text-work-baz{
	font-size: 18pt;
	color: #38b348;
}

.text-work-left-1{
	font-size: 11pt;
	color: #79848b;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;
	right: 100px;
	top: 50px;
}

.text-work-left-2{
	font-size: 11pt;
	color: #79848b;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;
	right: 100px;
	top: 70px;
}

.text-work-left-3{
	font-size: 11pt;
	color: #79848b;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;
	right: 100px;
	top: 90px;
}

.text-work-right-1{
	font-size: 13pt;
	color: #79848b;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;
	left: 160px;
	top: 98px;
}

.text-work-right-2{
	font-size: 13pt;
	color: #79848b;
	line-height: 1;
	margin-bottom: 30px;
	position: relative;
	left: 145px;
	top: 107px;
}

/*TEXT-------------------------------------------------------------------------------------------------------------*/


.btn-info-work-do{
	border-radius: 6px;
	border: none;
	background: rgba(58,191,75,1);
	background: -moz-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,191,75,1)), color-stop(100%, rgba(28,148,42,1)));
	background: -webkit-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	background: -o-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	background: -ms-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	background: linear-gradient(to bottom, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
}
.btn-info-work-do:hover{
	background: rgb(98, 191, 108);
}
.btn-info-work-do:active{
	background: rgb(98, 191, 108);
}
.btn-info-work-make{
	border-radius: 6px;
	border: none;
	background: rgba(255,127,67,1);
	background: -moz-linear-gradient(top, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,127,67,1)), color-stop(100%, rgba(226,56,9,1)));
	background: -webkit-linear-gradient(top, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
	background: -o-linear-gradient(top, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
	background: linear-gradient(to bottom, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
}

.btn-info-work-make:hover{
	background: rgb(255, 152, 102);
}
.btn-info-work-make:active{
	background: rgb(255, 152, 102);
}

/* ARTUR-info-work----------------------------------------------------------------------------- */




/* ARTUR-cabinet----------------------------------------------------------------------------- */

.cab-jh-sclike-row {
	width: 416px;
}

.cab-tree-size{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.qmark:before
{
	content: '?';
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	width: 2.8ex;
	height: 2.8ex;
	font-size: 2ex;
	line-height: 1.8ex;
	border-radius: 3ex;
	margin-right: -242px;
	margin-top: 3px;
	padding: 4px;
	color: white;
	background: #5a6772;
	border: 1px solid #5a6772;
	text-decoration: none;
	transition: .4s;
}

.qmark:hover:before
{
	color: #5a6772;
	background: white;
	border-color: #5a6772;
	text-decoration: none;

}

.cab-line-hor{
	border-right: 1px;
	border-color: #ececec;
}
/*#ececec*/
.cab-border-ver{
	width: auto;
	height: 626px;
	margin-left: 82px;
	border-left: 1px solid #ececec;
}

.cab-border-hor{
	width: 114%;
	margin-left: 70px;
	margin-top: -20px;
	border-bottom: 1px solid #ececec;
}

.cab-border-hor-2{
	width: 121%;
	margin-left: -9px;
	margin-top: 70px;
	border-bottom: 1px solid #ececec;
}

.cab-border-hor-3{
	width: 638px;
	margin-left: 83px;
	margin-top: -522px;
	border-bottom: 1px solid #ececec;
}

.cab-border-hor-4{
	width: 638px;
	margin-left: 82px;
	margin-top: 416px;
	border-bottom: 1px solid #ececec;
}

.cab-border-hor-5{
	width: auto;
	height: 56px;
	margin-left: 375px;
	margin-top: -482px;
	border-left: 1px solid #ececec;
}

.cab-position-two{
	position: relative;
	left: -10px;
	top: 26px;
}

.cab-ul-square{
	list-style-type: square;
	font-size: 23.8px;
}

.cab-btn-def {
	height: 45px;
	width: 141px;
	text-align: left;
}

.cab-btn-def-adm {
	height: 45px;
	width: 141px;
	text-align: left;
}

.cab-btn-def-two {
	height: 30px;
	width: 172px;
}

.cab-btn-def-two:hover{
	background: rgb(226, 226, 226);
}
.cab-btn-def-two:active{
	background: rgb(226, 226, 226);
}

.cab-btn-def img{
	padding-left: 0px;
}

.cab-btn-def-two p{
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'UbuntuMedium';
	padding-right: 0px;
	margin-left: 13px;
}

.cab-btn-def p{
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'UbuntuMedium';
	margin-left: 10px;
}

.cab-btn-def-adm p{
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'UbuntuMedium';
	padding-right: 0px;
}

.btn-cab-pos{

}

.gbnt-cab-pos {
	margin-top: -75px;
	margin-left: 170px;
}

.rbnt-cab-pos{
	margin-top: -45px;
	margin-left: 325px;
}

.bbnt-cab-pos{
	margin-top: -45px;
	margin-left: 479px;
}

.fbnt-cab-pos {
	position: relative;
	top: 30px;
	left: 2px;
}

.tbnt-cab-pos {
	position: relative;
	top: 0px;
	left: 180px;
}

.btn-cab-msgadmin{
	border-radius: 6px;
 	border: none;
	background: rgba(43,118,184,1);
	background: -moz-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,118,184,1)), color-stop(100%, rgba(6,68,149,1)));
	background: -webkit-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -o-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -ms-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: linear-gradient(to bottom, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);

}

.btn-cab-msgadmin:hover{
	background: rgb(47, 129, 184);
}
.btn-cab-msgadmin:active{
	background: rgb(47, 129, 184);
}

.btn-cab-two{

	border-radius: 4px;

	background: rgba(202,202,202,1);
	background: -moz-linear-gradient(top, rgba(202,202,202,1) 0%, rgba(167,167,167,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,202,202,1)), color-stop(100%, rgba(167,167,167,1)));
	background: -webkit-linear-gradient(top, rgba(202,202,202,1) 0%, rgba(167,167,167,1) 100%);
	background: -o-linear-gradient(top, rgba(202,202,202,1) 0%, rgba(167,167,167,1) 100%);
	background: -ms-linear-gradient(top, rgba(202,202,202,1) 0%, rgba(167,167,167,1) 100%);
	background: linear-gradient(to bottom, rgba(202,202,202,1) 0%, rgba(167,167,167,1) 100%);
}

.btn-cab-two:hover{
	background: rgb(186, 186, 186);
}

/*IMAGES--------------------------------------------------------------------------------------*/

.img-cab-top-1{
	background: url("../img/tree.png") no-repeat;
	width: 29px;
}

/*IMAGES--------------------------------------------------------------------------------------*/
/*TEXT----------------------------------------------------------------------------------------*/

.text-cab-l{
	margin-right: -149px;
	margin-top: -27px;
	font-size: 14pt;
}

.text-cab-r{
	margin-right: -48px;
	margin-top: 11px;
	width: 145px;
}

#square-g {
	width: 10px;
	height: 10px;
	background: #f36624;
	margin-top: 35px;
	margin-left: 71px;

}

#square-r {
	width: 10px;
	height: 10px;
	background: #38b348;
	margin-top: 23px;
	margin-left: 217px;
}

#number-square-1 {
	font-size: 20pt;
	margin-top: -25px;
	margin-left: 87px;
}

#number-square-2 {
	font-size: 20pt;
	margin-top: -24px;
	margin-left: 233px;
	height: 30px;
	width: 45px;
}

.text-left-position{
	margin-left: 122px;
	margin-top: -49px;
}

.text-left-right-size{
	line-height: 14px;
}

.cab-utree-pos {
	margin-left: 95px;
	margin-top: 16px;
	width: 607px;
	height: 402px;
}

.text-right-position{
	margin-left: 268px;
	margin-top: -44px;
}

.utree-top{
	display: block;
	z-index: 3;
	font-size: 14px;
	width: 140px;
	margin-left: 40px;
	margin-top: 15px;
}

.cab-utree {
	background: #fff url(../img/bg-cabgraph-wcircle-sm.png) no-repeat 50% 5px;
	border-radius: 7px;
	min-height: 371px;
	padding: 14px 8px 12px 12px;
	margin-bottom: 12px;
	margin-left: 84px;
	margin-top: -64px;

	width: 590px;
}

.cab-utree-graph {
	text-align: center;
	padding: 30px 0px 10px 0px;
	clear: both;
}

.col-md-pos{
	margin-left: 56px;
}

.size-cab-bolls{
	width: 50px;
	height: 0px;
}

.size-onlooking{
	width: 20%;
	text-align: center;
}

/*CIRCLE----------------------------------------------------------------------*/
.circle-cab-paint {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	margin-left: 24px;
}

.circle-cab-position{
	position: relative;
	top: -108px;
	left: 120px;
}

.circle-cab-paint1 {
	background: #ff0000;
}

.circle-cab-paint2 {
	background: #ffaf14;
}

.circle-cab-paint3 {
	background: #00c950;
}

.circle-cab-paint4 {
	background: #3377ca;
}

.circle-cab-paint5 {
	background: #ff5eb1;
}

.circle-cab-paint6 {
	background: #ad0909;
}

.circle-cab-paint7 {
	background: #3b3b3b;
}

.circle-cab-paint8 {
	background: #73ffdc;
}

.circle-cab-paint9 {
	background: #07bb82;
}

.circle-cab-paint10 {
	background: #79dc6e;
}

.circle-cab-paint11 {
	background: #39079d;
}

.circle-cab-paint12 {
	background: #9d4600;
}
/*TEXT----------------------------------------------------------------------------------------*/

.cab-badge-red {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: #cf4342;
	border-radius: 10px;
}

	.cab-tabs .nav-tabs{
		border: 0 !important;
	}

	.cab-soc-mar{
		margin: 5px 5px;
		margin-bottom: 20px;
	}
/* ARTUR-cabinet----------------------------------------------------------------------------- */



/*ARTUR-bonus---------------------------------------------------------------------------------------------------*/

.bon-box-aw-img{
	display: inline-block;
	height: 27px;
	width: 42px;
	background: url(../img/p-sm-ang-w.png);
}

.pview-pix img {
	margin: 0px 0px 10px 0px;
}

.pview-bon-left {
	padding: 25px 0px 10px 0px;
}

.pview-bon-dates {
	float: left;
	width: 186px;
	text-align: left;
	font-size: 11px;
	color: #b1b1b1;
	line-height: 16px;
	padding: 12px 0px 12px 0px;
}

.pview-bon-target {

	float: left;
	width: 186px;
	text-align: left;
	font-size: 11px;
	line-height: 30px;
	padding: 0px 0px 0px 0px;
	margin-top: 60px;
	margin-left: -187px;
}

/*TEXT-bonus*/

.text-bon-size{
	font-size: 15pt;
	color: #616d77;
	width: 270px;
	padding-bottom: 5px;
}

.text-size-color-bon{
	font-size: 15pt;
	color: #38b348;
}

.bon-btn-def{
	height: 40px;
	width: 215px;
}

.bon-btn{
	background: url("../img/bon-hand.png") no-repeat;
	border: none;
}



.img-border{
	border-radius: 10px 10px 0px 0px;
}

.btn-bon-do{
	border-radius: 6px;
	border: none;
	background: rgba(58,191,75,1);
	background: -moz-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,191,75,1)), color-stop(100%, rgba(28,148,42,1)));
	background: -webkit-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	background: -o-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	background: -ms-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	background: linear-gradient(to bottom, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
	margin-top: -10px;
	border-radius: 0px 0px 10px 10px;
}
.btn-bon-do:hover{
	background: rgb(98, 191, 108);
}
.btn-bon-do:active{
	background: rgb(98, 191, 108);
}

.bon-pview-pix img {
	float: left;
	margin: 0px 10px 60px 0px;
}

.text-bon-center{
	text-align: center;
}

.text-bot-padding{
	padding-left: 15px;
}

.bon-text-all {
	padding: 5px 0px;
	width: 401px;
}

.bon-stat-w {
	margin-left: 10px;
	display: inline-block;
	font-size: 14px;
	vertical-align: super;
}

.bon-sm-stat-w{
	margin-left: 10px;
	display: inline-block;
	font-size: 14px;
	color: #3b3b3b;
	vertical-align: super;
}

.bon-sm-stat-w:hover{
	color: #7c7c7c;
}

.bon-center-rate {
	text-align: center;
}

.bon-text-btn{
	position: relative;
	color: #eaf4eb;
	top: -2px;
	left: 5px;
	font-size: 13pt;
}

.bon-text-btn:hover{
	color: #fff;
}


a.bon-text-btn{
	text-decoration: none;
}

.bon-pview-comm-txt {
	width: 100%;
	height: 93px;
	vertical-align: middle;
	margin-left: 133px;
	margin-top: -99px;
	overflow-y: auto;
}

.bon-justy {
	text-align: justify;
}

/*ARTUR-bonus----------------------------------------------------------------------------------------------------*/



/*ARTUR-successfull----------------------------------------------------------------------------------------------------*/

.suc-color-head{
	color: white;
	font-family: "Ubuntu-Light";
}

.suc-pos-head{
	margin-top: 40px;
	margin-left: 88px;
}

.suc-text-head{
	color: #616d77;
	font-size: 17pt;
	margin-top: 31px;
	font-family: "Ubuntu-Light";
}

.suc-img-head{
	float: left;
	margin: 30px 46px;;
}

.suc-container {
	width: 84%;
}

.suc-img-catalog{
	text-align: center;
}

.suc-green-2 {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.suc-green-1{
	background-image: url("../img/cat-green-1.png");
	height: 21px;
	width: 154px;
	margin: auto;
	position: relative;
	top: 1px;
	
	color: white;
	font-family: "Ubuntu-Light";
	font-size: 14pt;
}

.suc-img-table{
	object-fit: cover;
	height: 213px;
	width: 213px;
	border-radius: 10px 10px 10px 10px;
}

.suc-div-img{
	margin-top: 40px;
}

.suc-position-block {
	padding: 0px 67px;
}

.suc-text-block {
	text-align: left;
	font-size: 15pt;
	color: green;
}

.suc-text-block>a {
	color: green;
}

.suc-text-block>a:hover {
	color: #00a600;
}

.suc-img-tree{
	position: relative;
	margin-top: -30px;
	margin-left: 180px;
}

.suc-left-right-size{
	height: 68px;
	width: 100px;
}

.suc-left-rating{
	background: #f8f8f8;
	border-radius: 5px 5px 5px 5px;
}

.suc-right-help{
	background: #36b247;
	border-radius: 5px 5px 5px 5px;
}

.suc-text-underblock{
	text-align: left;
	font-size: 9pt;
	font-family: "Ubuntu-Light";
}

.suc-hr{
	width: 98%;
	margin: 10px 0px 15px 0px;
}

.suc-p>p{
	margin: 0px !important;
}

.soc-downt-text-left>p{
	text-align: left;
	font-size: 9pt;
}

.soc-downt-text-right>span{
	text-align: right;
	font-size: 9pt;
	padding-right: 5px;
}

.soc-text-randh{
	font-size: 8pt;
	line-height: 1;
	font-family: "Ubuntu-Light";

	position: relative;
	top: 8px;
}

.soc-size-rating{
	font-size: 13pt;
}

.soc-size-help{
	font-size: 25pt;
}

.soc-color-ratg{
	color: #5e6b75;
}

.soc-color-help{
	color: #88fc98;
}

.soc-global-hr{
	border: 1px solid #f1f1f1;
	border-radius: 0px 0px 10px 10px;
}

.suc-name-img{
	background: url("../img/cat-blackman.png") no-repeat;

}

.soc-usr-a img, .soc-usr-a span{
	display: inline-block;
}

.soc-usr-a{
	position: relative;
	top: -2px;
}

.soc-usr-a>span{
	padding-left: 3px;
	font-size: 12px;
	color: #656565;
	text-decoration: underline !important;
}
.soc-usr-a>span:hover{
	color: #abafb6;
}

.soc-div-posrel{
	position: relative;
}

.soc-div-zindex{
	z-index: 2;
}

.soc-height-all{
	height: 520px;
}

.soc-height-text{
 height: 55px;
}

.soc-height-underblock-text{
	height: 113px;
}

.soc-global-s{
	padding-top: 25px;
}

.soc-con-tree{
	margin-left: 14px;
}

.soc-con-basic{
	position: relative;
	height: 70px;
	width: 70px;
	top: -77px;
	left: 97px;
}

.soc-con-basics{
	position: relative;
	display: inline-block;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	transition: 0.5s;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid #36b247;
}

.soc-con-basic:hover{
	border-radius: 20px;
	transition: .5s;
}

.soc-con-basics:hover{
	border-radius: 20px;
	transition: .5s;
}

.suc-money-num{
	position: relative;
	top: -32px;
	left: 16px;
	height: 32px;
	width: 213px;
	background: #36b247;
	border-radius: 0px 0px 10px 10px;
}

.suc-money-text{
	position: relative;
	color: #88fc98;
	text-align: left;
	left: 10px;
	top: 4px;
}

.soc-folder{
	margin-top: -43px;
}

.soc-gedfer{
	position: relative;
	top: -83px;
}

.soc-smallfix{
	margin-top: 33px;
}

.wnd-hdr-top{
	font-size: 32px;
	text-align: center;
}

.wnd-hdr-bot{
	font-size: 23px;
	text-align: center;
}
/*ARTUR-successfull----------------------------------------------------------------------------------------------------*/
.cab-left-hun{
	margin-left: 140px;
}

.cab-right-hun{
	margin-left: 284px;
}

.splash-r-btn-get{
	height: 70px;
	width: 207px;
	background: url('../img/ind-btn-bl-get.png');
}

.splash-r-btn-take{
	height: 70px;
	width: 207px;
	background: url('../img/ind-btn-bk-take.png');
	margin-left: 10px;
}

.ind-btn{
	display: inline-block;
	height: 60px;
	width: 190px;
	border-radius: 10px;
}

.main-btn-def {
	height: 62px;
	width: 191px;
	text-align: left;
	border-radius: 10px;
}

.main-btn-def p {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'UbuntuMedium';
	margin-left: 20px;
}

.main-reg-btn {
	font-family: 'UbuntuRegular';
	border-radius: 10px;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 67px;
	height: 42px;
	width: 205px;
}

.main-btn-promise{
	display: inline-block;
	background: rgba(43,118,184,1);
	background: -moz-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,118,184,1)), color-stop(100%, rgba(6,68,149,1)));
	background: -webkit-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -o-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -ms-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: linear-gradient(to bottom, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);

}

.main-btn-promise:hover{
	background: #5780fb; /* Old browsers */
	background: -moz-linear-gradient(top, #3d86b6 0%, #3784b8 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3d86b6 0%,#3784b8 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,#3d86b6 0%,#3784b8 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-btn-def-down {
	height: 44px;
	width: 129px;
	text-align: left;
	border-radius: 10px;
}

.main-btn-def-down p {
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'UbuntuMedium';
	margin-left: 13px;
}

.main-btn-us {
	height: 44px;
	width: 185px;
	text-align: left;
	border-radius: 10px;
}

.main-btn-us p {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'UbuntuMedium';
	margin-left: -10px;
	margin-top: 4px;
}

.mini-fix-img{
	margin-top: 3px;
}

.main-btn-ofus{
	background: rgba(90,90,90,1);
	background: -moz-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(53,52,52,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(90,90,90,1)), color-stop(100%, rgba(53,52,52,1)));
	background: -webkit-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(53,52,52,1) 100%);
	background: -o-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(53,52,52,1) 100%);
	background: -ms-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(53,52,52,1) 100%);
	background: linear-gradient(to bottom, rgba(90,90,90,1) 0%, rgba(53,52,52,1) 100%);
}

.main-btn-ofus:hover{
	background: rgba(90,90,90,1);
}

.promise-s-text{
	  font-size: 38px;
	  color: #fff;
	  font-family: 'Ubuntu-Light';
	  line-height: 1.3;
  }

.promise-o-text{
	font-size: 18px;
	color: #fff;
	font-family: 'Ubuntu-Light';
	line-height: 1.3;
	margin-bottom: 35px;
}

.promise-o-btn{
	height: 33px;
	width: 200px;
	text-align: left;
	border-radius: 20px;
}

.promise-o-btn p {
	font-size: 15px;
	line-height: 1.3;
	color: #fff;
	font-family: 'UbuntuMedium';
	margin-left: 12px;
}

.promise-s-btn{
	height: 33px;
	width: 260px;
	text-align: left;
	border-radius: 20px;
	margin-left: 20px;
}

.promise-s-btn p {
	font-size: 15px;
	line-height: 1.3;
	color: #fff;
	font-family: 'UbuntuMedium';
	margin-left: 7px;
}

.promise-btn-left{
	background: rgba(0,71,95,1);
	background: -moz-linear-gradient(top, rgba(0,71,95,1) 0%, rgba(0,43,61,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,71,95,1)), color-stop(100%, rgba(0,43,61,1)));
	background: -webkit-linear-gradient(top, rgba(0,71,95,1) 0%, rgba(0,43,61,1) 100%);
	background: -o-linear-gradient(top, rgba(0,71,95,1) 0%, rgba(0,43,61,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,71,95,1) 0%, rgba(0,43,61,1) 100%);
	background: linear-gradient(to bottom, rgba(0,71,95,1) 0%, rgba(0,43,61,1) 100%);

}

.promise-btn-left:hover{
	background: rgb(0, 89, 114);
}

.promise-btn-right{
	background: rgba(172,191,28,1);
	background: -moz-linear-gradient(top, rgba(172,191,28,1) 0%, rgba(127,169,2,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(172,191,28,1)), color-stop(100%, rgba(127,169,2,1)));
	background: -webkit-linear-gradient(top, rgba(172,191,28,1) 0%, rgba(127,169,2,1) 100%);
	background: -o-linear-gradient(top, rgba(172,191,28,1) 0%, rgba(127,169,2,1) 100%);
	background: -ms-linear-gradient(top, rgba(172,191,28,1) 0%, rgba(127,169,2,1) 100%);
	background: linear-gradient(to bottom, rgba(172,191,28,1) 0%, rgba(127,169,2,1) 100%);
}

.promise-btn-right:hover{
	background: rgb(182, 201, 28);
}

.ind-info-btn-tree:hover {
	background: rgb(60, 201, 77);
}

.promise-background-top{
	background: #00bec5;
}

.buildings-promise{
	width: 100%;
	margin-bottom: 130px;
	margin-left: -35px;
}

.angel-head{
	color: #fff;
	text-align: center;
	margin-top: 30px;
}

.angel-divt{
	margin-top: 50px;
}

.angel-divb{
	margin-top: 15px;
	margin-bottom: 50px;
}

.angel-text{
	text-align: left;
	font-size: 14pt;
	color: #2f5842;
	line-height: 1.2;
	margin-top: 50px;
}

.users-box-info{
	height: auto;
	font-size: 16px;
	padding-top: 5px;
}

.users-box-info a{
	color: #3b3b3b;
	text-decoration: none;
}

.users-box-status{
	display: inline-block;
	font-size: 16px;
	text-align: left;
	line-height: 16px;
	margin-left: 10px;
}

.block-money{
	width: 135px;
}

.left-hr{
	width: 270px;
}

.cab-hr{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	border: 0;
	border-top: 1px solid #eeeeee;
	width: 355px;
}

.post-help h3{
	font-size: 19px;
	font-family: 'UbuntuBold';
	text-align: center;
	margin: 20px 0;
}

.post-help-text{
	 font-size: 15pt;
	 margin-top: 50px;
 }

.post-help-share{
	margin-top: 50px;
}

.post-help b{
	font-family: 'UbuntuBold';
	color: #0e9400;
}

.usr-tree{
	margin-top: 102px;
	width: 97%;
	height: 81%;
}

.usr-graph {
	border: 1px solid #f4f4f4;
	border-radius: 12px;
	padding: 10px;
	height: 428px;
}

.usr-photo-resize{
	border-radius: 50%;
	height: 70px;
	text-align: center;
	object-fit: cover;
}
.pview-rel-usrs {
	display: inline-block;
	background: url(../img/usr-min-pic.png) no-repeat 0 0;
	padding: 3px 0px 2px 15px;
	font-family: 'UbuntuBold';
	height: 20px;
	margin-top: 8px;
	margin-left: 31px;
}
.usr-name-pos {
	margin-left: 5px;
	bottom: 6px;
	position: relative;
}
.car-act-usr-photo {
	margin: 0 auto;
	width: 53%;
}
.owl-carousel-prt{
	margin-bottom: 20px;
	margin-top: -15px;
}
.owl-carousel-prt .owl-hlp-lt {
	bottom: 72px;
	right: 100%;
}
.owl-carousel-prt .owl-hlp-rg {
	bottom: 72px;
	right: 100%;
}
.owl-hlp-lt{
	background-image: url('../img/ind-car-arr-left.png');
	bottom: 75px;
	left: 0%;
}
.owl-hlp-rg{
	background-image: url('../img/ind-car-arr-right.png');
	bottom: 75px;
	left: 96%;
}
.owl-pos-cab{
	bottom: 100px!important;
}
.usr-money-txt{
	font-size: 14pt;
	text-align: center;
	color: #7b7a7a;
	font-weight: bold;
}
.text-aligndd{
	text-align: center;
}
.usr-name-color{
	font-weight: bold;
	color: black;
}

.usr-msg-btn p {
	font-size: 10px;
	margin-left: -11px;
	margin-top: -6px;
	color: #fff;
	font-family: Ubuntu-Light;
}

.usr-msg-btn {
	height: 30px;
	width: 136px;
	margin-top: -25px;
	padding: 14px;
	border-radius: 12px;
}
.usr-msg-img{
	margin-left: -23px;
	margin-top: -22px;
}
.usr-sps-btn p {
	margin-top: -10px;
	font-size: 14px;
	color: #fff;
	font-family: Ubuntu-Light;
}

.usr-sps-btn {
	margin-left: 138px;
	height: 28px;
	width: 136px;
	padding: 14px;
	border-radius: 12px;
}
.usr-sps-btn-color{
	display: inline-block;
	background: rgba(43,118,184,1);
	background: -moz-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,118,184,1)), color-stop(100%, rgba(6,68,149,1)));
	background: -webkit-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -o-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
	background: -ms-linear-gradient(top, rgba(43,118,184,1) 0%, rgba(6,68,149,1) 100%);
}

#sps-btn {-webkit-animation: rainbow 2s linear 2s infinite;}
@-webkit-keyframes rainbow {
	0% {opacity: 1}
	50% {opacity: 0.5}
	100% {opacity: 1}
}
.usr-sps-btn-color:hover{
	background: linear-gradient(to bottom,#3d86b6 0%,#3784b8 100%) !important;
}

.usr-p-color{
	color: #36b247;
	font-weight: bold;
}
.usr-p-size{
	font-size: 16pt;
	font-weight: bold;
}
.usr-p-size2{
	font-size: 11pt;
}
.usr-help-count{
	 font-family: 'UbuntuMedium';
	 font-size: 17pt;
	 color: #36b247;
	font-weight: bold;
 }
.usr-help-count2{
	font-family: 'UbuntuMedium';
	font-size: 13pt;
}
.usr-share-tree{
	position: relative;
	background-image: url("../img/p-help-bg.png");
	height: 130px;
	width: 280px;
	border-radius: 0px 0px 10px 10px;
}
.left-hr-usr {
	width: 270px;
	margin-left: 5px;
}
.pview-sects-usr {
	margin-top: 100px;
	margin-left: 160px;
	margin-right: 84px;
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 5%;
	transition: 0.5s;
	color: #010101;
}
.pview-sects-usr a{
	color: #2f2f2f;
	text-decoration: underline;
}
.pview-sects-usr a:hover{
	text-decoration: none;
}
.pview-sects-usr table tr td p {
	font-weight: normal;
	font-size: 13px;
}
.pview-sects-usr ul{
	font-size: 13px;
}
.usr-watch-tree{
	font-size: 15pt;
	margin-top: 10px;
	line-height: 1.2;
	color: #fff;
	text-align: center;
}
.group-soc-line-usr {
	display: inline-block;
	margin-left: 11px;
}
.usr-btn-line-fb {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background: url(../img/fb-usr.png) no-repeat;
	background-size: 100%;
	transition: .4s;
}
.usr-btn-line-fb:hover {
	background: url(../img/fb-btn1-usr.png) no-repeat;
	background-size: 100%;
}
.usr-btn-line-vk {
	display: block;
	float: left;
	margin-left: 30px;
	width: 50px;
	height: 50px;
	background: url('../img/vk-usr.png') no-repeat;
	background-size: 100%;
	transition: .4s;
}
.usr-btn-line-vk:hover {
	background: url('../img/vk-btn-usr.png') no-repeat;
	background-size: 100%;
}
.usr-btn-line-ok {
	display: block;
	float: left;
	margin-left: 30px;
	width: 50px;
	height: 50px;
	background: url('../img/ok-usr.png') no-repeat;
	background-size: 100%;
	transition: .4s;
}
.usr-btn-line-ok:hover {
	background: url('../img/ok-btn-usr.png') no-repeat;
	background-size: 100%;
}
.soc-usr-line {
	margin-left: 160px;
	height: 65px;
	margin-top: 20px;
}
.block-tabs-left-usr {
	padding-left: 15px;
}
.usr-hidden-msg {
	visibility: hidden;
}
.usr-givemem{
	padding: 0px 0px 16px;
	padding-right: 10px;
}
.usr-ang-pow{
	margin-left: 0px !important;
}
.info-project{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 14px;
	color: #2f5842;
	line-height: 1.2;
}

.first-pop-toptext{
	font-size: 18pt;
	text-align: center;
	font-family: Ubuntu-Light;
	margin-top: 55px;
	color: black;
}
.first-pop-txt2{
	font-size: 13pt;
	line-height: 1.2;
}
.first-pop-txt3{
	font-size: 13pt;
	line-height: 1.2;
	margin-top: 90px;
}
.first-pop-share{

}
.twise_pop{

}
.ico-fb-pop{
	background-image: url("../img/fb-pop.png");
}
.ico-vk-pop{
	background-image: url("../img/vk-pop.png");
}
.ico-ok-pop{
	background-image: url("../img/ok-pop.png");
}
.ico-gp-pop{
	background-image: url("../img/gp-pop.png");
}
.ico-tw-pop{
	background-image: url("../img/tw-pop.png");
}
.ico-in-pop{
	background-image: url("../img/in-pop.png");
}
.line-ico-pop {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 1;
	cursor: pointer;
	top: 30px;
	left: 65px;
	margin: 12px;
}
.main-block-share{
	height: 68px;
	margin-left: 40px;
	border-radius: 10px;
	width: 205px;
}
.main-share-back{
	background: rgba(247,247,247,1);
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(215,223,224,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(100%, rgba(215,223,224,1)));
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(215,223,224,1) 100%);
	background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(215,223,224,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(215,223,224,1) 100%);
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(215,223,224,1) 100%);
}
.btn-pop-help {
	height: 44px;
	width: 144px;
	text-align: left;
	border-radius: 6px;
}


.btn-pop-help p {
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'UbuntuMedium';
	margin-left: 14px;
	margin-top: 4px;
}
.btn-pop-true{
	width: 100%;
	margin-left: 7px;
}
.pop-div-pos{
	margin-top: 32px;
	margin-left: 80px;
}
.line-ico-pop2 {
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 1;
	cursor: pointer;
}
.line-ico-main-block {
	position: absolute;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 1;
	cursor: pointer;
}
.main-blocktwo-div{
	margin-left: 8px;
	padding-top: 10px;
}
.socline-pop{
	display: inline-block;
	height: 35px;
	margin-left: 28px;
}
.usr-rate-pos {
	text-align: center;
	margin-left: -90px;
}


.tree-share-block{
	position: relative;
	top: 115px;
	left: 21px;
	z-index: 1;
}
.tree-share-block p{
	color:#393939;
	text-transform:uppercase;
}
.line-ico-tree {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 1;
	cursor: pointer;
	top: 9px;
	left: -23px;
	margin: -5px;
}
.cab-fix-img{
	margin-top: 20px !important;
}
.pop-text-two{
	margin-top: 10px;
}
.tree-share-block-cab {
	position: relative;
	top: 11px;
	left: 56px;
	z-index: 3;
	font-size: 23px;
}
.cab-share-ico{
	width: 28px;
	height: 28px;
}

/* adaptive parts */
@media only screen and (max-width: 1200px) {

	.usr-rate-pos {
		text-align: center;
		margin-left: -52px;
	}
	.bon-text-all {
		padding: 5px 8px;
	}
	.text-bon-size {
		width: 292px;
	}

	.jh-sclike-rows {
		padding: 14px 17px 10px;
	}
	.pview-sects-usr {
		margin-right: 14px;
	}
	.main-reg-btn {
		margin-left: 50px;
	}

	.suc-money-num {
		position: relative;
		top: -32px;
		left: 0px;
	}

	/*ARTUR-cabinet----------------------------------------------------------------------------------------------------*/



	/*ARTUR-successfull----------------------------------------------------------------------------------------------------*/

	.pview-bon-dates {
		float: left;
		width: 193px;
		text-align: left;
		font-size: 11px;
		color: #b1b1b1;
		line-height: 16px;
		padding: 12px 0px 12px 0px;
		padding-left: 18px;
	}

	.bon-pview-comm-txt {
		width: 100%;
		height: 93px;
		vertical-align: middle;
		margin-left: 28px;
		margin-top: -3px;
		overflow-y: auto;
	}


	/*ARTUR-info-work--------------------------------------------------------------------------------------------*/
	.text-work-left-1{
		left: 112px;
		top: -179px;
		width: 153px;
	}

	.text-work-left-2{
		left: 125px;
		top: -157px;
		width: 119px;
	}

	.text-work-left-3{
		left: 137px;
		top: -135px;
		width: 97px;
	}

	.text-work-right-1{
		left: 93px;
		top: 95px;
	}

	.text-work-right-2{
		left: -22px;
		top: -80px;
	}

	.info-work-ul-green {
		text-align: left;
		font-size: 11.8px;
		margin-left: 35px;
	}

	.info-work-ul-red {
		text-align: left;
		font-size: 11.8px;
		margin-left: 35px;
	}

	.info-button-position{
		top: -140px;
	}

	.work-position-text{
		margin-top: -160px;
	}

	.img-work-arrow-down {
		left: 705px;
	}

	.img-work-tree-down {
		margin: 60px 135px auto auto;
	}

	.img-four-position{
		width: 77% !important;
	}

	p {
		margin: 0 8px 10px;
	}



	/*ARTUR-info-work----------------------------------------------------------------------------------------------*/

	/*ARTUR-cabinet------------------------------------------------------------------------------------------------*/

	.cab-utree-pos {
		margin-left: 36px;
		margin-top: 13px;
	}

	.container {
		width: 1040px;
	}

	.cab-bgi .nav-tabs {
		font-size: 10.5px;
	}

	.cab-border-ver {
		width: auto;
		height: 626px;
		margin-left: 31px;
		border-left: 1px solid #ececec;
	}

	.cab-position-two {
		position: relative;
		left: -95px;
		top: 26px;
	}

	.cab-border-hor {
		width: 100%;
		margin-left: 31px;
		margin-top: -20px;
		border-bottom: 1px solid #ececec;
	}

	.cab-border-hor-2 {
		width: 475px;
		margin-left: -9px;
		margin-top: 65px;
		border-bottom: 1px solid #ececec;
	}

	.cab-border-hor-3 {
		width: 100%;
		margin-left: 32px;
		margin-top: -530px;
		border-bottom: 1px solid #ececec;
	}

	.cab-border-hor-4 {
		width: 100%;
		margin-left: 32px;
		margin-top: 414px;
		border-bottom: 1px solid #ececec;
	}

	.cab-border-hor-5 {
		width: auto;
		height: 65px;
		margin-left: 255px;
		margin-top: -488px;
		border-left: 1px solid #ececec;
	}

	#number-square-1 {
		font-size: 20pt;
		margin-top: 0px;
		margin-left: -71px;
	}

	.text-left-position {
		margin-left: -43px;
		margin-top: -42px;
	}

	.text-left-right-size{
		line-height: 14px;
	}

	.text-right-position {
		margin-left: 87px;
		margin-top: -35px;
	}

	#square-r {
		width: 10px;
		height: 10px;
		background: #f36624;
		margin-top: 23px;
		margin-left: -136px;
	}

	#square-g {
		position: relative;
		width: 10px;
		height: 10px;
		background: #38b348;
		top: 0px;
		left: 25px;
	}

	.cab-margin{
		margin-top: -26px;
	}

	.text-cab-l {
		margin-right: -140px;
		margin-top: -27px;
		font-size: 14pt;
	}

	#number-square-2 {
		font-size: 20pt;
		margin-top: -25px;
		margin-left: 60px;
		height: 30px;
		width: 40px;
	}



	.gbnt-cab-pos {
		margin-top: -65px;
		margin-right: 47px;
		margin-left: 127px;
	}

	.rbnt-cab-pos {
		margin-right: 256px;
		margin-left: 280px;
	}

	.bbnt-cab-pos {
		margin-right: 403px;
		margin-left: 433px;
	}

	.cab-utree {
		/* background: #e6f6e8 url(../img/bg-cabgrach-wcircle.png) no-repeat 50% 38px; */
		background: #fff url(../img/bg-cabgraph-wcircle-sm.png) no-repeat 50% 38px;
		border-radius: 7px;
		min-height: 400px;
		padding: 14px 8px 12px 12px;
		margin-bottom: 12px;
		margin-left: 50px;
		margin-top: -45px;
		width: 526px;
	}

	.size-onlooking {
		width: 172px;
		text-align: center;
	}

	.qmark:before {
		content: '?';
		display: inline-block;
		font-family: sans-serif;
		font-weight: bold;
		text-align: center;
		width: 2.8ex;
		height: 2.8ex;
		font-size: 2ex;
		line-height: 1.8ex;
		border-radius: 3ex;
		margin-right: -184px;
		margin-top: 3px;
		padding: 4px;
		color: white;
		background: #5a6772;
		border: 1px solid #5a6772;
		text-decoration: none;
		transition: .4s;
	}

	.qmark:hover:before
	{
		color: #5a6772;
		background: white;
		border-color: #5a6772;
		text-decoration: none;

	}

	.circle-cab-position {
		position: relative;
		top: -100px;
		left: 74px;
		width: 530px;
	}

	.cab-btn-def-adm p {
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		font-family: 'UbuntuMedium';
		margin-left: 1px;
	}

	.cab-tabs .nav-tabs > li > a{
		line-height: 1.7;
	}

	.cab-badge-red {
		display: inline-block;
		min-width: 10px;
		padding: 3px 7px;
		font-size: 11px;
		font-weight: bold;
		color: #ffffff;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		background-color: #cf4342;
		border-radius: 10px;
	}

	.text-cab-r {
		margin-right: -48px;
		margin-top: 11px;
		width: 196px;
	}


	/*ARTUR-cabinet------------------------------------------------------------------------------------------------*/

	.pview-author-rate {
		width: 180px;
	}

	.pview-urate tr td:first-child {
		padding-right: 6px;
	}

	.utree {
		margin-left: 520px;
	}

	.arr {
		margin-left: 470px;
	}

	.cab-left-hun{
		margin-left: -20px;
	}

	.cab-right-hun{
		margin-left: 113px;
	}

}



@media only screen and (max-width: 1000px)
{
	.line-ico-tree{
		left: -15px;
		margin: -7px;
	}
	.main-block-share{
		margin-left: 60px;
	}
	.usr-msg-img {
		margin-left: -98px;
		margin-top: -22px;
	}
	.usr-msg-btn p {
		margin-left: 17px;
		margin-top: -27px;
	}
	.pview-sects-usr {
		margin-left: 31px;
		margin-right: 84px;
	}
	.soc-usr-line {
		margin-left: 30px;
	}
	.usr-rate-pos {
		text-align: center;
		margin-left: -95px;
	}
	.cab-border-hor{
		width: 108%;
	}

	.txt-desc {
		font-size: 17px !important;
	}

	.bl2-btn-ab {
		margin-top: 30px !important;
	}

	.hlp-name {
		font-size: 14.35pt !important;
	}

	.hlp-comm {
		font-size: 11.46pt !important;
	}

	.hlp-proj>p {
		font-size: 11.11pt !important;
	}

	.hlp-proj>a {
		font-size: 11.11pt !important;
	}

	.ind-success-btn {
		font-size: 24px !important;
		height: 50px !important;
		width: 240px !important;
	}

	.hlpothr-block-side-txt {
		font-size: 25px !important;
		line-height: 1.1!important;
	}

	.main-reg-btn {
		font-size: 24px !important;
		height: 50px !important;
		width: 220px !important;
	}

	.car-act-u-name {
		font-size: 23px !important;
	}

	.hlpothr-soc-txt {
		font-size: 23px !important;
		line-height: 1;
	}

	.ind-h4-hlp {
		font-size: 24.81px !important;
	}

	.video-txt-l {
		font-size: 25px !important;
	}

	.main-btnimg-pos{
		margin-top: 10px !important;
	}

	.top-text-btn{
		height: 50px!important;
		width: 213px!important;
		font-size: 22px !important;
		margin-left: 15px!important;
	}

	.main-btn-def {
		height: 82px !important;
		width: 211px !important;
		margin-right: 12px;
	}

	.top-bl-user {
		font-size: 16pt !important;
	}

	.index-molecul {
		background: url(../img/ind-bg1-min.jpg) repeat-x 50% 0 !important;
		padding: 20px 0;
	}

	.index-vid{
		background: url(../img/block-3-bg-min.png) repeat 50% 0 !important;
		height: 970px !important;
		width: 100%;
	}

	.main-btn-def p {
		margin-left: 61px;
		margin-top: -60px !important;
		font-size: 23px !important;
	}

	.main-btn-us p {
		margin-left: 60px !important;
		margin-top: -37px !important;
		font-size: 24px !important;
	}

	.main-btn-def-down p {
		margin-left: 75px;
		margin-top: -77px;
		font-size: 27px;
	}

	.main-btn-def-down {
		height: 104px !important;
		width: 254px !important;
		margin-right: 40px;
		padding: 14px;
	}

	.main-btn-true{
		width: 34%;
		margin-left: -5px;
	}

	.main-btn-us {
		height: 70px !important;
		width: 315px !important;
	}

	.mini-fix-img {
		width: 19% !important;
	}

	.btn-soc>img {
		height: 30px !important;
		width: 30px !important;
		margin-top: 3px !important;
	}

	.btn-soc {
		margin-left: 15px !important;
	}

	.proj-right-info .user-rat-info {
		margin-top: 20px;
		text-align: center;
		margin-right: 569px;
	}

	.social-row-count {
		left: 150px !important;
		top: -24px !important;
	}

	#rateYo {
		margin-top: 25px !important;
	}

	.social-row-rate {
		bottom: 22px !important;
	}

	/*ARTUR-successfull----------------------------------------------------------------------------------------------------*/



	/*ARTUR-successfull----------------------------------------------------------------------------------------------------*/


	.btn-bon-do {
		border-radius: 6px;
		border: none;
		background: rgba(58,191,75,1);
		background: -moz-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,191,75,1)), color-stop(100%, rgba(28,148,42,1)));
		background: -webkit-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
		background: -o-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
		background: -ms-linear-gradient(top, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
		background: linear-gradient(to bottom, rgba(58,191,75,1) 0%, rgba(28,148,42,1) 100%);
		margin-top: 243px;
		margin-left: -218px;
		border-radius: 0px 0px 10px 10px;
	}

	.bon-width-text {
		width: 473px;
	}

	.pview-bon-left {
		padding: 0px 0px 10px 0px;
	}

	/*ARTUR-info-work-------------------------------------------------------------------------------------------------*/

	.text-work-right-1{
		left: -53px;
		top: -133px;
	}

	.text-work-right-2{
		left: -51px;
		top: -126px;
	}

	.info-button-position {
		top: -140px;
		left: 16px;
	}

	.work-btn-def p {
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		font-family: 'UbuntuMedium';
		margin-right: -37px;
		margin-top: -31px;
	}

	.work-btn-def img {
		margin-left: -110px;
	}

	.info-work-ul-green {
		text-align: left;
		font-size: 11.8px;
		margin-left: 25px;
	}

	.info-work-ul-red {
		text-align: left;
		font-size: 11.8px;
		margin-left: 25px;
	}

	.work-line-l {
		text-align: center;
		width: 78%;
		margin: 0 auto;
	}

	.work-position-text{
		margin-top: -145px;
	}

	.img-work-tree-down {
		background: url("../img/work-tree.png") no-repeat;
		height: 423px;
		width: 532px;
		text-align: center;
		margin: 60px 12px auto auto;
	}

	.img-four-position{
		width: 100% !important;
	}

	.text-work-left-1 {
		left: 141px;
		top: -179px;
		width: 100px;
	}

	.text-work-left-2 {
		left: 131px;
		top: -157px;
		width: 115px;
	}

	.text-work-left-3 {
		left: 136px;
		top: -135px;
		width: 100px;
	}

	.img-work-arrow-down {
		left: 638px;
	}

	/*ARTUR-info-work-------------------------------------------------------------------------------------------------*/

	/*ARTUR-cabinet-------------------------------------------------------------------------------------------------*/

	.cab-border-hor-2 {
		width: 360px;
		margin-left: -9px;
		margin-top: 64px;
		border-bottom: 1px solid #ececec;
	}

	.cab-border-hor-3 {
		width: 100%;
		margin-left: 71px;
		margin-top: -548px;
		border-bottom: 1px solid #ececec;
	}

	.cab-border-hor-4 {
		width: 100%;
		margin-left: 71px;
		margin-top: 414px;
		border-bottom: 1px solid #ececec;
	}

	.cab-border-hor-5 {
		width: auto;
		height: 50px;
		margin-left: 293px;
		margin-top: -473px;
		border-left: 1px solid #ececec;
	}

	.cab-border-ver {
		width: auto;
		height: 625px;
		margin-left: 71px;
		margin-top: -82px;
		border-left: 1px solid #ececec;
	}

	.cab-position-two {
		position: relative;
		left: 12px;
		top: 26px;
	}

	#square-g {
		width: 10px;
		height: 10px;
		background: #f36624;
		margin-top: 27px;
		margin-left: 220px;
	}

	#square-r {
		width: 10px;
		height: 10px;
		background: #38b348;
		top: -45px;
		left: 562px;
		position: relative;
	}

	#number-square-1 {
		font-size: 20pt;
		margin-top: -15px;
		margin-left: 258px;
		height: 37px;
		width: 40px;
	}

	.size-cab-bolls {
		width: 50px;
		height: 0px;
	}

	.col-md-pos {
		margin-left: 56px;
		width: 50px;
	}

	#number-square-2 {
		font-size: 20pt;
		margin-top: -70px;
		margin-left: 439px;
	}

	.text-right-position {
		margin-left: 458px;
		margin-top: -44px;
	}

	.text-left-position {
		margin-left: 281px;
		margin-top: -53px;
	}

	.text-left-right-size{
		line-height: 14px;
	}

	.cab-utree {
		/* background: #e6f6e8 url(../img/bg-cabgrach-wcircle.png) no-repeat 50% 38px; */
		background: #fff url(../img/bg-cabgraph-wcircle-sm.png) no-repeat 50% 38px;
		border-radius: 7px;
		min-height: 400px;
		padding: 14px 8px 12px 12px;
		margin-bottom: 12px;
		margin-left: 74px;
		margin-top: -190px;
		width: 490px;
	}

	.gbnt-cab-pos {
		margin-top: -62px;
		margin-right: 71px;
		margin-left: 127px;
	}

	.tbnt-cab-pos {
		position: relative;
		top: -15px;
		left: 210px;
	}

	.fbnt-cab-pos {
		position: relative;
		top: 30px;
		left: 0px;
	}

	.tbnt-cab-pos {
		position: relative;
		top: 0px;
		left: 181px;
	}

	.cab-btn-def p {
		margin-top: -32px;
		margin-left: 40px;
	}

	.cab-btn-def-adm p {
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		font-family: 'UbuntuMedium';
		margin-left: 2px;
	}

	.size-onlooking {
		width: 20%;
		text-align: center;
	}

	.circle-cab-position {
		position: relative;
		top: -96px;
		left: 72px;
	}

	.cab-bgi .nav-tabs {
		font-size: 9.5px;
	}

	.container {
		width: 960px;
	}

	.breacrumb-bgi {
		height: 110px;
		width: auto;
		background: url('../img/proj-top-bg.png') repeat center;
	}

	.work-line-l {
		width: 85%;
		top: 17px;
	}

	.qmark:before {
		margin-top: 4px;
	}

	.cab-utree-pos {
		margin-left: 75px;
		margin-top: 6px;
		width: 535px;
	}

	.cab-tabs .nav-tabs > li > a{
		line-height: 1.8;
	}

	.cab-badge-red {
		display: inline-block;
		min-width: 10px;
		padding: 3px 7px;
		font-size: 9px;
		font-weight: bold;
		color: #ffffff;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		background-color: #cf4342;
		border-radius: 10px;
	}



	/*ARTUR-cabinet-------------------------------------------------------------------------------------------------*/


	/*ARTUR-bonus---------------------------------------------------------------------------------------------------*/

	.pview-anons img {
		float: left;
		margin: -20px 14px 10px 0px;
	}


	/*ARTUR-bonus----------------------------------------------------------------------------------------------------*/

.tree-main>div>span{
		width: 500px;
		display: block;
		background: #f5f2f0;
		border-radius: 8px;
		padding: 20px 24px 20px 24px;
		margin-left: 130px;
		font-size: 16px;
		text-align: center;
	}
.tbl-noitems{width: 100%;}
.proj-it-noitems .tbl-noitems-txt{width: 100%; margin: 20px 0; float: none;}
.proj-it-noitems .tbl-noitems-txt>div{padding: 0 10px; background: none;}
.proj-it-noitems .tbl-noitems-face{ float: none; width: 100%; background-position: 50% 50%; margin: 20px 0; }
.pview-right{ padding-left: 0px; }
.pview-left{ padding-right: 0px;}
.cab-uinfo{ margin-right: 0px; }
.cab-utree{ margin-left: 74px; }

	.check{
		position: absolute;
		right: -10px;
		top: -125px;
	}
	.check-img{
		position: absolute;
		margin-top: 100px;
	}

	.cab-left-hun{
		margin-left: 307px;
	}

	.cab-right-hun{
		margin-left: 488px;
	}
}

@media only screen and (max-width: 768px)
{
	.tbl-noitems{width: 100%;}
	.tbl-noitems-txt{width: 100%; margin: 20px 0; float: none;}
	.tbl-noitems-txt>div{padding: 0 10px; background: none;}
	.tbl-noitems-face{ float: none; width: 100%; background-position: 50% 50%; margin: 20px 0; }

	.proj-rinfo{padding-left: 10px; padding-top: 12px;}
	.proj-tit{font-size: 16px; line-height: 18px;}
	.cat-it table a{font-size: 14px; line-height: 16px;}
}