<!-- affiliate_tree_filter_edit -->
<div>
  <div class="FilterRow">
      <div class="FilterLegend">##Affiliate Status##</div>
     {widget id="rstatus"}
     <div class="clear"></div>
  </div>
</div>
