*{
     margin:0px; padding:0px;
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
     font-family: 'arial', sans-serif;
     font-weight: normal;
     line-height: 18px;
     outline:none;
}
body{
     background-color: #fff;
}
html, body{height:100%; }
input, textarea, select, button{outline:none; }
form{position: relative; display: block; }
img{border:none; }




.total-container{
     position:relative;
     display:block; 
     min-height:100%; 
}
.hat, .peopleNeed, .goodDeeds, .daydream, .blockInfo, .footer{
     position:relative;
     display:block;
     min-width:1050px;
}
.peopleNeed{
     margin: 0;
}
.hat__container,
.peopleNeed__container,
.goodDeeds__container,
.daydream__container,
.blockInfo__container,
.footer__container{
     position:relative;
     display:block;
     width:1000px;
     margin:0px auto;
}



/* .hat -----------------------------------------------------------------------------*/
.hat{
     position: fixed;
     height: 100px;
     top: 0px; 
     left: 0px;
     width: 100%;
     background-color: #fff; 
     z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.logo{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     margin: 10px 0px 0px 0px;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.logo a{position: relative; display: inline-block; vertical-align: top; }
.logo img{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     height: 72px;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.arrowlan{
     position: relative;
     top: 234px;
     left: 256px;
     transform: rotate(-20deg);
}
.hat-menu{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     margin: 25px 0px 0px 54px;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.hat-menu li{position: relative; display: inline-block; vertical-align: top; }
.hat-menu li a{
     position: relative; 
     display: block; 
     width: 213px;
     height: 49px;
     padding: 15px 0px 0px 0px;
     text-align: center;
     font-size: 20px;
     color: #fff;
     font-family: 'UbuntuRegular', sans-serif;
     text-decoration: none;
    -webkit-border-radius: 8px;
     -khtml-border-radius: 8px;
       -moz-border-radius: 8px;
	       border-radius: 8px;
}

.hat-menu__give{background-color: #38b348; }
.hat-menu__give:hover{background-color:#2e9d3c; }

.hat-menu__necessary{background-color: #f36624; }
.hat-menu__necessary:hover{background-color:#e55d1d; }



.identification{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     float: right; 
     margin-top: 37px;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.identification li{position: relative; display: inline-block; vertical-align: top; }
.identification li:before{position: relative; display: inline-block; vertical-align: top; margin: 0px 10px 0px 8px; content: '|'; font-size: 12px; line-height: 16px; color: #000; }
.identification li:first-child:before{display: none; }
.identification li a{position: relative; display: inline-block; vertical-align: top; font-size: 12px; line-height: 16px; color: #000; text-decoration: none; border-bottom: 1px dotted #000; }
.identification li a:hover{border-bottom: 1px dotted transparent; }



.hat.minBox{height: 74px; }
.hat.minBox .logo{margin-top: 10px; }
.hat.minBox .logo img{height: 50px; }
.hat.minBox .hat-menu{margin: 12px 0px 0px 45px; }
.hat.minBox .identification{margin-top: 27px; }




/* .peopleNeed ----------------------------------------------------------------------*/
.peopleNeed{
     margin-top: 20px;
     height: 1010px;
     background-image: url('../images/block-1.jpg');
     background-position: top;
     background-repeat: no-repeat;
}




/* .goodDeeds -----------------------------------------------------------------------*/
.goodDeeds{
     height: 631px;
     background-image: url('../images/lay_2.png');
     background-position: top;
     background-repeat: no-repeat;
}
.footer-container {
     padding: 27px 0 52px;
     background: #3a3a3a;
     -webkit-text-stroke: .2px #606060;
}
.foot-block>p {
     font-size: 10.69pt;
     font-family: 'UbuntuMedium';
     color: #a8e8b0;
     text-transform: uppercase;
     -webkit-text-stroke: .1px #7fb086;
}
.foot-block>ul>li>a {
     font-size: 8.16pt;
     text-decoration: none;
}
.foot-txt-gr>a {
     -webkit-text-stroke: .1px #4a544b;
     color: #b8d1bb;
}
.foo-a {
     color: #ababab;
}
.webmon-2 {
     height: 41px;
     width: 45%;
     background: url(../images/wabmoney-cash.png) no-repeat;
}
.webmon-1 {
     height: 41px;
     width: 49%;
     background: url(../images/wabmoney-at.png) no-repeat;
}
.foot-at-a {
     position: relative;
     top: 4px;
     font-family: 'UbuntuRegular';
     font-size: 8pt;
     color: #ababab;
     text-decoration: underline;
}
.footer-logo {
     height: 45px;
     width: 222px;
     background: url(../images/wayofhelp-logo-foot.png);
}
.all-right-res {
     margin-top: 5px;
     font-family: 'UbuntuMedium';
     font-size: 8.75pt;
     margin-bottom: 8px;
     text-shadow: 0 0 .3px #484747;
}
.foot-block {
     border-left: 1px solid #595959;
     padding-left: 34px;
}
.foot-block {
     color: #ababab;
     line-height: 19px;
     height: 145px;
}
.foot-block>ul {
     list-style-type: none;
     padding-left: 0;
}
.whiteball{
     position: relative;
     background: url("../images/375.jpg") no-repeat;
     width: 90px;
     height: 90px;
     border-radius: 50px;
     top: 203px;
     left: 480px;
     cursor: pointer;
     background-size: cover;
}
.whiteball:hover{
     box-shadow: 0 0 5px 2px whitesmoke;
}
.landimg{
     margin-left: 12px;
     margin-top: 13px;
}


/* .daydream ------------------------------------------------------------------------*/
.daydream{
     height: 841px;
     background-image: url('../images/canUsee.png');
     background-position: top;
     background-repeat: no-repeat;
}

.butt-play{
     position: absolute;
     top: 338px;
     left: 50%;
     margin-left: -126px;
     width: 253px;
     height: 249px;
     background-image: url('../images/butt-play.png');
     background-repeat: no-repeat;
     text-decoration: none;
     cursor: pointer;
}





/* .blockInfo -----------------------------------------------------------------------*/
.blockInfo{background-color: #fff; }


.blockInfo__buttCont{position: relative; display: block; text-align: center; margin-top: 110px; }
.blockInfo__buttCont li{position: relative; display: inline-block; vertical-align: top; margin: 0px 6px; }

.blockInfo__buttCont li a{
     position: relative; 
     display: block; 
     width: 284px;
     height: 96px;
     padding: 24px 20px 0px 105px;
     text-align: left;
     font-size: 24px;
     line-height: 25px;
     color: #fff;
     font-family: 'UbuntuBold', sans-serif;
     text-transform: uppercase;
     text-decoration: none;
     background-repeat: no-repeat; 
     background-position: 20px center;
    -webkit-border-radius: 8px;
     -khtml-border-radius: 8px;
       -moz-border-radius: 8px;
	       border-radius: 8px;
}
.blockInfo__give{background-color: #38b348; background-image: url('../images/butt-giveThings.png'); }
.blockInfo__give:hover{background-color:#2e9d3c; }

.blockInfo__necessary{background-color: #f36624; background-image: url('../images/butt-necessaryThings.png'); }
.blockInfo__necessary:hover{background-color:#e55d1d; }




.socNet{position: relative; display: inline-block; vertical-align: top; width: 100%; margin: 115px 0px 60px 0px;}
.socNet__text{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     margin-left: 52px;
     width: 540px;
     font-size: 28px;
     color: #f15c20;
     line-height: 34px;
     font-family: 'NoteworthyBold', sans-serif;
}
.socNet__text:after{position: absolute; top: -48px; right: -180px; content: ''; width: 239px; height: 47px; background-image: url('../images/arrow.png'); background-repeat: no-repeat;  }


.socNet__list{position: relative; display: inline-block; vertical-align: top; float: right; margin-right: 60px; }
.socNet__list li{position: relative; display: inline-block; vertical-align: top; margin: 0px 12px; }
.socNet__list li a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; width: 56px; height: 56px; }

.socNet-ok{background-image: url('../images/socNet-ok.png'); }
.socNet-fb{background-image: url('../images/socNet-fb.png'); }
.socNet-vk{background-image: url('../images/socNet-vk.png'); }
.socNet-fb, .socNet-ok, .socNet-vk{cursor: pointer;}





/* .footer -------------------------------------------------------------------------*/
.footer{
     height: 75px;
     margin-top: -75px;
     background-color: #faf5eb;
}

.footer-menu{position: relative; float: left; margin-top: 27px; }
.footer-menu li{position: relative; display: inline-block; vertical-align: top; margin-right: 41px; }
.footer-menu li a{position: relative; display: inline-block; vertical-align: top; font-size: 18px; color: #000; text-decoration: none; }
.footer-menu li a:hover{text-decoration: underline; }

.footer-info{position: relative; display: inline-block; vertical-align: top; float: right; margin-top: 30px; font-size: 12px; color: #000; text-decoration: none;  }







/* .popUp --------------------------------------------------------------------------*/
.popUp{position:fixed; display: none; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1000; background-color: rgba(0,0,0,0.5); }
.popUp__wind{
     position: absolute;
     width: 800px;
     height: 500px;
     top: 50%;
     left: 50%;
     margin: -250px 0px 0px -400px;
     padding: 20px 20px;
     background-color: #fff;
    -webkit-border-radius: 10px;
     -khtml-border-radius: 10px;
       -moz-border-radius: 10px;
	       border-radius: 10px;
}

.popUp__close{
     position: absolute;
     top: -15px;
     right: -15px;
     width: 30px;
     height: 30px;
     background-image: url('../images/popUp-close.png');
     background-repeat: no-repeat;
     background-size: auto 100%;
     background-color: #fff;
     cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 2px #000;
       -moz-box-shadow: 0px 0px 0px 2px #000;
            box-shadow: 0px 0px 0px 2px #000;
    -webkit-border-radius: 1000px;
     -khtml-border-radius: 1000px;
       -moz-border-radius: 1000px;
	       border-radius: 1000px;
     
}

.ta_right{text-align: right;}
.ta_center{text-align: center;}
.foot-sc a:hover{opacity: 1;}
.foot-sc a.sc-fb{background: url(../images/fb.png) no-repeat 0 0;}
.foot-sc a.sc-vk{background: url(../images/vk.png) no-repeat 0 0;}
.foot-sc a.sc-ok{background: url(../images/ok.png) no-repeat 0 0;}
.foot-copyright{}
.foot-wm{}








/* @media --------------------------------------------------------------------------*/
@media screen and (max-width: 1050px) {
     
     html, body{-webkit-text-size-adjust: none; }

     .hat, .peopleNeed, .goodDeeds, .daydream, .blockInfo, .footer{
          min-width:inherit;
     }
     .hat__container,
     .peopleNeed__container,
     .goodDeeds__container,
     .daydream__container,
     .blockInfo__container,
     .footer__container{
          width:auto;
          padding-left: 20px;
          padding-right: 20px;
     }
     
    
     
}

@media screen and (max-width: 980px) {
     .whiteball{
          left: 451px;
     }
     .arrowlan{
          left: 231px;
     }
     .container-fluid {
          overflow: hidden;
     }
     .socNet__text{margin-left: 0px; }
     
     .socNet__list{margin-right: 0px; }
     .socNet__list li{margin: 0px 6px; }

     .hat-menu{margin-left: 30px; }
     .hat-menu li a{width: 160px; }

     .socNet__list li a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; width: 57px; height: 56px; }
     
}

@media screen and (max-width: 880px) {
     .whiteball{
          left: 360px;
          top: 131px;
     }
     .arrowlan{
          left: 164px;
          top: 164px;
     }
     .hat{height: 180px; }
     .logo{display: block; margin: 10px 0px 0px 0px; text-align: center; }
     
     .hat-menu{display: block; margin: 12px 0px 0px 0px; text-align: center; }

     .identification{display: block; text-align: center; float: none; margin-top: 10px; }
     
     
     .hat.minBox{height: 170px; }
     .hat.minBox .logo{margin-top: 10px; }
     .hat.minBox .logo img{height: 50px; }
     .hat.minBox .hat-menu{margin: 12px 0px 0px 0px; }
     .hat.minBox .identification{margin-top: 20px; }
     
     
     .peopleNeed{
          margin-top: 100px;
          height: 600px;
          background-size: auto 105%;
     }
     .goodDeeds{
          height: 450px;
          background-size: auto 100%;
     }
     .daydream{
          height: 550px;
          background-size: auto 100%;
     }
     .butt-play{
          top: 260px;
          margin-left: -60px;
          width: 120px;
          height: 120px;
          background-size: auto 100%;
     }
     
     
     .popUp__wind{
          width: 600px;
          height: 400px;
          margin: -200px 0px 0px -300px;
     }

     .socNet__list li a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; width: 57px; height: 56px; }

}

@media screen and (max-width: 830px) {
     
     .blockInfo__buttCont{margin-top: 50px; }
     
     .socNet{margin: 50px 0px 40px 0px; }
     .socNet__text{display: block; width: 100%; }
     .socNet__text:after{display: none; }
     
     .socNet__list{display: block; margin-top: 40px; float: none; text-align: center; }  
     
     .footer-menu li{margin-right: 20px; }
}

@media screen and (max-width: 768px) {
     
     .hat-menu li a{
          width: 115px;
          height: 45px;
          padding: 12px 0px 0px 0px;
          font-size: 15px;
     }

     
     .socNet{margin: 30px 0px 40px 0px; }
     .blockInfo__buttCont li{display: block; margin: 0px 0px 20px 0px; }

     .blockInfo__buttCont li a{
          display: block;
          width: 100%; 
          height: 88px;
          padding: 36px 10px 0px 100px;
          font-size: 20px;
          line-height: 20px;
          background-position: 16px center;
     }
     
     .socNet__text{font-size: 24px; line-height: 30px; }

     .hFooter{height: 100px;}
     .footer{height: 300px; margin-top: -300px; }
     
     .footer-menu{display: block; float: none; margin-top: 0px; padding-top: 30px; }
     .footer-menu li{display: block; margin: 0px 0px 30px 0px; text-align: center; }
     .footer-info{display: block; float: none; margin-top: 50px; text-align: center; }

     
     
     .popUp{cursor: pointer; }
     .popUp__wind{
          width: 100%;
          height: 400px;
          left: 0px;
          padding: 8px;
          margin: -200px 0px 0px 0px;
         -webkit-border-radius: 0px;
          -khtml-border-radius: 0px;
            -moz-border-radius: 0px;
                 border-radius: 0px;
     }
     
     .popUp__close{display: none; }

     .socNet__list li a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; width: 57px; height: 56px; }
     
}

@media screen and (max-width: 600px) {
     
     .peopleNeed{height: 410px; }
     .goodDeeds{height: 290px; }
     .daydream{height: 340px; }
     
     .butt-play{
          top: 160px;
          margin-left: -30px;
          width: 60px;
          height: 60px;
     }
     
     .popUp__wind{
          height: 300px;
          margin: -150px 0px 0px 0px;
     }
     
}

@media screen and (max-width: 380px) {
     
     .logo img{height: 60px; }
     
     .peopleNeed{height: 310px; }
     .goodDeeds{height: 200px; }
     .daydream{height: 250px; }
     
     .butt-play{
          top: 120px;
          margin-left: -25px;
          width: 50px;
          height: 50px;
     }
     
     .popUp__wind{
          height: 260px;
          margin: -130px 0px 0px 0px;
     }
     
}
















