*{
     margin:0px; padding:0px;
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
     font-family: 'arial', sans-serif;
     font-weight: normal;
     line-height: 18px;
     outline:none;
}
body{
     background-color: #fff;
}
html, body{height:100%; }
input, textarea, select, button{outline:none; }
form{position: relative; display: block; }
img{border:none; }




.total-container{
     position:relative;
     display:block; 
     min-height:100%; 
}
.hat, .peopleNeed, .goodDeeds, .daydream, .blockInfo, .footer{
     position:relative;
     display:block;
     min-width:1050px;
}
.th-row{
     background:url("../images/b-2.png") repeat;
     box-sizing: border-box;
     background-position: center;
}
.fo-row{
     height: 557px;
     background:url("../images/b3.png") repeat;
     background-position: center;
     box-sizing: border-box;
}
.bl{
     display: inline-block;
     width: 200px;
     height: 250px;
     text-align: center;
     background-position: center;
     margin-top: 36px;
}
.bl p{
     margin: 1px;
}
.ic1{
     display: block;
     margin: 0 auto;
     height: 70px;
     width: 109px;
     background-image: url("../images/ic-1.png");
     background-repeat: no-repeat;
}
.ic2{
     display: block;
     margin: 0 auto;
     height: 70px;
     width: 67px;
     background-image: url("../images/ic-2.png");
     background-repeat: no-repeat;
}
.ic3{
     display: block;
     margin: 0 auto;
     height: 70px;
     width: 66px;
     background-image: url("../images/ic-3.png");
     background-repeat: no-repeat;
}
.ic4{
     display: block;
     margin: 0 auto;
     height: 70px;
     width: 88px;
     background-image: url("../images/ic-4.png");
     background-repeat: no-repeat;
}
.arrow{
     left: 327px;
     position: relative;
     margin-top: -72px;
}
.footer-container {
     padding: 27px 0 52px;
     background: #3a3a3a;
     -webkit-text-stroke: .2px #606060;
}
.foot-block>p {
     font-size: 10.69pt;
     font-family: 'UbuntuMedium';
     color: #a8e8b0;
     text-transform: uppercase;
     -webkit-text-stroke: .1px #7fb086;
}
.foot-block>ul>li>a {
     font-size: 8.16pt;
     text-decoration: none;
}
.footbl-sm {
     width: 22%;
}
.foo-a {
     color: #ababab;
}
.foot-txt-gr>a {
     -webkit-text-stroke: .1px #4a544b;
     color: #b8d1bb;
}
.foot-block {
     border-left: 1px solid #595959;
     padding-left: 34px;
}
.footer-logo {
     height: 45px;
     width: 222px;
     background: url(../images/wayofhelp-logo-foot.png);
}
.all-right-res {
     margin-top: 5px;
     font-family: 'UbuntuMedium';
     font-size: 8.75pt;
     margin-bottom: 8px;
     text-shadow: 0 0 .3px #484747;
}
.webmon-2 {
     height: 41px;
     width: 45%;
     background: url(../images/wabmoney-cash.png) no-repeat;
}
.webmon-1 {
     height: 41px;
     width: 49%;
     background: url(../images/wabmoney-at.png) no-repeat;
}
.foot-block {
     color: #ababab;
     line-height: 19px;
     height: 145px;
}
.foot-block>ul {
     list-style-type: none;
     padding-left: 0;
}
.foot-at-a {
     position: relative;
     top: 4px;
     font-family: 'UbuntuRegular';
     font-size: 8pt;
     color: #ababab;
     text-decoration: underline;
}
.btn-watch{
     border-radius: 6px;
     border: none;
     background: rgba(255,127,67,1);
     background: -moz-linear-gradient(top, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,127,67,1)), color-stop(100%, rgba(226,56,9,1)));
     background: -webkit-linear-gradient(top, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
     background: -o-linear-gradient(top, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
     background: -ms-linear-gradient(top, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
     background: linear-gradient(to bottom, rgba(255,127,67,1) 0%, rgba(226,56,9,1) 100%);
}

.btn-watch:hover{
     background: rgb(239, 141, 97);
}
.btn-watch:active{
     background: rgb(239, 141, 97);
}
.dream-msg-img{
     margin-left: 12px;
     margin-top: -5px;
}
.dream-msg-btn p {
     font-size: 32px;
     margin-left: -1px;
     margin-top: 2px;
     color: #fff;
     font-family: Ubuntu-Light;
     text-transform: uppercase;
}

.dream-msg-btn {
     height: 54px;
     width: 262px;
     margin-top: 20px;
     padding: 14px;
     border-radius: 12px;
}
.ipad{
     height: 456px;
     width: 441px;
     margin-top: 60px;
     background-image: url("../images/ipad.png");
     background-repeat: no-repeat;
}
.text{
     margin-top: 160px;
}
.p1{
     font-family: UbuntuRegular;
     font-size: 45px;
     font-weight: bold;
     color: #fff;
     padding-bottom: 30px;
}
.p1-sl{
     padding-top: 5px;
     font-family: 'UbuntuRegular', sans-serif;
     color: #94f8a1;
     font-size: 34.26px;
}
.txt{
     font-family: 'UbuntuRegular', sans-serif;
     font-size: 14px;
     color: #fff;
}
.yell{
     font-size: 14px;
     font-family: Ubuntu;
     font-style: italic;
     color: #ffeb10;
}
.xsmt{
     font-size: 12px;
}
.txt-def{
     text-align: left;
}
.peopleNeed{
     margin: 0;
}
.hat__container,
.peopleNeed__container,
.daydream__container,
.blockInfo__container,
.footer__container{
     position:relative;
     display:block;
     width:1000px;
     margin:0px auto;
}



/* .hat -----------------------------------------------------------------------------*/
.hat{
     position: fixed;
     height: 100px;
     top: 0px; 
     left: 0px;
     width: 100%;
     background-color: #fff; 
     z-index: 100;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}

.logo{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     margin: 10px 0px 0px 0px;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.logo a{position: relative; display: inline-block; vertical-align: top; }
.logo img{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     height: 72px;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}

.hat-menu{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     margin: 25px 0px 0px 54px;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.hat-menu li{position: relative; display: inline-block; vertical-align: top; }
.hat-menu li a{
     position: relative; 
     display: block; 
     width: 213px;
     height: 49px;
     padding: 15px 0px 0px 0px;
     text-align: center;
     font-size: 20px;
     color: #fff;
     font-family: 'UbuntuRegular', sans-serif;
     text-decoration: none;
    -webkit-border-radius: 8px;
     -khtml-border-radius: 8px;
       -moz-border-radius: 8px;
	       border-radius: 8px;
}

.hat-menu__give{background-color: #638eb3; }
.hat-menu__give:hover{background-color: #44739d; }

.hat-menu__necessary{background-color: #f36624; }
.hat-menu__necessary:hover{background-color:#e55d1d; }



.identification{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     float: right; 
     margin-top: 37px;
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.identification li{position: relative; display: inline-block; vertical-align: top; }
.identification li:before{position: relative; display: inline-block; vertical-align: top; margin: 0px 10px 0px 8px; content: '|'; font-size: 12px; line-height: 16px; color: #000; }
.identification li:first-child:before{display: none; }
.identification li a{position: relative; display: inline-block; vertical-align: top; font-size: 12px; line-height: 16px; color: #000; text-decoration: none; border-bottom: 1px dotted #000; }
.identification li a:hover{border-bottom: 1px dotted transparent; }



.hat.minBox{height: 60px; }
.hat.minBox .logo{margin-top: 5px; }
.hat.minBox .logo img{height: 40px; }
.hat.minBox .hat-menu{margin: 6px 0px 0px 25px; }
.hat.minBox .identification{margin-top: 17px; }




/* .peopleNeed ----------------------------------------------------------------------*/
.peopleNeed{
     margin-top: 20px;
     height: 632px;
     background-image: url('../images/f1.png');
     background-position: top;
     background-repeat: no-repeat;
     min-width: inherit;

}


/* .goodDeeds -----------------------------------------------------------------------*/
.goodDeeds__container{
     height: 318px;
     position: relative;
     z-index: 1;
     background-image: url('../images/lay-2.png');
     background-position: top;
     background-repeat: no-repeat;
}





/* .daydream ------------------------------------------------------------------------*/
.daydream{
     height: 841px;
     background-image: url('../images/canUsee.png');
     background-position: top;
     background-repeat: no-repeat;
}

.butt-play{
     position: absolute;
     top: 338px;
     left: 50%;
     margin-left: -126px;
     width: 253px;
     height: 249px;
     background-image: url('../images/butt-play.png');
     background-repeat: no-repeat;
     text-decoration: none;
     cursor: pointer;
}





/* .blockInfo -----------------------------------------------------------------------*/
.blockInfo{background-color: #fff; }


.blockInfo__buttCont{position: relative; display: block; text-align: center; margin-top: 110px; }
.blockInfo__buttCont li{position: relative; display: inline-block; vertical-align: top; margin: 0px 6px; }

.blockInfo__buttCont li a{
     position: relative; 
     display: block; 
     width: 100%;
     height: 96px;
     padding: 24px 20px 0px 105px;
     text-align: left;
     font-size: 24px;
     line-height: 45px;
     color: #fff;
     font-family: 'UbuntuBold', sans-serif;
     text-transform: uppercase;
     text-decoration: none;
     background-repeat: no-repeat; 
     background-position: 20px center;
    -webkit-border-radius: 8px;
     -khtml-border-radius: 8px;
       -moz-border-radius: 8px;
	       border-radius: 8px;
}
.blockInfo__give{background-color: #5781b3; background-image: url('../images/butt-giveThings.png'); }
.blockInfo__give:hover{background-color: #3d4e9d; }

.blockInfo__necessary{background-color: #f36624; background-image: url('../images/butt-necessaryThings.png'); }
.blockInfo__necessary:hover{background-color:#e55d1d; }




.socNet{position: relative; display: inline-block; vertical-align: top; width: 100%; margin: 115px 0px 60px 0px; }
.socNet__text{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     margin-left: 52px;
     width: 540px;
     font-size: 28px;
     color: #f15c20;
     line-height: 34px;
     font-family: 'NoteworthyBold', sans-serif;
}
.socNet__text:after{position: absolute; top: -48px; right: -180px; content: ''; width: 239px; height: 47px; background-image: url('../images/arrow.png'); background-repeat: no-repeat;  }


.socNet__list{position: relative; display: inline-block; float: right; margin-right: 60px; }
.socNet__list li{position: relative; display: inline-block;  margin: 0px 10px; }
.socNet__list li a{position: relative; display: inline-block; text-decoration: none;}

.socNet-ok{
     height: 56px;
     width: 56px;
     background-image: url('../images/socNet-ok.png'); }
.socNet-fb {
     height: 56px;
     width: 56px;
     background-image: url('../images/socNet-fb.png'); }
.socNet-vk{
     height: 56px;
     width: 56px;
     background-image: url('../images/socNet-vk.png'); }






/* .footer -------------------------------------------------------------------------*/
.footer{
     height: 75px;
     margin-top: -75px;
     background-color: #faf5eb;
}

.footer-menu{position: relative; float: left; margin-top: 27px; }
.footer-menu li{position: relative; display: inline-block; vertical-align: top; margin-right: 41px; }
.footer-menu li a{position: relative; display: inline-block; vertical-align: top; font-size: 18px; color: #000; text-decoration: none; }
.footer-menu li a:hover{text-decoration: underline; }

.footer-info{position: relative; display: inline-block; vertical-align: top; float: right; margin-top: 30px; font-size: 12px; color: #000; text-decoration: none;  }







/* .popUp --------------------------------------------------------------------------*/
.popUp{position:fixed; display: none; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1000; background-color: rgba(0,0,0,0.5); }
.popUp__wind{
     position: absolute;
     width: 800px;
     height: 500px;
     top: 50%;
     left: 50%;
     margin: -250px 0px 0px -400px;
     padding: 20px 20px;
     background-color: #fff;
    -webkit-border-radius: 10px;
     -khtml-border-radius: 10px;
       -moz-border-radius: 10px;
	       border-radius: 10px;
}

.popUp__close{
     position: absolute;
     top: -15px;
     right: -15px;
     width: 30px;
     height: 30px;
     background-image: url('../images/popUp-close.png');
     background-repeat: no-repeat;
     background-size: auto 100%;
     background-color: #fff;
     cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 2px #000;
       -moz-box-shadow: 0px 0px 0px 2px #000;
            box-shadow: 0px 0px 0px 2px #000;
    -webkit-border-radius: 1000px;
     -khtml-border-radius: 1000px;
       -moz-border-radius: 1000px;
	       border-radius: 1000px;
     
}

.ta_right{text-align: right;}
.ta_center{text-align: center;}
.foot-sc a:hover{opacity: 1;}
.foot-sc a.sc-fb{background: url(../images/fb.png) no-repeat 0 0;}
.foot-sc a.sc-vk{background: url(../images/vk.png) no-repeat 0 0;}
.foot-sc a.sc-ok{background: url(../images/ok.png) no-repeat 0 0;}
.foot-copyright{}
.foot-wm{}





/* @media --------------------------------------------------------------------------*/
@media screen and (max-width: 1050px) {

     .bl{
          margin-left: 30px;
     }
     .p1{
          font-size: 30px;
     }
     .p1-sl{
          font-size: 20px;
     }
     
     html, body{-webkit-text-size-adjust: none; }

     .hat, .peopleNeed, .goodDeeds, .daydream, .blockInfo, .footer{
          min-width:inherit;
     }
     .hat__container,
     .peopleNeed__container,
     .daydream__container,
     .blockInfo__container,
     .footer__container{
          width:auto;
          padding-left: 20px;
          padding-right: 20px;
     }
     
    
     
}

@media screen and (max-width: 980px) {

     .dream-msg-btn p {
     margin-left: 55px;
     margin-top: -24px;
}
     .arrow {
          left: 274px;
     }
     .container-fluid {
          overflow: hidden;
     }
     .hat-menu li a{
          width: 100%;
          height: 45px;
          padding: 10px;
          line-height: 24px;
          font-size: 15px;
     }
     .ipad{
          background-size: auto 80%;
     }
     .socNet__text{margin-left: 0px; }
     
     .socNet__list{margin-right: 0px; }
     .socNet__list li{margin: 0px 6px; }

     .hat-menu{margin-left: 30px; }
     .hat-menu li a{width: 100%; }

     .socNet__list li a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; width: 57px; height: 56px; }
     
}

@media screen and (max-width: 880px) {

     .ipad{
          background-size: auto 80%;
     }
     .hat{height: 200px; }
     .logo{display: block; margin: 10px 0px 0px 0px; text-align: center; }
     
     .hat-menu{display: block; margin: 12px 0px 0px 0px; text-align: center; }

     .identification{display: block; text-align: center; float: none; margin-top: 10px; }
     
     
     .hat.minBox{height: 100px; }
     .hat.minBox .logo{margin-top: 4px; }
     .hat.minBox .logo img{height: 20px; }
     .hat.minBox .hat-menu{margin: 4px 0px 0px 0px; }
     .hat.minBox .identification{margin-top: 6px; }
     
     
     .peopleNeed{
          margin-top: 100px;
          height: 600px;
          background-size: auto 100%;
     }
     .goodDeeds__container{
          height: 250px;
          background-size: 190%;
     }
     .daydream{
          height: 550px;
          background-size: auto 100%;
     }
     .butt-play{
          top: 260px;
          margin-left: -60px;
          width: 120px;
          height: 120px;
          background-size: auto 100%;
     }
     
     
     .popUp__wind{
          width: 600px;
          height: 400px;
          margin: -200px 0px 0px -300px;
     }

     .socNet__list li a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; width: 56px; height: 56px; }

}

@media screen and (max-width: 830px) {
     .bl{
          height: 180px;

     }
     .bl-4{
          margin-top: 80px;
     }
     .txt-def{
          text-align: center;
     }
     .bz-xs{
          text-align: center;
     }
     .ipad{
          background-size: auto 70%;
     }
     .blockInfo__buttCont{margin-top: 50px; }
     
     .socNet{margin: 50px 0px 40px 0px; }
     .socNet__text{display: block; width: 100%; }
     .socNet__text:after{display: none; }
     
     .socNet__list{display: block; margin-top: 40px; float: none; text-align: center; }  
     
     .footer-menu li{margin-right: 20px; }

     .p1{
          font-size: 25px;
     }
     .p1-sl{
          font-size: 18px;
     }
     .goodDeeds__container{
          height: 240px;
          background-size: 190%;
     }
     .peopleNeed{
          height: 332px;
          background-size: 1000px;
     }
}

@media screen and (max-width: 768px) {

     bl{
          margin-left: 10px;
     }
     .txt-def{
          text-align: center;
     }
     .bz-xs{
          text-align: center;
     }
     .txt{
          font-family: 'UbuntuRegular', sans-serif;
          font-size: 10px;
          color: #fff;
     }
     .ipad{
          height: 300px;
          background-size:auto 80%;
     }
     .text{
          margin-top: 90px;
     }
     .fo-row{
          height: 360px;
     }
     .hat-menu li a{
          width: 100%;
          height: 35px;
          padding: 10px;
          line-height: 12px;
          font-size: 12px;
     }

     .p1{
          font-size: 25px;
     }
     .p1-sl{
          font-size: 18px;
     }

     .goodDeeds__container{
          height: 200px;
          background-size: 190%;
     }
     
     .socNet{margin: 30px 0px 40px 0px; }
     .blockInfo__buttCont li{display: block; margin: 0px 0px 20px 0px; }

     .blockInfo__buttCont li a{
          display: block;
          width: 100%;
          height: 88px;
          padding: 36px 10px 0px 100px;
          font-size: 18px;
          line-height: 20px;
          background-position: 16px center;
     }
     
     .socNet__text{font-size: 24px; line-height: 30px; }

     .hFooter{height: 100px;}
     .footer{height: 300px; margin-top: -300px; }
     
     .footer-menu{display: block; float: none; margin-top: 0px; padding-top: 30px; }
     .footer-menu li{display: block; margin: 0px 0px 30px 0px; text-align: center; }
     .footer-info{display: block; float: none; margin-top: 50px; text-align: center; }

     
     
     .popUp{cursor: pointer; }
     .popUp__wind{
          width: 100%;
          height: 400px;
          left: 0px;
          padding: 8px;
          margin: -200px 0px 0px 0px;
         -webkit-border-radius: 0px;
          -khtml-border-radius: 0px;
            -moz-border-radius: 0px;
                 border-radius: 0px;
     }
     
     .popUp__close{display: none; }

     .socNet__list li a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; width: 57px; height: 56px; }
}

@media screen and (max-width: 600px) {
     .socNet__list li a{
          height: 55px;
          width: 56px;
     }
     blockInfo__buttCont li a{line-height: 10px}
     .col-xs-12{
          margin-left: 0;
     }
     bl{
          margin-left: 10px;
     }
     .txt-def{
          text-align: center;
     }
     .bz-xs{
          text-align: center;
     }
     .txt{
          font-family: 'UbuntuRegular', sans-serif;
          font-size: 11px;
          color: #fff;
     }
     .ipad{
          height: 250px;
          margin-top: 90px;
          background-size: auto 60%;
     }
     .text{
          margin-top: 100px;
     }
     .p1{
          padding: 0;
     }
     .peopleNeed{
          height: 265px;
          background-size: 800px;
     }
     .goodDeeds{height: 290px; }
     .daydream{height: 340px; }
     .goodDeeds__container{
          height: 200px;
          background-size: 190%;
     }
     .butt-play{
          top: 160px;
          margin-left: -30px;
          width: 60px;
          height: 60px;
     }
     
     .popUp__wind{
          height: 300px;
          margin: -150px 0px 0px 0px;
     }
     .p1{
          font-size: 18px;
     }
     .p1-sl{
          font-size: 14px;
     }
}
@media screen and (max-width: 380px) {
     .bl-4{
          height: 200px;
     }
     .socNet__list li a {
          height: 56px;
          width: 57px;
     }
     .blockInfo__buttCont li a {
          font-size: 15px;
          padding-top: 30px;
          padding-left: 90px;
          text-align: center;
          line-height: 20px;
     }
     .ipad{
          height: 200px;
          background-size: auto 60%;
     }
     .p1-sl{
          margin: 0;
     }
     .text{
          margin-top: 100px;
     }
     bl{
          margin-left: 10px;
     }
     .txt-def{
          text-align: center;
     }
     .bz-xs{
          text-align: center;
     }
     .txt{
          font-family: 'UbuntuRegular', sans-serif;
          font-size: 10px;
          color: #fff;
     }
     .logo img{height: 60px; }

     .goodDeeds{height: 200px; }
     .daydream{height: 250px; }
     
     .butt-play{
          top: 120px;
          margin-left: -25px;
          width: 50px;
          height: 50px;
     }
     
     .popUp__wind{
          height: 260px;
          margin: -130px 0px 0px 0px;
     }

     .goodDeeds__container{
          height: 180px;
          background-size: 190%;
     }

     .peopleNeed{
          height: 215px;
          background-size: 650px;
     }
}
















