body{
	margin:0;
	background:#ffffff url(../img/bg.gif) repeat-x 50% -30px;
	font:12px/16px Arial, Helvetica, sans-serif;
}

body.indexp{
	background:transparent url(../img/bg.gif) repeat-x 50% 0;}
body.printmod{	background: none;
	margin: 10px;}

.float{float:left !important;}
.float_r{float:right !important;}
.clear{clear:left !important;}
.clear_r{clear:right !important;}
.both{clear:both !important;}
.w49{width:49% !important;}
.w50{width:50% !important;}
.w100{width:100% !important;}
.bold{font-weight:bold !important;}
.italic{font-style:italic !important;}
.ta_left{text-align:left !important;}
.ta_right{text-align:right !important;}
.ta_center{text-align:center !important;}
.relative{position:relative !important;}
.absolute{position:absolute !important;}
.block{display:block !important;}
.inline-block{display:inline-block !important;}
.f11{ font-size: 11px; }

h1, h2, h3, h4, h5, h6, p{
	margin:0;
	padding:0;
}

form, fieldset, input,
label, textarea, select{
	margin:0;
	padding:0;
}
table, img{border:none;}
a{color:#0c7eb9;}
a:hover{text-decoration:none;}

table.t_black{color: #000;}

.error{ text-align: center; color: red; padding: 10px 0px 10px 0px; }

#page{	padding: 0px 24px 0px 24px;
	margin: 0;
	background: transparent url(../img/bg2.gif) repeat-x 50% bottom;}

#header{
	height: 90px;}

.indexp #header{	height: 149px;}

.indexp #page{
	padding: 0px 100px 0px 100px;
}

#logo{
	width:220px;
	height:70px;
	float:left;
	padding:20px 0 0 0;
}
#logo a{outline:none;}

.indexp #header #logo{
	height: 90px;
	padding-top: 38px;
}

.tright{	width: 180px;
	height: 70px;
	padding: 25px 0 0 0;
	float: right;}

.indexp #header .tright{
	height: 90px;
	padding-top: 43px;
}

.tright2{
	width: 265px;
	height: 70px;
	padding: 25px 0 0 20px;
	float: right;
}

.tmenu{	background: url(../img/tsep.gif) no-repeat left top;
	height: 30px;
	text-align: right;
	padding-top: 6px;}

.tmenu a.active{	text-decoration: none;
	border-bottom: 3px solid #fa9e00;
	color: #000000;}

.tmenu a.exit{	background: url(../img/a-exit.gif) no-repeat left top;
	height: 21px;
	padding: 2px 0px 0px 20px;}

.tmenu span{
	background: url(../img/a-usr.gif) no-repeat left top;
	height: 21px;
	padding: 2px 0px 0px 20px;
	font-weight: bold;}

.tcen{	margin: 0px 230px 0px 230px;
	text-align: center;
	padding: 26px 0px 0px 0px;}

.indexp #header .tcen{
	padding-top: 44px;
}

.tname{	font: bold 16px Arial;
	color: #707070;}

.thome{	float: left;
	width: 150px;
	padding: 30px 0px 0px 30px;}

.thome a{
	background: url(../img/a-view-site.gif) no-repeat left top;
	height: 22px;
	padding: 1px 0px 4px 28px;}

#main{}

#footer{	clear: both;	height: 101px;
	color: #636363;}

#footer #fleft{	float: left;
	width: 240px;
	padding: 62px 0px 0px 0px;}

#footer #fright{
	float: right;
	width: 200px;
	padding: 62px 0px 0px 0px;
	text-align: right;
}

/* index login */
.logpage{	padding: 45px 0px 200px 0px;
	background: transparent url(../img/log-shadow.gif) no-repeat 52% 320px;
	text-align: center;}

.logpage h1{	font: normal 24px/28px Arial;
	padding: 4px 0px 20px 0px;
	color: #797979;}

#logbox{	width: 506px;
	height: 223px;
	margin: 0 auto;	border:3px solid #fa9e00;
	background:#fbfbfb url(../img/bg-log.gif) repeat-x 0 0;
	border-radius:14px 14px 14px 14px;
	/*-moz-border-radius:14px 14px 14px 14px;*/
	-webkit-border-radius:14px 14px 14px 14px;
	-khtml-border-radius:14px 14px 14px 14px;}

.logboxerr{	border:3px solid #df0015;}

#logbox .errpan{	height: 62px;
	color: #df0015;}
#logbox .errpan p{
	padding: 20px 0px 0px 0px;
}

#logbox table{	margin-left: 52px;}

#logbox table td{	padding: 5px 6px 5px 6px;}

#logbox table input{	width: 300px;
	font-size: 12px;}

#logbox .entpan{	padding-top: 20px;}

/* inside */

#leftc{	width: 223px;
	float: left;}

.lblock{	background: #f4f4f4;	background: linear-gradient(#FFFFFF, #EEEEEE) repeat scroll 0 0 transparent;
    border: 1px solid #D9D9D9;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 4px;
    padding: 12px 0px 14px 8px;}

.lblock div{	padding: 2px 2px 4px 20px;
	background: url(../img/a-mlink.gif) no-repeat 4px 3px;}

.lblock div.lblk-group{	font-size: 16px;
	padding: 0px 2px 4px 20px;
	background: url(../img/ico-sect.gif) no-repeat 0 0;}

#centc{	margin: 0px 0px 0px 228px;
	padding: 30px 27px 30px 27px;
	background:#ffffff;
	border:3px solid #fa9e00;
	border-radius:6px 6px 6px 6px;
	/*-moz-border-radius:6px 6px 6px 6px;*/
	-webkit-border-radius:6px 6px 6px 6px;
	-khtml-border-radius:6px 6px 6px 6px;}

#centc_popup{
	margin: 0px 0px 0px 0px;
	padding: 30px 27px 30px 27px;
	background:#ffffff;
	border:3px solid #fa9e00;
	border-radius:6px 6px 6px 6px;
	/*-moz-border-radius:6px 6px 6px 6px;*/
	-webkit-border-radius:6px 6px 6px 6px;
	-khtml-border-radius:6px 6px 6px 6px;
}

#breadcrumbs{	padding: 0px 0px 5px 0px;
	font-size: 11px;}

#breadcrumbs a{ color: #747b7e; }
#breadcrumbs a:hover{ color: #545b5e; }

h1{	padding: 4px 0px 12px 0px;
	font: normal 28px/32px Arial;}

h2{
	padding: 4px 0px 10px 0px;
	font: normal 21px/23px Arial;
	font-style: italic;
	color: #363636;
}

.dd-row{	padding: 0px 0px 4px 0px;}
.dd-right{
	float: right;
	width: 200px;
	text-align: right;
}

.dd-sep{
	border-top: 2px solid #b5b5b5;
	padding: 0px 0px 16px 0px;
}

.dd{	border-top: 2px solid #b5b5b5;
	border-bottom: 2px solid #b5b5b5;
	padding: 5px 0 5px 0;}

.dd .left{	float: left;
	width: 384px;}

.dd .right{
	float: right;
	width: 345px;
}

.dd .cen{
	margin: 0px 345px 0px 385px;
	text-align: center;
}

.cpages{
	/*float:left;*/
	line-height:18px;
	display:inline;
}
.cpages a, .cpages span{float:left; color: #000000; }
.a-first{
	width:22px;
	height:20px;
	margin:0 1px;
	background:url(../img/p-first.png) no-repeat;
}
.a-prev{
	width:22px;
	height:20px;
	margin:0 1px;
	background:url(../img/p-prev.png) no-repeat;
}
.a-next{
	width:22px;
	height:20px;
	margin:0 1px;
	background:url(../img/p-next.png) no-repeat;
}
.a-last{
	width:22px;
	height:20px;
	margin:0 1px;
	background:url(../img/p-last.png) no-repeat;
}
.a-page{margin:0 4px;}

.cpages span{
	width:20px;
	height:21px;
	background:url(../img/p-sel.png) no-repeat 50% 18px;
	text-align:center;
	font-weight: bold
}

.tbltopbrd th, tr.topbrd td{	border-top: 2px solid #b5b5b5;}

.tbldat{	font-size: 11px;
	border:0;
	padding:0;
	border-collapse:collapse;
	width: 100%;
	color: #747b7e;}

.tbldat th{	background: #e9e9e9 url(../img/tbl-bg-h.png) repeat-x 0 0;
	height: 44px;
	vertical-align: middle;
	padding: 0 3px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;}

.tbldat td{	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	padding: 3px 4px 3px 4px;
	background: #ffffff;
	text-align: center;
	vertical-align: middle;}

.tbldat .tblh2{	background: #969696 url(../img/tbl-bg-h2.png) repeat-x !important;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 0px 3px 0px;
	text-align: center;}

.pf-filter td{ background: #beebff; }

.even td{ background: #f6f6f6; }

.tbldat .highlight td{ background: #f0f0f0; }
.tbldat .pf-filter td{ background: #beebff !important; }
.tbldat input{font-size: 11px;}

.pf-filter a{ color: #000; }
.pf-filter a:hover{ color: #444; }

td.ls{	border-right: 0px;
	padding-left: 10px;}
th.ls{
	border-right: 0px;}

a.tpl{	height:22px;
	padding: 3px 0px 4px 25px;
	background: url(../img/a-tpl.png) no-repeat 0 0;
	float: left;
	/*display: block;*/
	width: 120px;}
td.grname{
	font-size: 18px;
	padding: 12px 0px 4px 0px;
}
td.p-name{	font: 12px/12px Arial;
	text-align: left;
	padding-left: 12px;
	color: #000000;}
td.p-name span{	font-size: 10px;
	color: #747b7e;}
td.pad0{	padding: 0 1px;}
td.dt{font: 11px/12px Arial;}
td.dt span{font-size: 10px; color: #707070;}
td.dgray{color: #747b7e;}

.arc td, .arc td.p-name, .arc td.p-name span{ color: #a6a6a6; }
.curp td{	background-color: #f8ecce;}

.pst-new, .pst-soon, .pst-spez, .pst-act, .pst-hit/*, .pst-new-sel, .pst-soon-sel, .pst-spez-sel, .pst-act-sel*/{	width: 22px;
	height: 22px;
	display: inline-block;}
.pst-new{background: url(../img/pst-new-no.png) no-repeat;}
.pst-soon{background: url(../img/pst-soon-no.png) no-repeat;}
.pst-spez{background: url(../img/pst-spez-no.png) no-repeat;}
.pst-hit{background: url(../img/pst-hit-no.png) no-repeat;}
.pst-act{background: url(../img/pst-act-no.png) no-repeat;}
.pst-new-sel{background: url(../img/pst-new-yes.png) no-repeat;}
.pst-soon-sel{background: url(../img/pst-soon-yes.png) no-repeat;}
.pst-spez-sel{background: url(../img/pst-spez-yes.png) no-repeat;}
.pst-act-sel{background: url(../img/pst-act-yes.png) no-repeat;}
.pst-hit-sel{background: url(../img/pst-hit-yes.png) no-repeat;}

.arc-label{padding: 20px 120px 20px 120px; text-align: center; color: red;}

.yes{ font-weight: bold; color: red; }


.tblfrm{
	font-size: 12px;
	border:0;
	padding:0;
	border-collapse:collapse;
	color: #747b7e;}
.tblfrm th{
	background: #969696 url(../img/tbl-bg-h2.png) repeat-x;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 0px 3px 0px;
	text-align: center;
}
.tblfrm td{
	border-bottom: 1px solid #d9d9d9;
	padding: 3px 14px 3px 14px;
	background: #ffffff;
}
.tblfrm td.ff{ background: #f4f4f4; padding: 2px 8px 2px 12px; text-align: right; }
.tblfrm .even td{ background: #f6f6f6; }
.tblfrm .even td.ff{ background: #ededed; }
.tblfrm td .fw{ width: 94%; }
.tblfrm td.ffw130{ width: 130px; }
.tblfrm td.fh{ font-weight: bold; text-align: center; background: #f0f0f0; }
.tblfrm td.ff span{ font-size: 11px; color: #949b9e;}

.frmbtn{	text-align: right;
	padding: 12px 10px 20px 0px;}

/* pages */
.page-nomenu{	padding: 4px 0px 4px 28px;
	background: url(../img/page-sub-ico.gif) no-repeat 7px 2px;
	text-align: left;
	font-size: 13px;}
.page-menu{
	padding: 3px 0px 3px 28px;
	background: url(../img/page-menu.gif) no-repeat 3px 1px;
	text-align: left;
	font-size: 18px;
}
.page-msub1{
	margin-left: 12px;	padding: 3px 0px 3px 40px;
	background: url(../img/page-sub.gif) no-repeat 0px 1px;
	text-align: left;
	font-size: 13px;
	font-weight: bold;}
.page-msub2{
	margin-left: 36px;
	padding: 2px 0px 2px 40px;
	background: url(../img/page-sub.gif) no-repeat 0px 1px;
	text-align: left;
	font-size: 12px;
}

.tblfrm td.picit{	padding: 6px 10px 6px 10px;
	text-align: center;}
.tblfrm td.picit .brd{	border: 1px solid #b0b0b0;
	padding: 5px 4px 5px 4px;}

/* sect tree */
.row-top{
	padding: 3px 0px 3px 8px;
	text-align: left;
	font-size: 18px;
	color: #000000;}
.row-sub{
	padding: 2px 0px 2px 17px;
	background: url(../img/page-sub-arr.gif) no-repeat 0px 1px;
	text-align: left;
	font-size: 12px;
	color: #000000;
}
.row-lev1{	font-weight: bold;}
.row-tm{
	padding: 2px 0px 2px 20px;
	/*background: url(../img/page-sub-arr.gif) no-repeat 0px 1px;*/
	text-align: left;
	font-size: 11px;
	color: #000000;
}

/* file manager */
.filemanager-frm{	width: 600px;
	margin: 0 auto;
	padding: 20px 0px 5px 0px;}
.filemanager-frm tr.topbrd{ border-top: 2px solid #b5b5b5; }
.filemanager-frm div{ padding: 0px 0px 4px 0px; }
.filemanager-frm div.frmbtn{
	text-align: left;
	padding: 12px 10px 20px 0px;
}
.fileman-path{	padding: 6px 0px 8px 0px;
	font-weight: bold;
	font-size: 14px;}
.fileman-path span{ font-weight: normal; font-style: italic; }
a.fm-choose{	float: right;
	display: block;
	width: 92px;
	height: 22px;
	background: url(../img/fileman-btn-choose.png) no-repeat;}
.fm-dir{	background: url(../img/ico-folder.png) no-repeat 4px 4px;
	text-align: left;
	font-weight: bold;
	padding: 4px 0px 3px 30px;}
.fm-dir a{}
.fm-file{	background: url(../img/ico-file-basic.png) no-repeat 7px 4px;
	text-align: left;
	padding: 4px 0px 3px 30px;}

/* old */
/*
#i_tmf_text{
	width:336px;
	height:20px;
	float:left;
	background:#fff;
	border-style:solid;
	border-color:#b4b4b4 #e8e8e8 #e8e8e8 #b4b4b4;
	border-width:1px;
	padding:2px 6px;
	font:12px/20px Arial, Helvetica, sans-serif;
}
*/


.preference-frm{	width: 400px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;}

.w600-frm{
	width: 600px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;}

.w600-frm .tblfrm{	width: 600px;}

table.paramtbl input, table.paramtbl select{	font-size: 11px;}

.back-links{	padding: 16px 0px 16px 0px;
	text-align: center;}

.flrpan{	float: right;
	width: 550px;}

/* user */
.tbldat td.u-act, .tbldat td.u-act-no{
	text-align: left;
	padding-left: 14px;
}
.u-act span{
	background: url(../img/usr-act.png) no-repeat 2px 1px;
	padding: 5px 0px 5px 24px;
	font: bold 12px/14px Arial;
	color: #000;
}
.u-act-no span{
	background: url(../img/usr-deact.png) no-repeat 0 0;
	padding: 5px 0px 5px 24px;
	font: bold 12px/14px Arial;
	color: #000;
}

.tbldat td.u-cont{
	text-align: left;
	padding: 5px 14px 5px 14px;
}

.u-addr{
	font: italic 12px/16px Arial;
	color: #000000;
}
.u-inf{
	padding: 3px 0px 2px 0px;
	display: none;
}
.u-inf span{ width: 40px; display: inline-block; }
.u-inf a{ color: #545b5e; }

.u-slide{ text-align: right; }

a.a-slide{
	padding-right: 16px;
	color: #747b7e;
	text-decoration: none;
}
a.a-slide:hover{ color: #444b4e; }
a.a-slide { background: url(../img/a-btn-expand.png) no-repeat 100% 1px; }
a.a-collapse { background: url(../img/a-btn-collapse.png) no-repeat 100% 1px; }
a.a-slide span{
	border-bottom: 1px dotted #747b7e;
}

/* calendar fields */
table.calendtbl{	margin: 0;
	padding: 0;
	border-collapse: collapse;}
table.calendtbl td{	padding: 0;
	border: 0;
	background: none;}

/* orders page */
.tbldatfrm{ border-top: 1px solid #D9D9D9; }
.tbldat td.thb{ text-align: left; font: bold 12px/14px Arial; color: #272727; padding: 2px 12px 2px 14px; }
table.frmintbl{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
table.frmintbl td{
	padding: 2px 4px;
	border: 0;
	background: none;
}

#addorderlnk{	padding: 2px 0px 2px 35px;
	background: url(../img/btn-order-new.png) no-repeat 0 3px;
	font: 20px/24px Arial;
	text-decoration: none;
}
#addorderlnk span{	border-bottom: 1px dotted #0C7EB9;}

.tbldatfrm2{ border-top: 2px solid #D9D9D9; border-bottom: 2px solid #D9D9D9; }
.tbldatfrm2 td{ text-align: left; padding-left: 10px; font-size: 12px; color: #000; }
.tbldatfrm2 td div{
	float: left;
	width: 145px;
	padding: 2px 0px 2px 3px;
	line-height: 16px;
}
.tbldatfrm2 td div input{ position: relative; top: 2px; margin-right: 2px; }

.ddsm{	padding: 26px 0px 8px 0px;
	font-size: 11px;
	line-height: 12px;}
.ddsm a{	color: #000;
	text-decoration: none;}
.ddsm a:hover{ color: #404040; }
.ddsm a span{ border-bottom: 1px dotted #000; }
.ddsm a:hover span{ border-bottom: 1px dotted #404040; }

.tblorders{	color: #000;
	line-height: 12px;
	border-top: 2px solid #b5b5b5;
	border-bottom: 2px solid #b5b5b5;}

.tblorders td.ls{	width: 60px;
	padding: 0;}

.tblorders td.ord-dt span{ font-size: 10px; }

.tblorders td.ord-st{
	font-size: 10px;
	color: #747b7e;
	width: 65px;
}

.tblorders td.ord-false{ background-color: #fbe4e2; }
.tblorders td.ord-new{  }
.tblorders td.ord-proces{ background-color: #e8f7ff; }
.tblorders td.ord-wait{ background-color: #e8f7ff; }
.tblorders td.ord-ready{ background-color: #fffedb; }
.tblorders td.ord-deliv{ background-color: #fffedb; }
.tblorders td.ord-done{ background-color: #f0ffd9; }
.tblorders td.ord-return{ background-color: #fbe4e2; }

.tblorders td.ord-adr{ text-align: left; }
.tblorders td.ord-adr p{ font-style: italic; }
.tblorders td.ord-adr div{ color: #747b7e; }

.tblorders td.ord-com{ font-size: 10px; }


.tblfrmin{
	color: #000;
	margin: 0;
	padding: 0;
	border-collapse: collapse;}
.tblfrmin th{	background: none;
	font-weight: bold;}


/* price module */
.tblprice{}
.tblprice input.txtprice{	width: 50px;
	text-align: right;}
.tblprice .prtypegroup{
	color: #000;
	background-color: #F0F0F0;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px 0px 4px 10px;
	text-align: left;
	text-transform: uppercase;
}

.addfrmcont{	display: none;}
.contvis{	display: block;}

#reslayout table{	width: 100%;}

/* main page icon layout */
.ind-menu{}

.ind-menu td{	width: 46%;
	padding: 10px 0;
	vertical-align: top;}

.ind-ico{	float: left;
	width: 190px;
}

.ind-info{	float: left;
	width: 240px;}

.ind-group{	padding: 8px 0px 6px 0px;
	font: 18px/22px Arial;
	font-style: italic;}

.ind-links ul{	list-style: none;
	margin: 0;
	padding: 0;}
.ind-links ul li{	background: url(../img/a-arr.gif) no-repeat 2px 8px;
	padding: 2px 0px 6px 15px;}


.a-edtr{	float: right;
	width: 22px;
	height: 22px;
	background: url(../img/a-edit.png) no-repeat;
	display: inline-block;}



table.ccpst{	/*border-collapse: collapse;*/
	margin: 0;
	padding: 0;}
table.ccpst td{ padding: 0; border: 0; width: 10px; height: 24px; }
table.ccpst td img{display: block;}
